<!-- button fab -->
<div
  class="fab_menu"
  [ngStyle]="{
    right:
      side && window.innerWidth > 600
        ? '21vw'
        : side && window.innerWidth < 600
        ? '70vw'
        : '10px'
  }"
>
  <button
    mat-fab
    tabindex="-1"
    (click)="open()"
    [matBadge]="badgeCount"
    [matBadgeHidden]="badgeHidden"
    class="customFab"
    [ngStyle]="{
      'background-color': brightness ? 'white' : ' rgb(100,100, 100)',
      color: brightness ? '#E84858' : 'violet',
      opacity: side ? '1' : '0.3'
    }"
    matTooltip="updates"
    matTooltipPosition="left"
  >
    <mat-icon *ngIf="!side">menu_open</mat-icon>
    <mat-icon *ngIf="side">close</mat-icon>
  </button>

  <button
    mat-fab
    tabindex="-1"
    *ngIf="checkUser"
    class="customFab"
    [ngStyle]="{
      'background-color': brightness ? 'white' : ' rgb(100,100, 100)',
      color: brightness ? '#E84858' : 'violet'
    }"
    (click)="newUpdateDialog()"
    matTooltip="add update"
    matTooltipPosition="left"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #newUpdate>
  <div
    class="container-fluid new_update"
    [ngStyle]="{
      'background-color': brightness ? 'white' : ' rgb(100,100, 100)',
      color: brightness ? 'black' : 'white'
    }"
  >
    <h5 *ngIf="!isEditUpdate; else editUpdateTemplate">Add New Update</h5>
    <ng-template #editUpdateTemplate>Edit Update </ng-template>
    <hr />
    <div class="update_image_preview">
      <img class="updateImg" [src]="_imgUrlModel" *ngIf="_imgUrlModel" />
    </div>

    <br />
    <mat-form-field
      appearance="outline"
      [ngClass]="brightness ? 'inputTextColorD' : 'inputTextColorL'"
      class="w-100"
    >
      <mat-label>image url</mat-label>
      <input
        type="text"
        matInput
        placeholder="img url"
        [(ngModel)]="_imgUrlModel"
      />
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      [ngClass]="brightness ? 'inputTextColorD' : 'inputTextColorL'"
      class="w-100"
    >
      <mat-label>content</mat-label>

      <textarea
        matInput
        placeholder=""
        rows="5"
        [(ngModel)]="_contentModel"
      ></textarea>
    </mat-form-field>

    <div class="links">
      <mat-form-field
        appearance="outline"
        [ngClass]="brightness ? 'inputTextColorD' : 'inputTextColorL'"
      >
        <mat-label>links</mat-label>

        <input
          type="text"
          matInput
          placeholder="img links"
          [(ngModel)]="_linkModel"
        />
      </mat-form-field>
      <span
        ><button mat-icon-button (click)="addLink()">
          <mat-icon>add</mat-icon>
        </button></span
      >
    </div>

    <div class="btns_list">
      <button class="btn-danger" mat-raised-button (click)="cancelUpdate()">
        Cancel
      </button>
      <button
        *ngIf="!isEditUpdate"
        class="btn-primary"
        mat-raised-button
        (click)="saveUpdate()"
        [disabled]="!_contentModel"
      >
        Save
      </button>
      <button
        *ngIf="isEditUpdate"
        class="btn-primary"
        mat-raised-button
        (click)="editUpdate()"
        [disabled]="!_contentModel"
      >
        Save
      </button>
    </div>

    <div class="links_list" *ngIf="updateLinksArr.length > 0; let i = index">
      <hr />
      <ng-container *ngFor="let links of updateLinksArr">
        {{ links }}
        <span
          ><button mat-icon-button (click)="removeLink(i)">
            <mat-icon>close</mat-icon>
          </button></span
        >
      </ng-container>
    </div>
  </div>
</ng-template>

<mat-sidenav-container class="example-container">
  <mat-sidenav
    class="example-sidenav"
    mode="side"
    [opened]="side"
    (closedStart)="onClose()"
    [ngStyle]="{
      'background-color': brightness ? 'white' : ' rgb(100,100, 100)',
      color: brightness ? '#E84858' : 'violet'
    }"
  >
    <h5
      class="text-center mb-3 mt-2"
      [ngStyle]="{
        color: brightness ? '#E84858' : 'violet'
      }"
    >
      Quick Updates
    </h5>

    <p *ngIf="updates.length == 0">nothing here.....</p>
    <div
      class="skeleton_loader"
      *ngIf="updates?.length == 0"
      [ngStyle]="{
        'background-color': brightness ? '#E84858' : ' rgb(32, 33, 33)',
        color: brightness ? 'black' : 'rgb(160,160,160)'
      }"
    >
      <p-skeleton width="100%" height="300px"></p-skeleton>
      <br /><br />
      <p-skeleton width="100%" height="100px"></p-skeleton>
    </div>
    <ng-container *ngFor="let up of updates; let i = index">
      <mat-card
        appearance="raised"
        class="updates_card"
        [ngStyle]="{
          'background-color': brightness ? 'white' : ' rgb(100,100, 100)',
          color: brightness ? 'black' : 'white'
        }"
        (click)="viewUpdate(up)"
      >
        <div class="update_img">
          <img
            mat-card-image
            *ngIf="up.updateImgUrl"
            src="{{ up.updateImgUrl }}"
          />
        </div>

        <mat-card-content>
          {{ up.updateText }}
          <div *ngIf="up.updateLinks.length > 0">
            <hr />

            <ng-container *ngFor="let link of up.updateLinks">
              <a
                href="{{ link }}"
                target="_blank"
                [matTooltip]="link"
                matTooltipPosition="left"
                >{{ link | slice : 0 : 50
                }}<span *ngIf="link.length > 50">...</span></a
              >
            </ng-container>
          </div>
        </mat-card-content>
        <mat-card-footer
          [ngStyle]="{
            color: brightness ? '#E84858' : 'violet'
          }"
        >
          <span>{{ up.createdAt | date : "dd MMM | hh:mm a" }}</span>
          <div>
            <button
              *ngIf="checkUser"
              mat-icon-button
              (click)="editUpdateDialog(i)"
            >
              <mat-icon> edit</mat-icon>
            </button>

            <button
              *ngIf="checkUser"
              mat-icon-button
              (click)="deleteUpdate(updates[i].updateId)"
            >
              <mat-icon> delete </mat-icon>
            </button>
          </div>
        </mat-card-footer>
      </mat-card>
    </ng-container>

    <div
      style="text-align: center"
      *ngIf="dataCount > 10 && updates.length < dataCount"
    >
      <button mat-raised-button class="btn-primary mt-2" (click)="loadMore()">
        Load more
      </button>
    </div>
  </mat-sidenav>
</mat-sidenav-container>

<ng-template #showDialog>
  <div
    class="login_dialog"
    mat-dialog-content
    [ngStyle]="{
      'background-color': brightness
        ? 'rgb(245, 245, 245)'
        : ' rgb(31, 32, 35)',
      color: brightness ? 'black' : 'rgb(129,129,129)'
    }"
  >
    <mat-icon mat-dialog-close class="viewClose">close</mat-icon>

    <img src="{{ viewUpdateObj.updateImgUrl }}" />

    <p>{{ viewUpdateObj.updateText }}</p>

    <div *ngIf="viewUpdateObj.updateLinks.length > 0">
      <hr />

      <ng-container *ngFor="let link of viewUpdateObj.updateLinks">
        <a
          href="{{ link }}"
          target="_blank"
          [matTooltip]="link"
          matTooltipPosition="left"
          >{{ link | slice : 0 : 50
          }}<span *ngIf="link.length > 50">...</span></a
        >
      </ng-container>
    </div>
    <div
      class="d-flex justify-content-end align-items-center"
      style="margin-top: 20px"
    >
      <span>{{ viewUpdateObj.createdAt | date : "dd MMM | hh:mm a" }}</span>
    </div>
  </div>
</ng-template>
