<!-- button fab -->
<div
  class="fab_menu"
  [ngStyle]="{
    right:
      side && window.innerWidth > 600
        ? '21vw'
        : side && window.innerWidth < 600
        ? '51vw'
        : '10px'
  }"
>
  <button
    mat-fab
    (click)="open()"
    [ngStyle]="{
      'background-color': brightness ? 'white' : ' rgb(100,100, 100)',
      color: brightness ? 'red' : 'violet',
      opacity: side ? '1' : '0.3'
    }"
    matTooltip="updates"
    matTooltipPosition="left"
  >
    <mat-icon>menu_open</mat-icon>
  </button>

  <button
    mat-fab
    *ngIf="checkUser"
    [ngStyle]="{
      'background-color': brightness ? 'white' : ' rgb(100,100, 100)',
      color: brightness ? 'red' : 'violet'
    }"
    (click)="newUpdateDialog()"
    matTooltip="add update"
    matTooltipPosition="left"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #newUpdate>
  <div
    class="container-fluid new_update"
    [ngStyle]="{
      'background-color': brightness ? 'white' : ' rgb(100,100, 100)',
      color: brightness ? 'black' : 'white'
    }"
  >
    <h5>Add New Update</h5>
    <hr />
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>image url</mat-label>
      <input
        type="text"
        matInput
        placeholder="img url"
        [(ngModel)]="_imgUrlModel"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>content</mat-label>

      <textarea
        matInput
        placeholder=""
        rows="5"
        [(ngModel)]="_contentModel"
      ></textarea>
    </mat-form-field>

    <div class="links">
      <mat-form-field appearance="outline">
        <mat-label>links</mat-label>

        <input
          type="text"
          matInput
          placeholder="img links"
          [(ngModel)]="_linkModel"
        />
      </mat-form-field>
      <span
        ><button mat-icon-button (click)="addLink()">
          <mat-icon>add</mat-icon>
        </button></span
      >
    </div>

    <div class="btns_list">
      <button class="btn-danger" mat-raised-button (click)="cancelUpdate()">
        Cancel
      </button>
      <button
        class="btn-primary"
        mat-raised-button
        (click)="saveUpdate()"
        [disabled]="!_contentModel"
      >
        Save
      </button>
    </div>

    <div class="links_list" *ngIf="updateLinksArr.length > 0; let i = index">
      <hr />
      <ng-container *ngFor="let links of updateLinksArr">
        {{ links }}
        <span
          ><button mat-icon-button (click)="removeLink(i)">
            <mat-icon>close</mat-icon>
          </button></span
        >
      </ng-container>
    </div>
  </div>
</ng-template>

<mat-sidenav-container class="example-container">
  <mat-sidenav
    class="example-sidenav"
    mode="side"
    [opened]="side"
    [ngStyle]="{
      'background-color': brightness ? 'white' : ' rgb(100,100, 100)',
      color: brightness ? 'red' : 'violet'
    }"
  >
    <div
      class="skeleton_loader"
      *ngIf="updates?.length == 0"
      [ngStyle]="{
        'background-color': brightness ? '#dc3545' : ' rgb(32, 33, 33)',
        color: brightness ? 'black' : 'rgb(160,160,160)'
      }"
    >
      <p-skeleton width="100%" height="300px"></p-skeleton>
      <br /><br />
      <p-skeleton width="100%" height="100px"></p-skeleton>
    </div>

    <ng-container *ngFor="let up of updates; let i = index">
      <mat-card
        class="updates_card"
        [ngStyle]="{
          'background-color': brightness ? 'white' : ' rgb(100,100, 100)',
          color: brightness ? 'black' : 'white'
        }"
      >
        <img
          mat-card-image
          *ngIf="up.updateImgUrl"
          src="{{ up.updateImgUrl }}"
        />

        <mat-card-content>
          {{ up.updateText }}

          <span *ngIf="up.updateLinks.length > 0">
            <ng-container *ngFor="let link of up.updateLinks">
              <a href="{{ link }}" target="_blank">{{ link }}</a>
            </ng-container>
          </span>
        </mat-card-content>
        <mat-card-footer
          [ngStyle]="{
            color: brightness ? 'red' : 'violet'
          }"
        >
          <span>{{ up.createdAt | date: "dd MMM | hh:mm a" }}</span>
          <button
            *ngIf="checkUser"
            mat-icon-button
            (click)="deleteUpdate(updates[i].updateId)"
          >
            <mat-icon> delete </mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
      <hr *ngIf="i < updates?.length - 1" />
    </ng-container>

    <div
      style="text-align: center"
      *ngIf="dataCount > 10 && updates.length < dataCount"
    >
      <button mat-raised-button class="btn-primary mt-2" (click)="loadMore()">
        Load more
      </button>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
