.fab_menu {
  position: fixed;
  right: 16px;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 100;
}
.fab_menu button {
  margin: 5px;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.example-container {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  /* height: 100%; */
}

mat-sidenav {
  width: 22vw !important;
  z-index: 99;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.updates_card {
  margin-bottom: 10px;
  word-break: break-word;
}

.update_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.update_img img {
  width: auto;
  max-height: 250px;
  max-width: 100%;
  border-radius: 10px;
}

.updates_card mat-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 0 15px;
}

.fab_menu button:hover {
  opacity: 1 !important;
}

.new_update {
  padding: 10px;
}

.links {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.btns_list {
  display: flex;
  justify-content: flex-end;
}

.btns_list button {
  margin: auto 5px;
}

.update_image_preview {
  text-align: center;
  margin: 10px auto;
}
.update_image_preview img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.example-sidenav {
  padding: 0 15px;
}
.customFab {
  height: 45px !important;
  width: 45px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  right: 16px !important;
}

@media screen and (max-width: 600px) {
  mat-sidenav {
    width: 75vw !important;
    z-index: 99;
  }

  .customFab {
    right: 0px !important;
  }
}
