.loadinganimDark {
  color: violet;
  animation: cursor 1s infinite;
}
.loadinganimLight {
  color: red;
  animation: cursor1 1s infinite;
}

@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
    text-shadow: 0px 0px 15px;
  }
}

@keyframes cursor1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: red;
    text-shadow: 0px 0px 15px rgb(243, 50, 82);
  }
}

#myBtn {
  position: fixed;
  bottom: -50px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 2px 10px;
  border-radius: 4px;
  transition: 0.6s ease-in;
}

#myBtn:hover {
  background-color: #555;
}

div.content {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 42, 45);
}

div.movieDetails {
  padding-top: 150px;
  padding-bottom: 150px;
}

.buttonsArea a {
  margin: 10px 0;
}
.buttonsArea button {
  pointer-events: none;
  margin: 10px;
}

/* similar movies/tv */

.horizontalScrollDiv {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#similarsCard {
  border: 10px solid grey;
  /* horizontal scroll div */
  flex: 0 0 auto;
}

#generateEpBtn button {
  color: white;
  margin: 5px 5px;
}

#similarsCard:hover {
  border: 10px solid violet;
}

#similarsCard a {
  cursor: pointer;
}

#similarsCard h6 {
  padding: 5px;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.similarsData {
  position: relative;
}

.similarsData img {
  height: auto;
  width: 100%;
  transition: 0.5s ease;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}

.similarsData img:hover {
  filter: brightness(30%);
}

div#similarsCard:hover .middle {
  opacity: 1;
}

.similarsData .text,
.similarsData h4 {
  color: white;
}
.text1 {
  background-color: rgb(36, 214, 36);
  color: white;
  font-size: 14px;
  padding: 10px;
  display: inline-block;
  margin: 50px 0 10px;
  border-radius: 8px;
  font-weight: bolder;
}

.text1 {
  cursor: pointer;
}
.text1:hover {
  background-color: rgb(86, 148, 240);
  color: black;
}

div.videoFrame iframe {
  height: 350px;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  border: 1px black;
}

.creditsInfo h6 {
  display: inline-block;
  margin-left: 15px;
}
.creditsInfo img {
  height: 50px;
  width: auto;
  display: inline-block;
}

.seasonPoster img {
  width: auto;
  height: 300px;
}

/* .movieReviewsArea {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
} */
.movieReviewsArea {
  height: auto;
  max-height: 420px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .movieDetails {
    padding-top: 100px;
  }
  .movieDetailsInfo {
    margin-top: 60px;
  }

  #similarsCard img {
    height: auto;
    max-height: 200px;
    width: 100%;
  }

  .text1 {
    padding: 2px 10px;
    margin: 20px 0 10px;
  }

  .movieDetails .card-footer {
    padding: 2px 2px;
  }

  #similarsCard h6 {
    font-size: 13px;
  }

  .movieDetails .btn-dark {
    margin-bottom: 5px;
  }

  div.videoFrame iframe {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  .seasonPoster img {
    width: auto;
    height: 200px;
  }

  .creditsInfo {
    text-align: center;
    margin-left: 0;
  }
  .creditsInfo h6 {
    margin-top: 5px;
  }
}
