<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- background -->
    <div class="content"></div>

    <!-- main content -->
    <div
      class="movieDetails"
      id="movieDetails"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)',
        color: brightness ? 'black' : 'white'
      }"
    >
      <!-- movie details container -->
      <div class="container">
        <!-- disclaimer -->
        <div class="disclaimerInfo">
          <div class="alert alert-warning">
            <h6>
              <i class="fas fa-info-circle"></i> Content displayed for
              information purposes. No downloads etc. will ever be available 😛
            </h6>
          </div>
        </div>

        <div
          class="card"
          [ngStyle]="{
            'background-color': brightness ? 'white' : ' rgb(35, 37, 37)',
            color: brightness ? 'black' : 'white'
          }"
        >
          <div class="card-header">
            <!-- back to movie list button -->
            <h2 style="float: left">Media Details</h2>
            <button
              class="btn btn-dark"
              style="float: right; margin-left: 5px"
              (click)="backToPage()"
            >
              <i class="fas fa-arrow-left"></i> Back
            </button>
            <button
              class="btn btn-info"
              style="float: right"
              routerLink="/movies&tv"
            >
              <i class="fas fa-arrow-up"></i> List
            </button>
          </div>
          <div class="card-body" *ngIf="movieDetails">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <!-- movie poster -->
                <div
                  class="posterImg"
                  style="border: 10px solid grey; border-radius: 5px"
                >
                  <img
                    style="display: flex; justify-content: center; width: 100%"
                    src="https://image.tmdb.org/t/p/w300/{{
                      movieDetails.poster_path
                    }}"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-sm-8">
                <div class="movieDetailsInfo">
                  <h5>Title:</h5>
                  <!-- Movie -->
                  <p
                    class="alert alert-success"
                    style="display: inline-block"
                    *ngIf="movieDetails.original_title"
                  >
                    <strong> {{ movieDetails.title }}</strong>
                  </p>

                  <!-- Tv -->
                  <p
                    class="alert alert-success"
                    style="display: inline-block"
                    *ngIf="movieDetails.name"
                  >
                    <strong> {{ movieDetails.name }}</strong>
                  </p>

                  <h5>Overview:</h5>
                  <p class="alert alert-success">
                    {{ movieDetails.overview }}
                  </p>
                  <div class="buttonsArea">
                    <a
                      *ngIf="movieDetails.imdb_id"
                      href="https://www.imdb.com/title/{{
                        movieDetails.imdb_id
                      }}/?ref_=ttls_li_tt"
                      target="_blank"
                    >
                      <button class="btn btn-warning">IMDB</button></a
                    >
                    <button class="btn btn-primary">
                      Genre:
                      <span
                        *ngFor="let genre of movieDetails.genres | slice: 0:2"
                        style="margin-right: 5px"
                        >{{ genre.name }}</span
                      >
                    </button>
                    <button
                      class="btn"
                      style="background-color: darkorchid; color: white"
                      *ngIf="movieDetails.status"
                    >
                      Status: {{ movieDetails.status }}!
                    </button>
                    <button
                      class="btn btn-success"
                      *ngIf="movieDetails.release_date"
                    >
                      Release Date: {{ movieDetails.release_date }}
                    </button>
                    <button
                      class="btn"
                      style="background-color: orangered; color: white"
                    >
                      Rating:
                      <i class="fas fa-star" style="color: yellow"></i>
                      {{ movieDetails.vote_average }}/10
                    </button>
                    <button
                      class="btn"
                      style="background-color: tomato"
                      *ngIf="movieDetails.original_language != 'en'"
                    >
                      lang: "{{ movieDetails.original_language }}"
                    </button>
                    <button
                      class="btn"
                      *ngIf="movieDetails.runtime"
                      style="background-color: yellowgreen; color: black"
                    >
                      Runtime:

                      {{ movieDetails.runtime }} mins
                    </button>
                    <button
                      class="btn"
                      *ngIf="listType == 'tv'"
                      style="background-color: teal; color: white"
                    >
                      Type: TV Show
                    </button>
                    <button
                      class="btn"
                      *ngIf="listType == 'movie'"
                      style="background-color: teal; color: white"
                    >
                      Type: Movie
                    </button>
                    <button
                      class="btn"
                      *ngIf="movieDetails.tagline"
                      style="background-color: papayawhip; color: black"
                    >
                      Tagline: "{{ movieDetails.tagline }}"
                    </button>
                    <button
                      class="btn"
                      *ngIf="movieDetails.number_of_seasons"
                      style="background-color: burlywood; color: black"
                    >
                      Seasons: {{ movieDetails.number_of_seasons }}
                    </button>
                    <button
                      class="btn"
                      *ngIf="movieDetails.number_of_episodes"
                      style="background-color: tomato; color: white"
                    >
                      Total Episodes: {{ movieDetails.number_of_episodes }}
                    </button>
                    <button
                      class="btn"
                      *ngIf="movieDetails.last_episode_to_air"
                      style="background-color: darkseagreen; color: black"
                    >
                      Last Episode:
                      {{ movieDetails.last_episode_to_air.air_date }}
                    </button>
                    <button
                      class="btn"
                      *ngIf="movieDetails.next_episode_to_air"
                      style="background-color: rebeccapurple; color: white"
                    >
                      Next Episode:
                      {{ movieDetails.next_episode_to_air.air_date }}
                    </button>
                    <a
                      class="btn"
                      href="{{ movieDetails.homepage }}"
                      *ngIf="movieDetails.homepage"
                      style="background-color: cornsilk; color: black"
                    >
                      Home Page
                    </a>
                    <button
                      class="btn"
                      *ngIf="movieDetails.budget"
                      style="background-color: darksalmon; color: black"
                    >
                      Budget: {{ movieDetails.budget | currency: "USD" }}
                    </button>
                    <button
                      class="btn"
                      *ngIf="movieDetails.revenue"
                      style="background-color: darksalmon; color: black"
                    >
                      Revenue: {{ movieDetails.revenue | currency: "USD" }}
                    </button>
                  </div>

                  <div
                    class="production_companies"
                    *ngIf="movieDetails.production_companies"
                  >
                    <div
                      class="companies_details"
                      *ngFor="
                        let companies of movieDetails.production_companies
                      "
                    >
                      <img
                        style="height: 40px; width: auto; margin: 12px"
                        src="https://image.tmdb.org/t/p/w300/{{
                          companies.logo_path
                        }}"
                      />
                    </div>
                  </div>
                  <br />

                  <!-- movie credits area -->
                  <div class="movieCreditsArea" *ngIf="movieCredits">
                    <div
                      class="card"
                      [ngStyle]="{
                        'background-color': brightness
                          ? 'rgb(223, 223, 223)'
                          : ' rgb(41, 42, 45)'
                      }"
                    >
                      <div class="card-body">
                        <!-- movie/tv trailers -->
                        <div
                          class="Trailers"
                          *ngIf="
                            contentTrailers &&
                            contentTrailers.results.length >= 1
                          "
                        >
                          <div class="videoFrame">
                            <h4>Trailers:</h4>
                            <!-- <iframe
                              *ngIf="trailerUrl"
                              id="myIframe"
                              [src]="trailerUrl | safe"
                            ></iframe>
                            <iframe
                              *ngIf="trailerUrl2"
                              id="myIframe2"
                              [src]="trailerUrl2 | safe"
                            ></iframe>
                            <iframe
                              *ngIf="trailerUrl3"
                              id="myIframe3"
                              [src]="trailerUrl3 | safe"
                            ></iframe> -->
                            <div
                              class="trailers"
                              *ngFor="
                                let trailer of this.contentTrailers.results
                                  | slice: 0:4
                              "
                            >
                              <iframe
                                id="myIframe"
                                [src]="
                                  'https://www.youtube-nocookie.com/embed/' +
                                    trailer.key | safe
                                "
                              ></iframe>
                            </div>
                          </div>
                          <br />
                        </div>

                        <h5>Cast:</h5>
                        <br />
                        <div class="row">
                          <div
                            class="col-12 col-sm-6"
                            *ngFor="
                              let credits of movieCredits.cast | slice: 0:8
                            "
                          >
                            <h6>
                              {{ credits.character }}
                              :
                              <a
                                href="http://www.google.com/search?q={{
                                  credits.name
                                }}"
                                target="_blank"
                              >
                                {{ credits.name }}</a
                              >
                            </h6>
                            <br />
                          </div>
                        </div>
                      </div>
                    </div>
                    <br />
                  </div>

                  <!-- movie season/ep list area -->

                  <div
                    class="card epListCard"
                    id="epListCard"
                    *ngIf="listType == 'tv'"
                    [ngStyle]="{
                      height: epSwitch ? '100%' : '30px',
                      'background-color': brightness
                        ? 'rgb(223, 223, 223)'
                        : ' rgb(41, 42, 45)',
                      color: brightness ? 'black' : 'white'
                    }"
                  >
                    <div class="card-body testEp">
                      <h5 style="float: left">Episodes</h5>
                      <!-- list of episode dropdown -->

                      <br />

                      <div class="displaySeasonsList">
                        <br />
                        <div class="seasonsButtonList" id="generateEpBtn">
                          <!-- seasons switcher -->
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 1"
                            (click)="seasonsEpList(movieDetails.id, 1)"
                          >
                            Season 1
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 2"
                            (click)="seasonsEpList(movieDetails.id, 2)"
                          >
                            Season 2
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 3"
                            (click)="seasonsEpList(movieDetails.id, 3)"
                          >
                            Season 3
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 4"
                            (click)="seasonsEpList(movieDetails.id, 4)"
                          >
                            Season 4
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 5"
                            (click)="seasonsEpList(movieDetails.id, 5)"
                          >
                            Season 5
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 6"
                            (click)="seasonsEpList(movieDetails.id, 6)"
                          >
                            Season 6
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 7"
                            (click)="seasonsEpList(movieDetails.id, 7)"
                          >
                            Season 7
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 8"
                            (click)="seasonsEpList(movieDetails.id, 8)"
                          >
                            Season 8
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 9"
                            (click)="seasonsEpList(movieDetails.id, 9)"
                          >
                            Season 9
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 10"
                            (click)="seasonsEpList(movieDetails.id, 10)"
                          >
                            Season 10
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 11"
                            (click)="seasonsEpList(movieDetails.id, 11)"
                          >
                            Season 11
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 12"
                            (click)="seasonsEpList(movieDetails.id, 12)"
                          >
                            Season 12
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 13"
                            (click)="seasonsEpList(movieDetails.id, 13)"
                          >
                            Season 13
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 14"
                            (click)="seasonsEpList(movieDetails.id, 14)"
                          >
                            Season 14
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 15"
                            (click)="seasonsEpList(movieDetails.id, 15)"
                          >
                            Season 15
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 16"
                            (click)="seasonsEpList(movieDetails.id, 16)"
                          >
                            Season 16
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 17"
                            (click)="seasonsEpList(movieDetails.id, 17)"
                          >
                            Season 17
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 18"
                            (click)="seasonsEpList(movieDetails.id, 18)"
                          >
                            Season 18
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 19"
                            (click)="seasonsEpList(movieDetails.id, 19)"
                          >
                            Season 19
                          </button>
                          <button
                            class="btn btn-dark"
                            *ngIf="tvSeasonsTotal >= 20"
                            (click)="seasonsEpList(movieDetails.id, 20)"
                          >
                            Season 20
                          </button>
                        </div>
                        <br />
                        <!-- show episode name  -->
                        <div *ngIf="eps">
                          <div
                            class="seasonPoster"
                            style="display: flex; justify-content: center"
                          >
                            <img
                              *ngIf="eps && eps.poster_path"
                              src="https://image.tmdb.org/t/p/w300{{
                                eps.poster_path
                              }}"
                              alt="poster"
                            />
                          </div>
                          <div class="row">
                            <div
                              class="displaySeasonsList col-6 col-sm-4"
                              *ngFor="let ep of eps.episodes"
                            >
                              <br />

                              <h6>
                                {{ ep.episode_number }}:
                                <a
                                  href="http://www.google.com/search?q={{
                                    movieDetails.name
                                  }}+{{ ep.name }}"
                                  target="_blank"
                                >
                                  {{ ep.name }}</a
                                >
                              </h6>
                              <h6>air date: {{ ep.air_date }}</h6>
                              <h6>rating: {{ ep.vote_average }} / 10</h6>
                              <br />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <br />
                  <!-- movie reviews card -->
                  <div
                    class="card"
                    *ngIf="movieReviews && movieReviews.results.length > 0"
                    [ngStyle]="{
                      'background-color': brightness
                        ? 'rgb(223, 223, 223)'
                        : ' rgb(41, 42, 45)'
                    }"
                  >
                    <div class="card-body">
                      <h5 style="float: left">Reviews:</h5>
                      <div class="scrollleft">
                        <h6 style="float: right">
                          <i class="fas fa-arrow-circle-down"></i> scroll
                        </h6>
                      </div>
                      <br />
                      <br />
                      <div class="movieReviewsArea">
                        <div
                          class="movieReview"
                          *ngFor="let review of movieReviews.results"
                          [ngStyle]="{ color: brightness ? 'black' : 'white' }"
                        >
                          <br />
                          <h6>Author: {{ review.author }}</h6>
                          <p>
                            {{ review.content | slice: 0:300 }}..
                            <a href="{{ review.url }}">more</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div
              class="card-footer"
              *ngIf="movieSimilars && movieSimilars.results.length > 0"
            >
              <h4>Similar Titles:</h4>
              <br />
              <div class="horizontalScrollDiv">
                <div
                  class="col-6 col-sm-3 similarsData"
                  *ngFor="let similars of movieSimilars.results"
                >
                  <div class="card" id="similarsCard">
                    <a
                      *ngIf="similars.original_title"
                      routerLink="/movies&tv/Movie/{{ similars.title }}/{{
                        similars.id
                      }}"
                    >
                      <img
                        src="https://image.tmdb.org/t/p/w300{{
                          similars.poster_path
                        }}"
                        alt=""
                      />
                    </a>
                    <a
                      *ngIf="similars.name"
                      routerLink="/movies&tv/TV/{{ similars.name }}/{{
                        similars.id
                      }}"
                    >
                      <img
                        src="https://image.tmdb.org/t/p/w300{{
                          similars.poster_path
                        }}"
                        alt=""
                    /></a>
                    <!-- on hover text -->
                    <div class="middle">
                      <div class="text">
                        <h4><i class="fas fa-star"></i></h4>
                      </div>
                      <h4>{{ similars.vote_average }} / 10</h4>
                      <div class="text1" routerLink="/Movies/{{ similars.id }}">
                        view details
                      </div>
                    </div>

                    <h6
                      [ngStyle]="{
                        'background-color': brightness
                          ? 'white'
                          : ' rgb(41, 42, 45)',
                        color: brightness ? 'black' : 'white'
                      }"
                      *ngIf="similars.original_title"
                      routerLink="/movies&tv/Movie/{{ similars.title }}/{{
                        similars.id
                      }}"
                    >
                      {{ similars.title }}
                    </h6>
                    <h6
                      [ngStyle]="{
                        'background-color': brightness
                          ? 'white'
                          : ' rgb(41, 42, 45)',
                        color: brightness ? 'black' : 'white'
                      }"
                      routerLink="/movies&tv/TV/{{ similars.name }}/{{
                        similars.id
                      }}"
                      *ngIf="similars.name"
                    >
                      {{ similars.name }}
                    </h6>
                  </div>
                  <br />
                </div>
              </div>
              <br />
              <div class="scrollleft">
                <h6 style="float: left">
                  <i class="fas fa-arrow-circle-left"></i> scroll
                </h6>
              </div>
              <div class="scrollright">
                <h6 style="float: right">
                  scroll <i class="fas fa-arrow-circle-right"></i>
                </h6>
              </div>
            </div>
          </div>
        </div>

        <div class="creditsInfo" style="margin-top: 20px">
          <div class="alert alert-success">
            <img
              src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
              alt=""
            />
            <h6>
              <i class="fas fa-check-circle"></i> Movie database API Powered By:
              <a href="https://www.themoviedb.org" target="_blank">
                <strong> TheMovieDB.ORG</strong></a
              >
            </h6>
          </div>
        </div>
      </div>
    </div>

    <!-- footer area -->
    <app-footer></app-footer>
  </body>
</html>
