div.login-card .card {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-bottom: 10px;
}

.login-card {
  padding-bottom: 100px;
}

.passinput {
  width: 100%;
  margin-left: 14px;
}
.pass {
  margin-left: 14px;
}

.eye {
  margin-left: -90px;
}
div.links a:hover {
  background-color: tomato;
}

#overlay {
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.7s ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  transition: 0.7s ease-in-out;
  width: 250px;
}

.overlay-content .card-header {
  text-align: center;
  padding: 10px 20px;
}

.overlay-content .card-body {
  padding: 10px 20px;
}

.overlay-content .card-footer {
  text-align: center;
  padding: 10px 20px;
}

div.buttons {
  display: flex;
  justify-content: center;
}
div.buttons .btn {
  margin: 0px 10px;
}

#captcha {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.shortInfo h1,
.shortInfo p {
  font-family: "Andale Mono", AndaleMono, monospace;
}

.shortInfo {
  padding-left: 80px;
  padding-top: 150px;
}

.passwordMsg {
  font-size: 12px;
  color: rgb(90, 94, 90);
  opacity: 0.7;
  margin-left: 14px;
}

.signInLogo {
  text-align: center;
  margin-bottom: 20px;
}

.logoImage {
  height: 100px;
  width: 100px;
}

#uploadSpinner,
#uploadCheck,
#uploadCheckErr {
  display: none;
}

@media only screen and (max-width: 600px) {
  div.motto h5 {
    font-size: 14px;
  }
  div.login-card .card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  div.buttons {
    margin-top: 15px;
  }
  #captcha {
    display: block;
    padding: 0;
    margin: 10px 20px;
  }

  .shortInfo {
    padding: 30px 5px 30px;
    text-align: center;
  }
}

div.content {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 42, 45);
}

div.logindata {
  padding-top: 120px;
  background-color: rgb(41, 42, 45);
}
.bgImage {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../../../../assets/images/pexels-markus-spiske-1936299.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.submit {
  margin-right: 15px;
}

div.login-card .card-header {
  background-color: rgba(146, 218, 247, 0.788);
}
.content-new {
  position: absolute;
}
