<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <ng-container>
      <ng-template #loginDialog>
        <div
          class="login_dialog"
          mat-dialog-content
          [ngStyle]="{
            'background-color': brightness
              ? 'rgb(245, 245, 245)'
              : ' rgb(31, 32, 35)',
            color: brightness ? 'black' : 'rgb(129,129,129)'
          }"
        >
          <h3 style="text-align: center">
            Welcome,
            <span [ngStyle]="{ color: brightness ? 'red' : 'violet' }">
              {{ loginresponse.name }}</span
            >
          </h3>

          <div
            class="d-flex justify-content-center align-items-center"
            style="margin-top: 20px"
          >
            <button
              mat-raised-button
              mat-dialog-close
              tabindex="-1"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(235, 235, 235)'
                  : ' rgb(31, 32, 35)',
                color: brightness ? 'red' : 'violet'
              }"
            >
              OK
            </button>
          </div>
        </div>
      </ng-template>
    </ng-container>

    <div
      class="logindata"
      [ngStyle]="{
        background: brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    >
      <div class="bgImage"></div>
      <div class="container loginContainer">
        <div class="row align-items-center">
          <div
            class="col-sm-6 shortInfo"
            [ngStyle]="{ color: brightness ? 'rgb(41,42,45)' : 'white' }"
          >
            <h1
              data-aos="zoom-in"
              data-aos-delay="200"
              data-aos-duration="1000"
              data-aos-once="true"
              style="font-weight: 600"
            >
              Web Development
            </h1>
            <p
              data-aos="zoom-in"
              data-aos-delay="500"
              data-aos-duration="1000"
              data-aos-once="true"
              [ngStyle]="{ color: brightness ? 'rgb(41,42,45)' : 'white' }"
              style="font-weight: 500"
            >
              Welcome superuser, Join me & my team in a venture to develop and
              build fast & mobile Web Apps for the greatest platform available!
              <br />
              i.e.
              <span
                [ngStyle]="{ color: brightness ? '#E84858' : 'violet' }"
                style="font-weight: 500"
              >
                Angular
              </span>
              <i
                class="fas fa-fire-alt"
                [ngStyle]="{
                  color: brightness ? 'red' : 'rgb(255, 144, 8)'
                }"
              ></i>
              <br />
              contact<span
                [ngStyle]="{ color: brightness ? '#E84858' : 'violet' }"
                style="font-weight: 500"
              >
                dev@krishnakantsalkar.in</span
              >
              to sign up!
            </p>
          </div>

          <div class="col-sm-6 container login-card">
            <mat-card
              data-aos="zoom-in"
              data-aos-delay="300"
              data-aos-duration="1000"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(245, 245, 245)'
                  : ' rgb(31, 32, 35)',
                color: brightness
                  ? 'black !important'
                  : 'rgb(129,129,129) !important'
              }"
            >
              <mat-card-content>
                <div class="signInLogo">
                  <img
                    class="logoImage rounded-circle"
                    src="assets/images/mylogo.jpg"
                    alt=""
                  />
                </div>
                <!-- [ngStyle]="{ color: brightness ? 'black' : 'white' }" -->
                <form
                  [formGroup]="newLogin"
                  (ngSubmit)="Save(newLogin.value)"
                  *ngIf="!showForgot"
                >
                  <div class="form-row">
                    <div class="col form-group" formGroupName="userLogin">
                      <mat-form-field
                        appearance="outline"
                        [ngClass]="
                          brightness ? 'inputTextColorD' : 'inputTextColorL'
                        "
                      >
                        <mat-label>Email Id</mat-label>
                        <input
                          class="email-tag"
                          type="email"
                          matInput
                          placeholder="Enter Email ID"
                          formControlName="email"
                          [class.is-valid]="
                            newLogin.get('userLogin.email').valid
                          "
                          [class.is-invalid]="
                            !newLogin.get('userLogin.email').valid && submitted
                          "
                        />
                      </mat-form-field>

                      <div class="valid-feedback">looking good!</div>
                      <div class="invalid-feedback">Check entered email!</div>
                      <div
                        class="alert alert-danger"
                        *ngIf="
                          newLogin.get('userLogin.email').errors?.required &&
                          newLogin.get('userLogin.email').touched
                        "
                      >
                        Email id is required!
                      </div>
                      <br />
                      <div class="form-group">
                        <mat-form-field
                          appearance="outline"
                          [ngClass]="
                            brightness ? 'inputTextColorD' : 'inputTextColorL'
                          "
                        >
                          <mat-label>Password</mat-label>
                          <input
                            class="password-tag col-11"
                            matInput
                            type="password"
                            placeholder="Enter Password"
                            formControlName="password"
                            [ngStyle]="{
                              color: brightness ? 'black !important' : 'white'
                            }"
                            [class.is-valid]="
                              newLogin.get('userLogin.password').valid
                            "
                            [class.is-invalid]="
                              !newLogin.get('userLogin.password').valid &&
                              submitted
                            "
                            [type]="showpass ? 'text' : 'password'"
                          />

                          <span matSuffix>
                            <mat-icon
                              class="showpassbtn"
                              type="button"
                              (click)="showPass()"
                              [ngStyle]="{
                                color: brightness ? 'red' : 'violet'
                              }"
                              >{{
                                showpass ? "visibility_on" : "visibility_off"
                              }}</mat-icon
                            >
                          </span>
                          <mat-hint
                            class="passwordMsg"
                            [ngStyle]="{
                              color: brightness ? 'black' : 'white'
                            }"
                            >make sure its atleast 5 characters!</mat-hint
                          >
                        </mat-form-field>
                        <div class="valid-feedback">looking good!</div>
                        <div class="invalid-feedback">Check your password!</div>
                        <div
                          class="alert alert-danger pass"
                          *ngIf="
                            newLogin.get('userLogin.password').errors
                              ?.required &&
                            newLogin.get('userLogin.password').touched
                          "
                        >
                          Password is required!
                        </div>
                        <div
                          class="alert alert-danger pass col-11"
                          *ngIf="response && !showForgot"
                        >
                          {{ response }}
                        </div>
                      </div>
                      <ngx-recaptcha2
                        #captchaElem
                        id="captcha"
                        [siteKey]="siteKey"
                        (reset)="handleReset()"
                        (expire)="handleExpire()"
                        (load)="handleLoad()"
                        (success)="handleSuccess($event)"
                        [useGlobalDomain]="false"
                        [size]="size"
                        [theme]="theme"
                        [type]="type"
                        formControlName="recaptcha"
                      >
                      </ngx-recaptcha2>
                      <mat-checkbox
                        [ngStyle]="{
                          color: brightness ? 'black' : 'white'
                        }"
                        (change)="keepSignedInToggle($event.checked)"
                        >Keep Signed In</mat-checkbox
                      >
                      <div class="form-group">
                        <div class="buttons">
                          <button
                            type="submit"
                            mat-raised-button
                            class="btn-primary float-right submit"
                            style="color: white"
                            [disabled]="!newLogin.valid"
                          >
                            Log In
                            <!-- some visual feedback while login -->
                            <span
                              id="uploadSpinner"
                              class="spinner-border spinner-border-sm"
                            ></span>
                            <span id="uploadCheck">
                              <i class="fas fa-check-circle"></i
                            ></span>
                            <span id="uploadCheckErr">
                              <i class="fas fa-times-circle"></i
                            ></span>
                          </button>
                          <button
                            mat-raised-button
                            class="btn-danger float-right forgot"
                            (click)="switchToForgot()"
                          >
                            Forgot Password?
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <form
                  [formGroup]="forgotPass"
                  (ngSubmit)="Forgot(forgotPass.value)"
                  *ngIf="showForgot"
                >
                  <div class="form-row">
                    <div class="col form-group" formGroupName="userLogin">
                      <mat-form-field
                        appearance="outline"
                        [ngClass]="
                          brightness ? 'inputTextColorD' : 'inputTextColorL'
                        "
                      >
                        <mat-label>Email Id</mat-label>
                        <input
                          class="email-tag"
                          type="email"
                          matInput
                          placeholder="Enter Email ID"
                          formControlName="email"
                          [class.is-valid]="
                            forgotPass.get('userLogin.email').valid
                          "
                          [class.is-invalid]="
                            !forgotPass.get('userLogin.email').valid &&
                            submitted
                          "
                          [ngStyle]="{
                            'background-color': brightness
                              ? 'white'
                              : ' rgb(41, 42, 45)',
                            color: brightness ? 'black' : 'white'
                          }"
                        />
                      </mat-form-field>
                      <div class="valid-feedback">looking good!</div>
                      <div class="invalid-feedback">Check entered email!</div>
                      <div
                        class="alert alert-danger"
                        *ngIf="
                          forgotPass.get('userLogin.email').errors?.required &&
                          forgotPass.get('userLogin.email').touched
                        "
                      >
                        Email id is required!
                      </div>
                      <div class="alert alert-danger" *ngIf="response">
                        {{ response }}
                      </div>
                      <br />
                      <div class="form-group">
                        <div class="buttons">
                          <button
                            mat-raised-button
                            class="btn-danger float-right forgot mx-2"
                            (click)="switchToForgot()"
                          >
                            Cancel
                          </button>
                          <button
                            mat-raised-button
                            type="submit"
                            class="btn-success float-right submit mx-2"
                            [disabled]="!forgotPass.valid"
                          >
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer area -->
  </body>
</html>
