div.login-card mat-card {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-bottom: 10px;
}

.login-card {
  padding-bottom: 100px;
}

.passinput {
  width: 100%;
  margin-left: 14px;
}

.eye {
  margin-left: -90px;
}
div.links a:hover {
  background-color: tomato;
}

#overlay {
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.7s ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

div.buttons {
  display: flex;
  justify-content: center;
}
div.buttons .btn {
  margin: 0px 10px;
}

#captcha {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.shortInfo h1,
.shortInfo p {
  font-family: "Andale Mono", AndaleMono, monospace;
}

.shortInfo {
  padding-left: 80px;
  padding-top: 150px;
}

.passwordMsg {
  font-size: 12px;
}

.signInLogo {
  text-align: center;
  margin-bottom: 20px;
}

.logoImage {
  height: 100px;
  width: 100px;
}

#uploadSpinner,
#uploadCheck,
#uploadCheckErr {
  display: none;
}

::ng-deep .p-button,
.p-button-dialog-accept {
  color: rgb(49, 223, 107);
  background: #292929 !important;
}

::ng-deep .p-button .p-button-text {
  color: rgb(49, 223, 107);
}

::ng-deep .p-button:enabled:hover {
  color: white !important;
  background-color: rgb(49, 223, 107) !important;
}

@media only screen and (max-width: 600px) {
  div.motto h5 {
    font-size: 14px;
  }
  div.login-card mat-card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  div.buttons {
    margin-top: 15px;
  }
  #captcha {
    display: block;
    padding: 0;
    margin: 10px 20px;
  }

  .shortInfo {
    padding: 30px 5px 30px;
    text-align: center;
  }

  .login_dialog {
    min-height: 20vh;
    padding: 24px;
    width: 80vw;
  }
}

div.content {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 42, 45);
}

div.logindata {
  padding-top: 120px;
  background-color: rgb(41, 42, 45);
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* .bgImage {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../../../../assets/images/pexels-markus-spiske-1936299.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
} */

.bgImage {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  background-color: rgb(41, 42, 45);
  background-image: url("../../../../assets/images/pexels-markus-spiske-1936299.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  transition: 0.4s ease-in-out;
  opacity: 0.2;
}

.submit {
  margin-right: 15px;
}

div.login-card .card-header {
  background-color: rgba(146, 218, 247, 0.788);
}
.content-new {
  position: absolute;
}

.login_dialog {
  min-height: 20vh;
  padding: 24px;
  min-width: 30vw;
}

.form-dark {
  border-color: rgb(31, 32, 35);
  color: black;
}

.form-light {
  border-color: rgb(245, 245, 245);
  color: white;
}

.danger {
  color: orangered;
}
.showpassbtn {
  cursor: pointer;
}
