<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="content">
      <div class="container">
        <img class="bdayimg" src="assets/images/bdaygirl.jpg" alt="" />
        <div class="data" align="center">
          <h3>Wishing a very Happy birthday to #Goliiiii!</h3>
          <h5>
            Congratulations and good wishes to the woman who has everything —
            including me!
          </h5>
        </div>
      </div>
    </div>
  </body>
</html>
