<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- scroll to top button -->
    <button
      mat-raised-button
      (click)="topFunction()"
      id="myBtn"
      matTooltip="go to Top"
      matTooltipPosition="left"
      [ngStyle]="{
        'background-color': brightness ? 'orangered' : ' violet',
        color: brightness ? 'white' : 'black'
      }"
    >
      <!-- <i class="fas fa-angle-up" aria-hidden="true"></i> -->
      <mat-icon>call_merge</mat-icon>
    </button>

    <!-- shaorangered footer template -->

    <!-- Footer top area -->
    <div
      class="content-new"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(223, 223, 223)'
          : ' rgb(35, 36, 38)'
      }"
    >
      <div
        class="container-fluid"
        [ngStyle]="{ color: brightness ? 'black' : 'white' }"
        style="height: auto; width: auto"
      >
        <div class="bottom-content">
          <div
            class="row"
            [ngStyle]="{
              'background-color': brightness
                ? 'rgb(223, 223, 223)'
                : ' rgb(35, 36, 38)',
              color: brightness ? 'black' : 'white'
            }"
          >
            <div class="col-sm-3">
              <div class="shortbio">
                <h4>
                  <span>TheArsonist~ </span>
                </h4>
                <p>It'll Blow you Away!</p>
                <p>
                  Hey there, Welcome to my blog page, If you like what you see,
                  read... feel free to share it with your friends! Subscribe to
                  my Blog updates!
                </p>
                <!-- subscribe to newsletter/updates -->
                <div class="alert alert-success" *ngIf="newsLetterSuccess">
                  <h6>
                    {{ newsLetterSuccess.message }}
                  </h6>
                </div>
                <div class="alert alert-danger" *ngIf="newsLetterError">
                  <h6>
                    {{ newsLetterError }}
                  </h6>
                </div>

                <!-- newsletter form -->
                <form
                  [formGroup]="newsLetterForm"
                  (ngSubmit)="subscribeNewsLetter(newsLetterForm.value)"
                >
                  <input
                    type="email"
                    placeholder="enter email"
                    class="form-control"
                    formControlName="userEmail"
                  />
                  <button
                    mat-raised-button
                    type="submit"
                    class="btn-success"
                    style="margin: 10px auto"
                    [disabled]="!newsLetterForm.valid"
                  >
                    subscribe
                    <span
                      id="uploadSpinner1"
                      class="spinner-border spinner-border-sm"
                    ></span>
                    <span id="uploadCheck1">
                      <i class="fas fa-check-circle"></i
                    ></span>
                    <span id="uploadCheckErr1">
                      <i class="fas fa-times-circle"></i
                    ></span>
                  </button>
                </form>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="recentposts">
                <mat-card
                  [ngStyle]="{
                    'background-color': brightness
                      ? 'white'
                      : ' rgb(41, 42, 45)'
                  }"
                >
                  <div
                    class="insider"
                    [ngStyle]="{ color: brightness ? 'black' : 'white' }"
                  >
                    <div class="card-body">
                      <h3>Recent Updates</h3>
                      <!-- Skeleton Loading animation -->
                      <div
                        class="skeletonData"
                        [ngStyle]="{
                          'background-color': brightness
                            ? '#dc3545'
                            : ' rgb(32, 33, 33)',
                          color: brightness ? 'black' : 'rgb(160,160,160)'
                        }"
                      >
                        <p-skeleton
                          *ngIf="!recentblogs"
                          width="100%"
                          height="200px"
                        ></p-skeleton>
                      </div>
                      <div
                        class="recentcontent"
                        *ngFor="
                          let recent of recentblogs | slice: 0:3;
                          let i = index
                        "
                      >
                        <h5>
                          <a
                            routerLink="/blog/{{ recent.postNumber }}/{{
                              recent.postTitle
                            }}/{{ recent._id }}"
                            [ngStyle]="{
                              color: brightness ? 'orangered' : 'violet'
                            }"
                            >#{{ recent.postNumber }}. {{ recent.postTitle }}</a
                          >
                        </h5>
                        <h6 class="text-muted">
                          <span class="material-icons icon_align">
                            watch_later
                          </span>
                          {{
                            recent.postDate
                              | date: "EEEE MMM dd, YYYY"
                              | slice: 0:70
                          }}
                        </h6>
                        <hr *ngIf="i < 3" />
                      </div>
                      <button
                        mat-stroked-button
                        [ngStyle]="{
                          color: brightness ? 'orangered' : 'violet'
                        }"
                        routerLink="/blog/1"
                      >
                        more <mat-icon>chevron_right</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="menu">
                <ul>
                  <li>
                    <a
                      routerLink="/blog/1"
                      [ngStyle]="{
                        color: brightness ? 'black' : 'rgb(129,129,129)'
                      }"
                      [ngClass]="brightness ? 'lightHover' : 'darkHover'"
                      ><span class="material-icons icon_align"> article </span>
                      Blog</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/movies&tv"
                      [ngClass]="brightness ? 'lightHover' : 'darkHover'"
                      [ngStyle]="{
                        color: brightness ? 'black' : 'rgb(129,129,129)'
                      }"
                      ><span class="material-icons icon_align"> movie </span>
                      Movies & TV</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://downloads.krishnakantsalkar.in/"
                      target="_blank"
                      [ngStyle]="{
                        color: brightness ? 'black' : 'rgb(129,129,129)'
                      }"
                      [ngClass]="brightness ? 'lightHover' : 'darkHover'"
                      ><span class="material-icons icon_align">
                        cloud_download
                      </span>
                      Downloads</a
                    >
                  </li>
                  <li>
                    <a
                      href="http://snippets.krishnakantsalkar.in/"
                      [ngClass]="brightness ? 'lightHover' : 'darkHover'"
                      [ngStyle]="{
                        color: brightness ? 'black' : 'rgb(129,129,129)'
                      }"
                      target="_blank"
                    >
                      <span class="material-icons icon_align">
                        content_paste</span
                      >
                      Pastebin
                    </a>
                  </li>
                  <li>
                    <a
                      routerLink="/privacy"
                      [ngClass]="brightness ? 'lightHover' : 'darkHover'"
                      [ngStyle]="{
                        color: brightness ? 'black' : 'rgb(129,129,129)'
                      }"
                      ><span class="material-icons icon_align">
                        verified_user
                      </span>
                      Privacy Policy</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/disclaimer"
                      [ngClass]="brightness ? 'lightHover' : 'darkHover'"
                      [ngStyle]="{
                        color: brightness ? 'black' : 'rgb(129,129,129)'
                      }"
                      ><span class="material-icons icon_align"> error </span>
                      Disclaimer</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://github.com/krishnakantsalkar/My-App"
                      [ngClass]="brightness ? 'lightHover' : 'darkHover'"
                      [ngStyle]="{
                        color: brightness ? 'black' : 'rgb(129,129,129)'
                      }"
                      ><span class="material-icons icon_align"> code </span>
                      Github</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/about"
                      [ngClass]="brightness ? 'lightHover' : 'darkHover'"
                      [ngStyle]="{
                        color: brightness ? 'black' : 'rgb(129,129,129)'
                      }"
                      ><span class="material-icons icon_align">
                        account_circle
                      </span>
                      About</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3 feedback-form">
              <h5
                [ngStyle]="{
                  color: brightness ? 'orangered' : 'violet'
                }"
              >
                < Let's Connect..... />
              </h5>
              <div
                class="social-icons"
                style="padding-left: 0; margin-bottom: 0; list-style: none"
              >
                <ul>
                  <li>
                    <a
                      class="linkedIn-icon"
                      href="https://www.linkedin.com/in/krishnakant-salkar-6320861bb/"
                      target="_blank"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      class="telegram-icon"
                      href="https://t.me/Alex_merecer09"
                      target="_blank"
                      ><i class="fab fa-telegram-plane"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      class="git-icon"
                      href="https://github.com/krishnakantsalkar"
                      target="_blank"
                    >
                      <i class="fab fa-github"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      class="facebook-icon"
                      href="https://www.facebook.com/Supremegod.of.war"
                      target="_blank"
                      ><i class="fab fa-facebook"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      class="email-icon"
                      href="mailto:dev@krishnakantsalkar.in"
                      target="_blank"
                      ><i class="fas fa-at"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      class="instagram-icon"
                      href="https://instagram.com/that_developer_kid"
                      target="_blank"
                    >
                      <i class="fab fa-instagram" style="font-style: bold"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      class="snapchat-icon"
                      href="https://www.snapchat.com/add/aaron_stone99"
                      target="_blank"
                      ><i class="fab fa-snapchat-ghost"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      class="blog-icon"
                      href="https://www.krishnakantsalkar.in/blog/1"
                      target="_blank"
                      ><i class="fab fa-blogger-b"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      class="steam-icon"
                      href="https://steamcommunity.com/id/alex_mercer09"
                      target="_blank"
                      ><i class="fab fa-steam"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <div *ngIf="siteVisitors > 0" id="total-views">
                <h5>
                  <mat-icon class="icon_align">visibility</mat-icon>
                  <span
                    id="total-views-count"
                    class="mx-2"
                    [innerHtml]="visitorCount"
                  ></span>
                </h5>
              </div>

              <!-- <div class="feedbckfrm">
                <h2 class="footer-wid-title">Feedback?</h2>
                <p>
                  Hey there, Send us a quick feedback or any message regarding
                  any query you have!
                </p>
                <div class="feedback-form">
                  <form
                    class="feedback"
                    [formGroup]="sendFeedback"
                    (ngSubmit)="Send(sendFeedback.value)"
                  >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="name"
                      formControlName="name"
                      [ngStyle]="{
                        'background-color': sendFeedback.get('name').valid
                          ? 'rgb(160, 237, 115)'
                          : 'rgb(239, 133, 133)'
                      }"
                    />
                    <br />
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Type your email"
                      formControlName="email"
                      [ngStyle]="{
                        'background-color': sendFeedback.get('email').valid
                          ? 'rgb(160, 237, 115)'
                          : 'rgb(239, 133, 133)'
                      }"
                    />
                    <br />

                    <input
                      type="text"
                      class="form-control"
                      placeholder="message"
                      formControlName="message"
                      min="5"
                      [ngStyle]="{
                        'background-color': sendFeedback.get('message').valid
                          ? 'rgb(160, 237, 115)'
                          : 'rgb(239, 133, 133)'
                      }"
                    />
                    <br />

                    <button
                      mat-raised-button
                      class="btn-success"
                      type="submit"
                      [disabled]="!sendFeedback.valid"
                    >
                      Send
                      <span
                        id="uploadSpinner2"
                        class="spinner-border spinner-border-sm"
                      ></span>
                      <span id="uploadCheck2">
                        <i class="fas fa-check-circle"></i
                      ></span>
                      <span id="uploadCheckErr2">
                        <i class="fas fa-times-circle"></i
                      ></span>
                    </button>
                  </form>
                </div>
              </div> -->
            </div>
          </div>
          <div
            class="privacyPolicy"
            style="text-align: center; margin-top: 10px"
          >
            <h6>
              *By visiting here you agree to the
              <span
                routerLink="/privacy"
                style="cursor: pointer"
                [ngStyle]="{ color: brightness ? 'orangered' : 'violet' }"
                >privacy policy</span
              >
            </h6>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer area -->
    <div
      class="footer"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(223, 223, 223)'
          : ' rgb(41, 42, 45)'
      }"
    >
      <div class="footer-text">
        <h6 [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }">
          <i
            class="fas fa-copyright"
            [ngStyle]="{ color: brightness ? 'orangered' : 'violet' }"
          ></i>
          2020-{{ currentDate.getFullYear() }} |
          <span [ngStyle]="{ color: brightness ? 'orangered' : 'violet' }">
            Krishnakant Salkar</span
          >, Made with
          <i
            class="fas fa-code"
            [ngStyle]="{ color: brightness ? 'orangered' : 'violet' }"
          ></i>
        </h6>
        <span class="footerAngularLogo"
          ><i
            class="fab fa-angular"
            [ngStyle]="{ color: brightness ? 'orangered' : 'violet' }"
          ></i
        ></span>
      </div>
    </div>
  </body>
</html>
