nav {
  padding: 20px 10px 20px;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.nav-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/* .navbar .nav-item.active .nav-link,
.navbar .nav-item .nav-link:active,
.navbar .nav-item .nav-link:focus {
  color: rgb(49, 223, 107);
} */

.logout_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2px; */
  /* transition: 0.3s ease-in-out; */
}

/* .logout_icon mat-icon {
  width: 100%;
} */
.sidenav a,
.sidenavL a {
  text-decoration: none;
  color: #818181;
  padding: 10px;
  margin: auto 5px;
  font-size: 17px;
  font-family: "Lucida Sans Unicode";
  transition: 0.3s ease-in-out;
}
/* dark mode hover */
.sidenav a:hover
/*, .sidenav .logout_icon:hover  */ {
  background-color: violet;
  color: white !important;
  cursor: pointer;
  border-radius: 5px;
}
.sidenavL a:hover
/* ,.sidenavL .logout_icon:hover  */ {
  background-color: rgb(243, 61, 61);
  color: white !important;
  border-radius: 5px;
  cursor: pointer;
}
/* .modeLD {
  margin-top: 5px;
} */

#top-panel-nametag {
  font-size: 21px;
  font-weight: 600;
}

#navbarNav {
  position: absolute;
  right: 30px;
}

div.nametag {
  margin-left: 20px;
}
div.nametag a {
  text-decoration: none;
  cursor: pointer;
}
div.nametag h4 {
  color: gray;
  cursor: pointer;
  transition: 0.2s ease-in;
  /* font-family: "Lucida Sans Unicode"; */ /*to use later*/
  /* font-family: "Franklin Gothic Medium"; */ /*to use later*/
  font-family: "Bahnschrift SemiBold";
  text-shadow: 0 0.5px 1px rgb(20, 20, 20);
  padding-top: 5px;
}
.n1:hover {
  opacity: 0.7;
}
.n2:hover {
  opacity: 0.7;
}

span.one {
  color: violet;
  display: inline-block;
  width: 10px;
  border: 5px solid;
  height: 25px;
  position: relative;
  top: 5px;
  margin-left: 5px;
  animation: cursor 1s infinite;
}

span.two {
  color: red;
  display: inline-block;
  width: 10px;
  border: 5px solid;
  height: 25px;
  position: relative;
  top: 5px;
  margin-left: 5px;
  animation: cursor1 1s infinite;
}

.loadinganimDark {
  color: violet;
  animation: cursor 1s infinite;
}
.loadinganimLight {
  color: red;
  animation: cursor1 1s infinite;
}

@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
    text-shadow: 0px 0px 15px;
  }
}

@keyframes cursor1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: red;
    text-shadow: 0px 0px 15px rgb(243, 50, 82);
  }
}
.dropdown-menu {
  padding: 12px;
}

.activeCssD {
  color: violet !important;
  border-bottom: 2px solid violet;
  font-weight: 500;
}
.activeCssL {
  color: orangered !important;
  border-bottom: 2px solid orangered;
  font-weight: 500;
}

.nav_date {
  position: relative;
  /* top: 2px; */
  font-weight: 600;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: 10px;
  padding: 5px 10px;
}

.adjust_nav_link {
  position: relative;
  top: -6px;
}

.adjust_nav_link--icon {
  position: relative;
  top: 6px;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.nav-link:hover {
  color: white !important;
  font-weight: 500 !important;
}

@media only screen and (max-width: 600px) {
  #navbarNav {
    margin-left: 0;
    position: initial;
  }
  div.nametag {
    margin-left: 0px;
  }
  div.nametag h4 {
    font-size: 17px;
    padding-top: 5px;
  }

  .logout_icon {
    justify-content: flex-start;
  }

  .nav-item {
    justify-content: flex-start;
  }
}
