/* loading spinner for footer */
/* *:not(.material-icons) {
  font-family: "JetBrains Mono";
} */

.loadinganimDark {
  color: violet;
  animation: cursor 1s infinite;
}
.loadinganimLight {
  color: red;
  animation: cursor1 1s infinite;
}

@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
    text-shadow: 0px 0px 15px;
  }
}

@keyframes cursor1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: red;
    text-shadow: 0px 0px 15px rgb(243, 50, 82);
  }
}

.togglemode {
  color: #818181;
  padding-top: 20px;
  font-size: 25px;
  position: absolute;
  right: 20px;
  z-index: 1;
  top: 4px;
}

/* background for entire page */
div.content {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 42, 45);
}

.togglemode:hover {
  color: white;
}

div.bloglinks {
  padding-top: 20px;
  background-color: rgb(41, 42, 45);
  padding-bottom: 100px;
}

div.bloglinks h1 {
  color: #818181;
}

.blogdataCard {
  border-radius: 12px;
  padding-bottom: 6px;
}

div.card-body h2 {
  text-decoration: dotted;
}

div.pstimg img {
  height: auto;
  max-height: 100%;
  object-fit: contain;
  position: relative;
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.postImgContainer {
  position: relative;
}

div.floatingNewsPaperIcon {
  position: absolute;
  /* top: 20%;
  left: 48%; */
  /* transform: rotate(180deg); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  z-index: -10;
  padding: 5px 10px;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  background-color: white;
  color: black;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  opacity: 0;
}

div.pstimg img:hover {
  filter: blur(2px);
}

div.pstimg:hover div.floatingNewsPaperIcon {
  z-index: 2;
  transform: translate(-50%, -50%) rotate(360deg);
  opacity: 1;
}

.blgdata {
  border-bottom: 8px solid violet;
}

div.links .aLight:hover {
  background-color: red;
}

div.links .aDark:hover {
  background-color: violet;
}

.pagebtn {
  display: flex;
  justify-content: center;
}
.pagebtn button {
  margin: 10px;
}

/* Bootstrap Carousel css */
#carousel {
  z-index: 2;
  border-radius: 10px;
}

.carousel-inner {
  border-radius: 10px;
}
.carousel-inner img {
  height: 500px;
  width: 100%;
  border-radius: 10px;
}

.carouselImgLinks {
  text-decoration: none;
  color: grey;
  float: right;
  font-size: 12px;
}
.carouselImgLinks:hover {
  color: yellow;
}

div.cvrimg {
  background-color: rgb(41, 42, 45);
  padding-top: 120px;
}

/* .input-container {
  z-index: -10;
  display: none;
} */

#searchbar {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.icon {
  position: relative;
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  height: 38px;
  text-align: center;
  float: right;
  margin-top: -38px;
  cursor: pointer;
}

div.searchResult h3 {
  padding-top: 5px;
}
.queryResult {
  width: 50%;
  padding: 10px;
}

.divider {
  opacity: 0.6;
}
.clearbtn {
  text-align: center;
}

.fa-searchengin {
  cursor: pointer;
  animation: searchanim 1s 3;
}

.searchenginD:hover {
  color: violet;
}
.searchenginL:hover {
  color: red;
}

@keyframes searchanim {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

#overlay {
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.7s ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.widget-area {
  padding: 0px 0px 80px;
}
.widget-area .row {
  margin: 0px 0px;
}

.covidApp {
  height: auto;
  width: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

/* markdown */
.variable-binding,
.variable-textarea {
  width: 100%;
}

.variable-textarea {
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  min-height: 420px;
  padding: 8px;
  transition: all 300ms ease-out;
}

.variable-textarea:hover {
  box-shadow: 0 6px 12px 3px rgba(0, 0, 0, 0.09),
    0 2px 3px 1px rgba(0, 0, 0, 0.06);
}

.variable-binding {
  display: block;
  float: right;
}

#scrolldata a {
  text-decoration: none;
  cursor: pointer;
}
#scrolldata a:hover {
  text-shadow: 0 0 1px white;
}

#scrolldata .card_footer {
  display: flex;
  justify-content: space-between;
}
/* sharing buttons  */
/* div.sharingBtns {
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 10;
  opacity: 0.7;
  transition: 0.2s ease-in;
}
div.sharingBtns:hover {
  opacity: 1;
}
div.sharingBtns a {
  display: block;
  color: white;
  line-height: 40px;
  font-size: 17px;
  text-align: center;
  transition: 0.2s ease-in;
  border-radius: 2px;
}
div.sharingBtns .fbShare a {
  background-color: #314a83;
  height: 40px;
  width: 40px;
}
div.sharingBtns .twitterShare a {
  background-color: #0092cc;
  height: 40px;
  width: 40px;
}
div.sharingBtns .mailShare a {
  background-color: rgb(245, 23, 23);
  height: 40px;
  width: 40px;
}

div.sharingBtns .linkedInShare a {
  background-color: #0f699b;
  height: 40px;
  width: 40px;
}
div.sharingBtns .redditShare a {
  background-color: #ff471e;
  height: 40px;
  width: 40px;
}
div.sharingBtns .tgShare a {
  background-color: #0088cc;
  height: 40px;
  width: 40px;
}

div.sharingBtns .fbShare:hover a {
  width: 50px;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .twitterShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .mailShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .linkedInShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .redditShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .tgShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
} */
#uploadSpinner {
  display: none;
}
#uploadSpinner2 {
  display: none;
}
#uploadCheck {
  display: none;
}

.recommendedPosts a,
.mostViewedPosts a {
  margin: 10px 0;
}

div.hashtags .card-body span {
  cursor: pointer;
}

#searchsubmit1 {
  float: right;
  margin-top: -38px;
}

div.nextprev button {
  margin-top: 20px;
  margin-right: 10px;
}

.cancel {
  margin-right: 20px;
}

.alert-custom {
  color: white;
  font-size: 22px;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  display: inline-block;
  flex: 0 1 95%;
}

#twothousandtwenty {
  transition: 0.3s ease-in-out;
}

/* dark mode hover */
.darkHover:hover
/*, .sidenav .logout_icon:hover  */ {
  cursor: pointer;
  color: violet !important;
}
.lightHover:hover
/* ,.sidenavL .logout_icon:hover  */ {
  color: #e84858 !important;
  cursor: pointer;
}

.showYearOpt {
  transition: 0.3s ease-in-out;
}

.showYearOpt:hover {
  color: rgb(49, 223, 107) !important;
}

.showYears span {
  display: inline-block;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
  padding: 5px 10px;
}

.showYears span h1 {
  transition: 0.3s ease-in-out;
}

.showYears span:hover h1 {
  color: rgb(49, 223, 107) !important;
  border-radius: 8px;
  cursor: pointer;
}

.fadeYear {
  color: rgb(49, 223, 107) !important;
}

.showYearsDefault {
  font-size: 30px;
}

.showYearsDefault:hover {
  color: rgb(49, 223, 107) !important;
}

::ng-deep .blogBody .p-button,
.p-button-dialog-accept {
  color: rgb(49, 223, 107);
  background: #292929 !important;
}

::ng-deep .blogBody .p-button .p-button-text {
  color: rgb(49, 223, 107);
}

::ng-deep .blogBody .p-button:enabled:hover {
  color: white;
  background-color: rgb(49, 223, 107) !important;
}

.quillText ::ng-deep .ql-toolbar,
.quillText ::ng-deep .ql-container {
  background-color: white;
  color: rgb(41, 42, 45);
}
.quillText ::ng-deep .ql-container {
  min-height: 300px;
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
}

.card-subtitle {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 16px;
}
.post_title_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post_actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 80px;
}

.blog-item {
  margin-bottom: 70px;
}

.blog_tagsL {
  background-color: rgba(255, 69, 0, 0.13);
  color: #e84858;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
}

.blog_tagsD {
  background-color: rgba(238, 130, 213, 0.13);
  color: violet;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
}

.post_actions button {
  margin: 10px auto;
}

.action_icon mat-icon {
  font-size: 20px;
}

.action_icon:hover {
  box-shadow: none !important;
}

.right_blog_content {
  position: sticky;
  top: 70px;
}

.quotes_card {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.quote_refresh {
  transition: 0.3s ease-in-out;
  font-size: 40px;
  width: 50px;
  height: 50px;
  font-weight: 600;
}

.YearFilter,
.AllFilter {
  display: flex;
  align-items: center;
}

.quotes_container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 40px;
}

.blog-toolbar {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 12px;
}

.blog-toolbar form {
  width: 100%;
}
@media only screen and (max-width: 1400px) {
  .blog_tagsL,
  .blog_tagsD {
    font-size: 12px;
    max-height: 100px;
    overflow-y: auto;
  }
}

/* media query for mobile */
@media only screen and (max-width: 600px) {
  div.motto h5 {
    font-size: 14px;
  }

  .pstimg {
    text-align: center;
  }
  div.cvrimg {
    padding-top: 140px;
  }
  .carousel-inner img {
    height: 200px;
    width: 100%;
  }

  .widget-area .col-sm-6 {
    margin-bottom: 20px;
  }
  .widget-area {
    padding: 0px 0px 40px;
  }

  .card-subtitle {
    flex-wrap: wrap;
  }

  .card-main-footer {
    max-width: 150px;
  }

  /* share btns mobile css */
  /* div.sharingBtns {
    top: 35%;
  }
  div.sharingBtns a {
    line-height: 30px;
    font-size: 12px;
  }
  div.sharingBtns .fbShare a {
    background-color: #314a83;
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .twitterShare a {
    background-color: #0092cc;
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .mailShare a {
    background-color: rgb(245, 23, 23);
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .linkedInShare a {
    background-color: #0f699b;
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .redditShare a {
    background-color: #ff471e;
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .tgShare a {
    background-color: #0088cc;
    height: 30px;
    width: 30px;
  }

  div.sharingBtns .fbShare:hover a {
    width: 50px;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .twitterShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .mailShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .linkedInShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .redditShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .tgShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  } */

  .showYears span h1 {
    font-size: 25px;
  }
  .showYearsDefault {
    font-size: 22px;
  }

  .quotes_container {
    flex-direction: column;
  }

  .blog-toolbar {
    flex-direction: column;
  }
}
