<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- <a (click)="mode()" class="togglemode"><i class="fas fa-adjust"></i></a> -->
    <div
      class="top-panel"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(223, 223, 223)'
          : ' rgb(41, 42, 45)'
      }"
    >
      <div class="container myname">
        <div class="row">
          <div class="col-sm-6 nametag">
            <h3
              *ngIf="!brightness"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              > krishnakantsalkar@prototype:~<span class="one">$</span>
            </h3>

            <h3
              *ngIf="brightness"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              > krishnakantsalkar@prototype:~<span class="two">$</span>
            </h3>
          </div>
          <div class="col-sm-6 links">
            <a routerLink="/Home">
              <button type="button" class="btn btn-success btn-xs">
                Home
              </button></a
            >

            <a routerLink="/About">
              <button type="button" class="btn btn-primary btn-xs">
                About
              </button></a
            >
            <a routerLink="/Support">
              <button type="button" class="btn btn-warning btn-xs">
                Support
              </button></a
            >
          </div>
        </div>
      </div>
      <div></div>
    </div>
    <div
      class="content"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    ></div>
    <div
      class="bloglinks"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    >
      <div class="container">
        <h1>
          <b>2020</b>
        </h1>
        <button
          class="btn btn-warning"
          style="float: right;"
          *ngIf="checkUser"
          (click)="createPostmethod()"
        >
          Create post
        </button>
        <br />
        <br />

        <!-- Create post area -->

        <div class="createpost" *ngIf="createPost">
          <div class="card">
            <div class="card-header">
              <h1>Create post</h1>
            </div>
            <div class="card-body">
              <form
                [formGroup]="newPost"
                (ngSubmit)="SubmitPost(newPost.value)"
              >
                <div class="form-group">
                  <div class="form-row">
                    <label>Post Number</label>
                    <input
                      class="form-control"
                      type="number"
                      formControlName="postNumber"
                      placeholder="#"
                      min="2"
                      onKeyPress="if(this.value.length==10) return false;"
                    />
                  </div>
                  <div class="form-row">
                    <label>Post Title</label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="postTitle"
                      placeholder="Enter Title"
                    />
                  </div>
                  <div class="form-row">
                    <label>Post Content</label>
                    <textarea
                      class="form-control"
                      type="text"
                      formControlName="post"
                      placeholder="Post"
                    >
                    </textarea>
                  </div>
                  <div class="form-row">
                    <label>External Link</label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="postLink"
                      placeholder="Link"
                    />
                  </div>
                </div>
                <button
                  type="reset"
                  class="btn btn-primary cancel"
                  (click)="createPostmethod()"
                >
                  Cancel
                </button>
                <button type="submit" class="btn btn-success">Submit</button>
              </form>
            </div>
          </div>
        </div>

        <!-- Blog data -->
        <div class="blogdata" *ngIf="data">
          <div class="loopdata" *ngFor="let d of data">
            <hr *ngIf="data" style="background-color: white;" />
            <div class="container">
              <div
                class="body"
                data-aos="fade-up"
                data-aos-delay="300"
                data-aos-duration="1000"
              >
                <h2
                  [ngStyle]="{
                    color: brightness ? 'black' : 'rgb(129,129,129)'
                  }"
                  style="padding-top: 20px;"
                >
                  <a routerLink="/Blog/{{ d._id }}" *ngIf="data"
                    >#{{ d.postNumber }}: {{ d.postTitle }}</a
                  >
                  <!-- post edited or not -->
                  <h6
                    [ngStyle]="{
                      color: brightness ? 'black' : 'rgb(129,129,129)'
                    }"
                  >
                    <span *ngIf="d.edited == true"
                      ><i class="fas fa-pencil-alt"></i> edited.</span
                    >
                    <span style="float: right;"
                      ><i class="fas fa-eye"></i
                    ></span>
                  </h6>
                  <h5
                    *ngIf="data"
                    [ngStyle]="{
                      color: brightness ? 'black' : 'rgb(129,129,129)'
                    }"
                  >
                    {{ d.postDate }}
                  </h5>
                </h2>
                <p
                  *ngIf="data"
                  [ngStyle]="{
                    color: brightness ? 'black' : 'rgb(129,129,129)'
                  }"
                  style="padding-bottom: 30px;"
                >
                  {{ d.post | slice: 0:130 }}...
                  <a routerLink="/Blog/{{ d._id }}"> Read more</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer area -->
    <div
      class="footer"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(223, 223, 223)'
          : ' rgb(41, 42, 45)'
      }"
    >
      <div class="footer-text">
        <h6 [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }">
          <i
            class="fas fa-copyright"
            [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
          ></i>
          2020 Krishnakant Salkar, Made with
          <i
            class="fas fa-heartbeat"
            [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
          ></i>
          using Angular 9...
        </h6>
      </div>
    </div>
  </body>
</html>
