<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body
    [ngStyle]="{
      'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
    }"
  >
    <div id="overlay" (click)="off()">
      <div class="overlay-content">
        <div
          data-aos="zoom-in"
          data-aos-delay="300"
          data-aos-duration="1000"
          class="card"
          [ngStyle]="{
            'background-color': brightness
              ? 'rgb(223, 223, 223)'
              : ' rgb(41, 42, 45)'
          }"
        >
          <div
            class="card-header"
            [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
          >
            <h3>TheArsonist~</h3>
          </div>
          <article
            *ngIf="logResponse"
            class="card-body"
            [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
          >
            <h4>New post Added!</h4>
            <br />
            <h5>#{{ logResponse.postNumber }}</h5>
            <h5>Post Title: {{ logResponse.postTitle }}</h5>
          </article>
          <article
            *ngIf="errResponse"
            class="card-body"
            [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
          >
            <h4>{{ errResponse }}</h4>
          </article>
          <div class="card-footer">
            <button class="btn btn-success" (click)="off()">OK</button>
          </div>
        </div>
      </div>
    </div>

    <!-- background -->
    <div
      class="content"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    ></div>

    <!-- social sharing buttons (new) -->

    <div class="sharingBtns" *ngIf="blogURL">
      <div class="fbShare">
        <a
          class="fbLink"
          href="https://www.facebook.com/sharer.php?u={{ blogURL }}"
          target="_blank"
        >
          <i class="fab fa-facebook-f"></i
        ></a>
      </div>
      <div class="twitterShare">
        <a
          href="https://www.twitter.com/share?text=The-Arsonist's Blog page&url={{
            blogURL
          }}"
          target="_blank"
        >
          <i class="fab fa-twitter"></i
        ></a>
      </div>
      <div class="mailShare">
        <a
          href="mailto:someone@example.com?subject=Heyy!%20Check%20out%20this%20Post%20!!&amp;body=%20{{
            blogURL
          }}"
          target="_blank"
        >
          <i class="fas fa-at"></i
        ></a>
      </div>

      <div class="linkedInShare">
        <a
          href="https://www.linkedin.com/shareArticle?mini=true&url={{
            blogURL
          }}"
          target="_blank"
        >
          <i class="fab fa-linkedin-in"></i
        ></a>
      </div>
      <div class="redditShare">
        <a
          href="https://www.reddit.com/submit?url={{ blogURL }}"
          target="_blank"
          ><i class="fab fa-reddit-alien"></i
        ></a>
      </div>
      <div class="tgShare">
        <a
          href="https://telegram.me/share/url?url={{ blogURL }}"
          target="_blank"
        >
          <i class="fab fa-telegram-plane"></i
        ></a>
      </div>
    </div>

    <!-- cover img container -->
    <div
      class="cvrimg container"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    >
      <!-- Bootstrap Carousel -->
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://res.cloudinary.com/dq766ltjh/image/upload/v1603720093/blog%20cover/Adobe_Post_20200807_1743590.23573714086058384_h83kqo.jpg"
              alt="Photo By Negative Space, Pexels"
            />
            <div class="carousel-caption">
              <h6>Web | Android | Python | Gaming</h6>
              <a
                class="carouselImgLinks"
                href="https://www.pexels.com/photo/office-working-app-computer-97077/"
                >Photo by Negative Space, Pexels</a
              >
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="assets/images/pexels-luis-gomes-546819.jpg"
              alt="Photo By Luis Gomes, Pexels"
            />
            <div class="carousel-caption">
              <h3>Custom Development</h3>
              <p>Fast, Detailed, Material Design</p>
              <p>
                <a
                  class="carouselImgLinks"
                  href="https://www.pexels.com/photo/blur-close-up-code-computer-546819/"
                  >Photo by Luis Gomes, Pexels</a
                >
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="assets/images/pexels-neo-2653362.jpg"
              alt="Photo By Neo, Pexels"
            />
            <div class="carousel-caption">
              <h3>Debug</h3>
              <p>"Hello World"</p>
              <p>
                <a
                  style="float: left; margin-bottom: 20px"
                  class="carouselImgLinks"
                  href="https://www.pexels.com/photo/lines-of-code-2653362/"
                  >Photo by Neo, Pexels</a
                >
              </p>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>

    <div
      class="bloglinks"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    >
      <div class="container" id="main">
        <br />
        <div class="row">
          <div class="col-2 col-lg-1">
            <h1>
              <b id="twothousandtwenty" (click)="showAllList()">{{ year }}</b>
            </h1>
          </div>
          <div class="col-2 col-lg-1">
            <h1>
              <i
                class="fab fa-searchengin"
                style="margin-left: 20px"
                (click)="showsearch()"
                [ngClass]="{
                  searchenginL: brightness,
                  searchenginD: !brightness
                }"
                title="Search!"
              ></i>
            </h1>
          </div>
          <div
            class="col-md-8 col-lg-10"
            style="height: auto; width: 100%; text-align: center"
          >
            <span
              class="alert alert-custom"
              [ngStyle]="{
                'background-color': brightness ? 'coral' : ' violet'
              }"
              *ngIf="movieQArr"
              >"{{ movieQ }}" ~ {{ movieName }}</span
            >
          </div>
        </div>
        <div style="display: inline-block">
          <h1
            (click)="showYearList()"
            style="cursor: pointer; display: inline-block"
            class="showYearOpt"
          >
            <b>Year</b>
          </h1>
          <span
            class="showArrow"
            style="display: inline-block; margin-left: 8px"
            ><h1><b>></b></h1></span
          >

          <div class="alert showYears">
            <span (click)="blogsP(1, 2020)"
              ><h1 [ngClass]="{ fadeYear: pageYear == 2020 }">2020</h1></span
            >
            <span (click)="blogsP(1, 2021)"
              ><h1 [ngClass]="{ fadeYear: pageYear == 2021 }">2021</h1></span
            >
            <span onclick="location.reload()">
              <h1 class="showYearsDefault">
                <i class="fas fa-times-circle"></i>
              </h1>
            </span>
          </div>
        </div>

        <!-- search input field -->
        <form [formGroup]="newSearch" (ngSubmit)="Search(newSearch.value)">
          <div class="input-container" id="input-container">
            <input
              type="text"
              id="searchbar"
              placeholder=""
              formControlName="post"
              class="form-control"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(223, 223, 223)'
                  : ' white',
                color: brightness ? 'black' : 'white'
              }"
            />
            <i class="fas fa-search icon"></i>
            <br />
          </div>
        </form>
        <div class="searchResult" id="searchResult" *ngIf="searchResult">
          <div
            class="card"
            data-aos="fade-up"
            data-aos-delay="300"
            data-aos-duration="1000"
            [ngStyle]="{
              'background-color': brightness
                ? 'rgb(223, 223, 223)'
                : ' rgb(35,36,37)',
              color: brightness ? 'black' : 'white'
            }"
          >
            <h3 align="center">Search Results</h3>
            <p align="center" *ngIf="searchResult.length == 0">
              Doesnt look like anythng~
            </p>
            <div class="card-body" *ngIf="searchResult.length > 0">
              <div class="row">
                <div
                  class="col-xs-3 queryResult"
                  *ngFor="let result of searchResult"
                >
                  <a
                    routerLink="/Blog/{{ result.postNumber }}/{{
                      result.postTitle
                    }}/{{ result._id }}"
                    [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
                  >
                    {{ result.postNumber }}: {{ result.postTitle }}</a
                  >
                  <br />
                  {{ result.post | slice: 0:90 }}

                  <span
                    routerLink="/Blog/{{ result.postNumber }}/{{
                      result.postTitle
                    }}/{{ result._id }}"
                    >....</span
                  >

                  <br *ngIf="searchResult" />
                </div>
              </div>
              <div class="clearbtn">
                <button class="btn btn-danger" (click)="cancel()">Clear</button>
              </div>
            </div>
          </div>
          <br />
        </div>

        <!-- add a loading... animation -->

        <div class="loading" *ngIf="!data">
          <h4 *ngIf="!brightness" class="loadinganimDark">
            Loading... <span class="spinner-border"></span>
          </h4>
          <h4 *ngIf="brightness" class="loadinganimLight">
            Loading... <span class="spinner-border"></span>
          </h4>
        </div>

        <button
          class="btn btn-warning"
          style="float: right"
          *ngIf="checkUser"
          (click)="createPostmethod()"
        >
          Create post
        </button>
        <br *ngIf="checkUser" />
        <br />

        <!-- Create post area -->

        <div class="createpost" *ngIf="createPost">
          <div
            class="card"
            [ngStyle]="{
              'background-color': brightness
                ? 'rgb(223, 223, 223)'
                : ' rgb(35, 36, 38)',
              color: brightness ? 'black' : 'white'
            }"
          >
            <div class="card-header">
              <h1>Create post</h1>
            </div>
            <div class="card-body">
              <h3>Upload image</h3>
              <div *ngIf="currentBlogImgP">
                <img
                  [src]="currentBlogImgP"
                  style="height: 200px; width: auto; max-width: 100%"
                />
              </div>

              <br />

              <input
                type="file"
                class="blogpimg"
                fomrControlName="postImage"
                multiple
                (change)="selection($event)"
              />
              <br />
              <br />
              <button
                type="submit"
                class="btn btn-info"
                (click)="SubmitFile()"
                style="margin-right: 15px"
              >
                upload
                <span
                  id="uploadSpinner"
                  class="spinner-border spinner-border-sm"
                ></span>
                <span id="uploadCheck">
                  <i class="fas fa-check-circle"></i
                ></span>
              </button>
              <button
                type="reset"
                class="btn btn-danger"
                (click)="currentBlogImgP = null"
              >
                reset
              </button>
              <br />
              <br />
              <div class="alert alert-warning" style="display: inline-block">
                <p>
                  *upload image first, it won't be uploaded during post
                  submission!
                </p>
              </div>
              <form
                [formGroup]="newPost"
                (ngSubmit)="SubmitPost(newPost.value)"
              >
                <div class="form-group">
                  <div class="form-row">
                    <div class="postNumberInput col-sm-6">
                      <label for="postNumberInput">Post Number</label>
                      <input
                        class="form-control"
                        type="number"
                        formControlName="postNumber"
                        placeholder="#"
                        min="2"
                        onKeyPress="if(this.value.length==10) return false;"
                        readonly
                      />
                    </div>
                    <div class="postTitleInput col-sm-6">
                      <label for="postTitleInput">Post Title</label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="postTitle"
                        placeholder="Enter Title"
                      />
                    </div>
                  </div>
                  <br />
                  <div class="form-row">
                    <div class="postLinkInput1 col-sm-6">
                      <label>External Link</label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="postLink"
                        placeholder="Link"
                      />
                    </div>
                    <div class="postLinkInput2 col-sm-6">
                      <label>External Link 2</label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="postLink2"
                        placeholder="Link"
                      />
                    </div>
                  </div>
                  <br />
                  <div class="form-row">
                    <div class="postLinkInput3 col-sm-6">
                      <label>External Link 3</label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="postLink3"
                        placeholder="Link"
                      />
                    </div>
                    <div class="postLinkInput4 col-sm-6">
                      <label>External Link 4</label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="postLink4"
                        placeholder="Link"
                      />
                    </div>
                  </div>
                  <br />
                  <div class="form-row">
                    <label>Author</label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="postAuthor"
                      placeholder=""
                      readonly
                    />
                  </div>
                </div>
              </form>
              <br />
              <div>
                <label>Post Content</label>
                <br />

                <div class="row">
                  <div class="col-sm-12">
                    <textarea
                      id="dataBindings"
                      class="variable-textarea"
                      [(ngModel)]="markdown"
                      name="textareas"
                    ></textarea>
                  </div>

                  <div
                    class="col-sm-12"
                    [ngStyle]="{
                      'background-color': brightness
                        ? 'rgb(223, 223, 223)'
                        : ' #F5F5F5',
                      color: brightness ? 'black' : 'black'
                    }"
                    style="border-radius: 8px; margin-top: 8px"
                  >
                    <h5>Preview:</h5>
                    <markdown
                      class="variable-binding"
                      [data]="markdown"
                      emoji
                    ></markdown>
                  </div>
                </div>
              </div>
              <br />
              <button
                type="reset"
                class="btn btn-primary cancel"
                (click)="createPostmethod()"
              >
                Cancel
              </button>
              <button
                type="submit"
                class="btn btn-success"
                [disabled]="!newPost.valid"
                (click)="submitAll()"
              >
                Submit
                <span
                  id="uploadSpinner2"
                  class="spinner-border spinner-border-sm"
                ></span>
              </button>
            </div>
          </div>
        </div>
        <br />

        <!-- Blog data -->
        <div class="row">
          <div class="blogdata col-sm-8" *ngIf="data">
            <div class="loopdata" *ngFor="let d of data; let i = index">
              <!-- <hr *ngIf="data" style="background-color: white;" /> -->
              <!-- <br /> -->
              <div>
                <div
                  class="card blogdataCard"
                  data-aos="fade-up"
                  data-aos-delay="300"
                  data-aos-duration="1000"
                  [ngStyle]="{
                    'background-color': brightness
                      ? 'rgb(223, 223, 223)'
                      : ' rgb(35, 36, 38)'
                  }"
                >
                  <!-- blogpost image -->
                  <div
                    class="card-img-top pstimg"
                    data-aos="fade-right"
                    data-aos-delay="300"
                    data-aos-duration="1000"
                    *ngIf="d.postImage"
                    [ngStyle]="{
                      'border-color': brightness ? 'rgb(255, 77, 77)' : 'violet'
                    }"
                    [ngClass]="{
                      blgdata: d.postImage
                    }"
                  >
                    <a
                      routerLink="/Blog/{{ d.postNumber }}/{{ d.postTitle }}/{{
                        d._id
                      }}"
                    >
                      <img src="{{ d.postImage }}"
                    /></a>
                    <div class="floatingNewsPaperIcon">
                      <i class="fas fa-newspaper"></i>
                    </div>
                  </div>
                  <div
                    id="scrolldata"
                    class="body"
                    data-aos="fade-up"
                    data-aos-delay="300"
                    data-aos-duration="1000"
                    [ngClass]="{
                      blgdata: !d.postImage
                    }"
                    [ngStyle]="{
                      'border-color': brightness ? 'rgb(255, 77, 77)' : 'violet'
                    }"
                  >
                    <div class="card-header">
                      <h2
                        [ngStyle]="{
                          color: brightness ? 'black' : 'rgb(129,129,129)'
                        }"
                        style="
                          padding-top: 20px;
                          padding-bottom: 10px;
                          border-bottom: 1px dashed;
                        "
                      >
                        <a
                          routerLink="/Blog/{{ d.postNumber }}/{{
                            d.postTitle
                          }}/{{ d._id }}"
                          *ngIf="data"
                          [ngStyle]="{
                            color: brightness ? 'red' : 'violet'
                          }"
                          >#{{ d.postNumber }}: {{ d.postTitle }}</a
                        >

                        <!-- new post badge -->
                        <h3>
                          <span
                            *ngIf="d.postNumber == datacount"
                            class="badge badge-secondary"
                            >New</span
                          >
                        </h3>

                        <!-- post edited or not -->
                        <h6
                          [ngStyle]="{
                            color: brightness ? 'black' : 'rgb(129,129,129)'
                          }"
                        >
                          <span
                            *ngIf="d.edited == true"
                            [ngStyle]="{
                              color: brightness ? 'red' : 'violet'
                            }"
                            ><i class="fas fa-pencil-alt"></i> edited.</span
                          >
                          <span
                            style="float: right"
                            [ngStyle]="{
                              color: brightness ? 'red' : 'violet'
                            }"
                            >{{ d.userViews.length }} <i class="fas fa-eye"></i
                          ></span>
                        </h6>

                        <!-- post date -->
                        <h6
                          *ngIf="data"
                          class="card-subtitle text-muted"
                          [ngStyle]="{
                            color: brightness ? 'black' : 'rgb(129,129,129)'
                          }"
                        >
                          <i class="fas fa-clock"></i> {{ d.postDate }}
                        </h6>
                      </h2>
                    </div>

                    <!-- main post rendered in markdown -->
                    <div
                      *ngIf="data"
                      class="card"
                      [ngStyle]="{
                        'background-color': brightness
                          ? 'rgb(245, 245, 245)'
                          : ' rgb(32, 33, 33)',
                        color: brightness ? 'black' : 'rgb(129,129,129)'
                      }"
                      style="margin-bottom: 10px; margin: 12px"
                    >
                      <div class="card-body">
                        <markdown
                          class="variable-binding"
                          emoji
                          style="width: 100%"
                        >
                          {{ d.post | slice: 0:150 }}...</markdown
                        >
                      </div>

                      <!-- read more -->
                      <div class="card-footer">
                        <a
                          routerLink="/Blog/{{ d.postNumber }}/{{
                            d.postTitle
                          }}/{{ d._id }}"
                          style="text-decoration: none; cursor: pointer"
                          [ngStyle]="{
                            color: brightness ? 'red' : 'violet'
                          }"
                        >
                          Read more</a
                        >
                      </div>
                    </div>

                    <!-- display approx reading time -->
                    <div
                      class="readingTime"
                      style="float: left; margin-left: 15px"
                    >
                      <h6
                        [ngStyle]="{
                          color: brightness ? 'red' : 'violet'
                        }"
                        *ngIf="readTimeCheck.length > 0"
                      >
                        {{ readTimeCheck[i] }}
                        <span
                          [ngStyle]="{
                            color: brightness ? 'black' : 'rgb(129,129,129)'
                          }"
                          >|</span
                        >
                        {{ totalWordsCheck[i] }}
                        <span
                          [ngStyle]="{
                            color: brightness ? 'black' : 'rgb(129,129,129)'
                          }"
                          >words</span
                        >
                      </h6>
                    </div>

                    <!-- post author -->
                    <div
                      class="postauthor"
                      style="float: right; margin-right: 20px"
                    >
                      <h6
                        *ngIf="d.postAuthor"
                        [ngStyle]="{
                          color: brightness ? 'black' : 'rgb(129,129,129)'
                        }"
                      >
                        <i class="fas fa-user"></i> By:
                        <span
                          class="postauthor"
                          [ngStyle]="{
                            color: brightness ? 'red' : 'violet'
                          }"
                          (click)="gotoAuthor()"
                          style="cursor: pointer"
                        >
                          {{ d.postAuthor }}</span
                        >
                      </h6>
                      <h6
                        *ngIf="!d.postAuthor"
                        [ngStyle]="{
                          color: brightness ? 'black' : 'rgb(129,129,129)'
                        }"
                      >
                        <i class="fas fa-user"></i> By:
                        <span
                          [ngStyle]="{
                            color: brightness ? 'red' : 'violet'
                          }"
                          >Admin</span
                        >
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
              <br />
            </div>
          </div>

          <!-- other column for info -->
          <div class="col-sm-4">
            <div
              *ngIf="data"
              class="card"
              data-aos="zoom-in"
              data-aos-delay="300"
              data-aos-duration="1000"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(223, 223, 223)'
                  : ' rgb(35, 36, 38)',
                color: brightness ? 'black' : 'white'
              }"
            >
              <!-- recommended posts -->
              <div class="recommended">
                <div class="card-header">
                  <h5>Recommended posts</h5>
                </div>
                <div class="card-body">
                  <div class="recommendedPosts" *ngFor="let d of allData">
                    <h5 *ngIf="d.recommended">
                      <a
                        [ngStyle]="{
                          color: brightness ? 'red' : 'violet'
                        }"
                        routerLink="/Blog/{{ d.postNumber }}/{{
                          d.postTitle
                        }}/{{ d._id }}"
                        >#{{ d.postNumber }}: {{ d.postTitle }}</a
                      >
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <br />

            <div
              *ngIf="data"
              class="card"
              data-aos="slide-up"
              data-aos-delay="300"
              data-aos-duration="1000"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(223, 223, 223)'
                  : ' rgb(35, 36, 38)',
                color: brightness ? 'black' : 'white'
              }"
            >
              <!-- most viewed posts -->
              <div class="mostViewed">
                <div class="card-header">
                  <h5>Most Viewed</h5>
                </div>
                <div class="card-body">
                  <div
                    class="mostViewedPosts"
                    *ngFor="let d of allData | slice: 0:5"
                  >
                    <h5 *ngIf="d.userViews.length >= 2">
                      <a
                        [ngStyle]="{
                          color: brightness ? 'red' : 'violet'
                        }"
                        routerLink="/Blog/{{ d.postNumber }}/{{
                          d.postTitle
                        }}/{{ d._id }}"
                        >#{{ d.postNumber }}: {{ d.postTitle }}</a
                      >
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div
              *ngIf="data"
              class="card hashtags"
              data-aos="slide-up"
              data-aos-delay="300"
              data-aos-duration="1000"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(223, 223, 223)'
                  : ' rgb(35, 36, 38)',
                color: brightness ? 'red' : 'violet'
              }"
            >
              <!-- some hashtags to search blogposts -->
              <div class="card-body">
                <p>
                  <strong>
                    <span (click)="Search({ post: 'pixel experience' })">
                      #pixelexperience</span
                    >
                    &nbsp;
                    <span (click)="Search({ post: 'android' })">#android</span
                    >&nbsp;
                    <span (click)="Search({ post: 'corvus' })">#corvus</span
                    >&nbsp;
                    <span (click)="Search({ post: 'heroku' })">#heroku</span
                    >&nbsp;
                    <span (click)="Search({ post: 'python' })">#python</span
                    >&nbsp;
                    <span (click)="Search({ post: 'pixys' })">#pixys</span
                    >&nbsp;
                    <span (click)="Search({ post: 'angular' })">#angular</span
                    >&nbsp;
                    <span (click)="Search({ post: 'node' })">#node</span>&nbsp;
                    <span (click)="Search({ post: 'counter strike' })"
                      >#csgo</span
                    >&nbsp;
                    <span (click)="Search({ post: 'markdown' })">#markdown</span
                    >&nbsp;

                    <span routerLink="/Movies&TV">#movieDB</span>&nbsp;
                  </strong>
                </p>
              </div>
            </div>
            <br />
            <div
              *ngIf="data"
              class="card"
              data-aos="slide-up"
              data-aos-delay="300"
              data-aos-duration="1000"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(223, 223, 223)'
                  : ' rgb(35, 36, 38)',
                color: brightness ? 'red' : 'violet'
              }"
            >
              <!-- one more search field -->
              <div class="card-body">
                <form
                  [formGroup]="newSearch"
                  (ngSubmit)="Search(newSearch.value)"
                >
                  <div class="extraSearch">
                    <label for="extraSearchBar">
                      <strong> Search:</strong>
                    </label>
                    <input
                      name="extraSearchBar"
                      type="text"
                      id="extraSearchBar"
                      placeholder=""
                      formControlName="post"
                      class="form-control"
                    />
                    <button
                      class="btn btn-success"
                      id="searchsubmit1"
                      type="submit"
                    >
                      <i class="fas fa-check-square"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <br />
          </div>
        </div>

        <!-- pagination logics -->
        <div class="pagebtn" *ngIf="data">
          <button
            class="btn"
            [disabled]="pageNo == 1"
            [ngStyle]="{
              'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
              color: brightness ? 'white' : 'black'
            }"
            (click)="blogsP(1, pageYear)"
          >
            1
          </button>
          <button
            class="btn"
            [disabled]="pageNo == 2"
            [ngStyle]="{
              'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
              color: brightness ? 'white' : 'black'
            }"
            (click)="blogsP(2, pageYear)"
          >
            2
          </button>

          <button
            class="btn"
            [disabled]="pageNo == 3"
            [ngStyle]="{
              'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
              color: brightness ? 'white' : 'black'
            }"
            (click)="blogsP(3, pageYear)"
          >
            3
          </button>
          <button
            *ngIf="datacount > 18"
            class="btn"
            [disabled]="pageNo == 4"
            [ngStyle]="{
              'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
              color: brightness ? 'white' : 'black'
            }"
            (click)="blogsP(4, pageYear)"
          >
            4
          </button>
          <button
            *ngIf="datacount > 24"
            class="btn"
            [disabled]="pageNo == 5"
            [ngStyle]="{
              'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
              color: brightness ? 'white' : 'black'
            }"
            (click)="blogsP(5, pageYear)"
          >
            5
          </button>

          <button
            *ngIf="datacount > 30"
            class="btn"
            [disabled]="pageNo == 6"
            [ngStyle]="{
              'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
              color: brightness ? 'white' : 'black'
            }"
            (click)="blogsP(6, pageYear)"
          >
            5
          </button>

          <button
            *ngIf="datacount > 36"
            class="btn"
            [disabled]="pageNo == 7"
            [ngStyle]="{
              'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
              color: brightness ? 'white' : 'black'
            }"
            (click)="blogsP(7, pageYear)"
          >
            5
          </button>
        </div>
      </div>
    </div>

    <!-- Footer area -->
    <app-footer></app-footer>
  </body>
</html>
