div.top-panel {
  background-color: rgb(37, 38, 39);
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 3;
}

div.nametag h3 {
  padding-top: 25px;
  color: gray;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.n1:hover {
  opacity: 0.7;
}
.n2:hover {
  opacity: 0.7;
}

div.links {
  margin-top: 10px;
  padding: 15px;
  font-size: 22px;
  transition: 0.2s ease-in;
}

span.one {
  color: violet;
  animation: cursor 1s infinite;
}

span.two {
  color: red;
  animation: cursor1 1s infinite;
}

.loadinganimDark {
  color: violet;
  animation: cursor 1s infinite;
}
.loadinganimLight {
  color: red;
  animation: cursor1 1s infinite;
}

@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
    text-shadow: 0px 0px 15px;
  }
}

@keyframes cursor1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: red;
    text-shadow: 0px 0px 15px rgb(243, 50, 82);
  }
}

@media only screen and (max-width: 600px) {
  div.nametag h3 {
    font-size: 15px;
    text-align: center;
  }

  div.links {
    margin-top: -10px;
    text-align: center;
    font-size: 18px;
  }
  div.links button {
    margin-top: -50px;
    font-size: 10px;
  }
  div.top-panel {
    height: 110px;
  }
}

div.links a {
  padding: 10px;
  margin: 0px 10px;
  color: #818181;
  border-radius: 5px;
  /* display: block; */
}
div.links a:hover {
  color: white;
  text-decoration: none;
}

.togglemode {
  color: #818181;
  padding-top: 20px;
  font-size: 25px;
  position: absolute;
  right: 20px;
  z-index: 1;
  top: 4px;
}

div.content {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 42, 45);
}

.togglemode:hover {
  color: white;
}

div.bloglinks {
  padding-top: 20px;
  background-color: rgb(41, 42, 45);
  padding-bottom: 100px;
}

div.bloglinks h1 {
  color: #818181;
}

.blogdataCard {
  border-radius: 10px;
}

div.card-body h2 {
  text-decoration: dotted;
}

div.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(37, 38, 39);
  height: 60px;
  z-index: 2;
}

div.footer-text {
  text-align: center;
  padding-top: 20px;
}
div.footer h6,
div.footer i {
  color: #818181;
  font-size: 17px;
}
div.pstimg img {
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 2px 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.blgdata {
  border-left: 8px solid violet;
}

div.links .aLight:hover {
  background-color: red;
}

div.links .aDark:hover {
  background-color: violet;
}

.pagebtn {
  text-align: center;
}
.pagebtn button {
  margin: 10px;
}

/* Bootstrap Carousel css */
#carousel {
  z-index: 2;
  border-radius: 10px;
}

.carousel-inner {
  border-radius: 10px;
}
.carousel-inner img {
  height: 520px;
  width: 100%;
  border-radius: 10px;
}

.carouselImgLinks {
  text-decoration: none;
  color: grey;
  float: right;
  font-size: 12px;
}
.carouselImgLinks:hover {
  color: yellow;
}

div.cvrimg {
  background-color: rgb(41, 42, 45);
  padding-top: 120px;
}

#searchbar {
  position: relative;
  z-index: -1;
  margin-top: -200px;
  width: 0;
  transition: width 0.4s ease-in-out;
  border: 1px solid;
  border-radius: 5px;
}
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  position: relative;
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
  z-index: -1;
  margin-top: -200px;
  transition: width 0.4s ease-in-out;
}

.input-field {
  /* padding: 10px; */
  outline: none;
}
.input-container button {
  z-index: -1;
  margin-top: -200px;
}

div.searchResult h3 {
  padding-top: 5px;
}
.queryResult {
  width: 50%;
  padding: 10px;
}

.divider {
  opacity: 0.6;
}
.clearbtn {
  text-align: center;
}

.fa-searchengin {
  cursor: pointer;
  animation: searchanim 1s 3;
}

.searchenginD:hover {
  color: violet;
}
.searchenginL:hover {
  color: red;
}

@keyframes searchanim {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

#overlay {
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.7s ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  transition: 0.7s ease-in-out;
  width: 250px;
}

.overlay-content .card-header {
  text-align: center;
  padding: 10px 20px;
}

.overlay-content .card-body {
  padding: 10px 20px;
}

.overlay-content .card-footer {
  text-align: center;
  padding: 10px 20px;
}

.widget-area {
  padding: 0px 0px 80px;
}
.widget-area .row {
  margin: 0px 0px;
}

.covidApp {
  height: auto;
  width: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  div.footer {
    height: 30px;
  }
  .footer-text {
    margin-top: -9px;
  }
  div.footer h6,
  div.footer i {
    font-size: 9px;
  }
  div.motto h5 {
    font-size: 14px;
  }

  .pstimg {
    text-align: center;
  }
  div.cvrimg {
    padding-top: 140px;
  }
  .carousel-inner img {
    height: 200px;
    width: 100%;
  }
  .covidApp {
    width: 100%;
  }
  .widget-area .col-sm-6 {
    margin-bottom: 20px;
  }
  .widget-area {
    padding: 0px 0px 40px;
  }
}

div.nextprev button {
  margin-top: 20px;
  margin-right: 10px;
}

.cancel {
  margin-right: 20px;
}
