<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- <a (click)="mode()" class="togglemode"><i class="fas fa-adjust"></i></a> -->
    <div
      class="top-panel"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(223, 223, 223)'
          : ' rgb(41, 42, 45)'
      }"
    >
      <div class="container myname">
        <div class="row">
          <div class="col-sm-6 nametag">
            <h3
              *ngIf="!brightness"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              > krishnakantsalkar@prototype:~<span class="one">$</span>
            </h3>

            <h3
              *ngIf="brightness"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              > krishnakantsalkar@prototype:~<span class="two">$</span>
            </h3>
          </div>
          <div class="col-sm-6 links">
            <a routerLink="/Home">
              <button type="button" class="btn btn-success btn-xs">
                Home
              </button></a
            >

            <a routerLink="/About">
              <button type="button" class="btn btn-primary btn-xs">
                About
              </button></a
            >
            <a routerLink="/Support">
              <button type="button" class="btn btn-warning btn-xs">
                Support
              </button></a
            >
          </div>
        </div>
      </div>
      <div></div>
    </div>
    <div
      class="content"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    ></div>
    <div
      class="bloglinks"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    >
      <div class="container">
        <h1>
          <b>June 2020</b>
        </h1>
        <br />
        <!-- <hr style="background-color: white;" /> -->
        <div class="card">
          <div
            class="card-body"
            data-aos="fade-left"
            data-aos-delay="300"
            data-aos-duration="1000"
          >
            <h2>
              <a routerLink="/Blogposts/5" *ngIf="data">{{
                data[4].postTitle
              }}</a>
              <h5>Sun Jun 21 2020 22:24:33 GMT+0530 (India Standard Time)</h5>
            </h2>
            <p>
              {{ data[4].post | slice: 0:100 }}....
              <a routerLink="/Blogposts/5"> Read more</a>
            </p>
          </div>
        </div>
        <hr style="background-color: white;" />
        <div class="card">
          <div
            class="card-body"
            data-aos="fade-right"
            data-aos-delay="300"
            data-aos-duration="1000"
          >
            <h2>
              <a routerLink="/Blogposts/4" *ngIf="data">{{
                data[3].postTitle
              }}</a>
              <h5>Sun Jun 14 2020 16:39:10 GMT+0530 (India Standard Time)</h5>
            </h2>
            <p>
              {{ data[3].post | slice: 0:100 }}.....
              <a routerLink="/Blogposts/4"> Read more</a>
            </p>
          </div>
        </div>
        <hr style="background-color: white;" />
        <div class="card">
          <div
            class="card-body"
            data-aos="fade-left"
            data-aos-delay="300"
            data-aos-duration="1000"
          >
            <h2>
              <a routerLink="/Blogposts/3" *ngIf="data">{{
                data[2].postTitle
              }}</a>
              <h5>Sat Jun 13 2020 10:55:30 GMT+0530 (India Standard Time)</h5>
            </h2>
            <p>
              {{ data[2].post | slice: 0:100 }}...
              <a routerLink="/Blogposts/3"> Read more</a>
            </p>
          </div>
        </div>
        <hr style="background-color: white;" />
        <div class="card">
          <div
            class="card-body"
            data-aos="fade-right"
            data-aos-delay="300"
            data-aos-duration="1000"
          >
            <h2>
              <a routerLink="/Blogposts/2" *ngIf="data">{{
                data[1].postTitle
              }}</a>
              <h5>Mon Jun 8 2020 12:13:05 GMT+0530 (India Standard Time)</h5>
            </h2>
            <p>
              {{ data[1].post | slice: 0:100 }}...
              <a routerLink="/Blogposts/2"> Read more</a>
            </p>
          </div>
        </div>
        <hr style="background-color: white;" />
        <div class="card">
          <div
            class="card-body"
            data-aos="fade-left"
            data-aos-delay="300"
            data-aos-duration="1000"
          >
            <h2>
              <a routerLink="/Blogposts/1" *ngIf="data">{{
                data[0].postTitle
              }}</a>
              <h5>Sat Jun 06 2020 18:24:10 GMT+0530 (India Standard Time)</h5>
            </h2>
            <p>
              {{ data[0].post | slice: 0:90 }}...
              <a routerLink="/Blogposts/1"> Read more</a>
            </p>
          </div>
        </div>
        <!-- <div class="nextprev">
          <button class="btn btn-primary">Next</button>
          <button class="btn btn-success">Previous</button>
        </div> -->
      </div>
    </div>

    <!-- Footer area -->
    <div
      class="footer"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(223, 223, 223)'
          : ' rgb(41, 42, 45)'
      }"
    >
      <div class="footer-text">
        <h6 [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }">
          <i
            class="fas fa-copyright"
            [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
          ></i>
          2020 Krishnakant Salkar, Made with
          <i
            class="fas fa-heartbeat"
            [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
          ></i>
          using Angular 9...
        </h6>
      </div>
    </div>
  </body>
</html>
