<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- background color -->
    <div
      class="content"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    ></div>

    <!-- social sharing buttons (new) -->

    <div class="sharingBtns" *ngIf="covidData">
      <div class="fbShare">
        <a
          class="fbLink"
          href="https://www.facebook.com/sharer.php?u={{ pageUrl }}"
          target="_blank"
        >
          <i class="fab fa-facebook-f"></i
        ></a>
      </div>
      <div class="twitterShare">
        <a
          href="https://www.twitter.com/share?text=Checkout this page &url={{
            pageUrl
          }}"
          target="_blank"
        >
          <i class="fab fa-twitter"></i
        ></a>
      </div>
      <div class="mailShare">
        <a
          href="mailto:someone@example.com?subject=Heyy!%20Check%20out%20this%20Post%20!!&amp;body=%20{{
            pageUrl
          }}"
          target="_blank"
        >
          <i class="fas fa-at"></i
        ></a>
      </div>

      <div class="linkedInShare">
        <a
          href="https://www.linkedin.com/shareArticle?mini=true&url={{
            pageUrl
          }}"
          target="_blank"
        >
          <i class="fab fa-linkedin-in"></i
        ></a>
      </div>
      <div class="redditShare">
        <a
          href="https://www.reddit.com/submit?url={{ pageUrl }}"
          target="_blank"
          ><i class="fab fa-reddit-alien"></i
        ></a>
      </div>
      <div class="tgShare">
        <a
          href="https://telegram.me/share/url?url={{ pageUrl }}"
          target="_blank"
        >
          <i class="fab fa-telegram-plane"></i
        ></a>
      </div>
    </div>

    <!-- main component -->
    <div
      class="mainCovid"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    >
      <!-- container -->
      <div class="container">
        <h1
          [ngStyle]="{
            color: brightness ? 'red' : 'violet'
          }"
        >
          Covid-19 India Tracker
        </h1>

        <!-- source of data -->
        <h6
          class="text-muted"
          [ngStyle]="{
            color: brightness ? 'black' : 'rgb(129,129,129)'
          }"
        >
          <i class="fas fa-info-circle"></i> Data sourced from COVID19India,
          MOHFW.gov.in and Media
        </h6>

        <h6 *ngIf="updateTime" class="text-muted">
          <i class="fas fa-clock"></i> last refreshed: {{ updateTime }}
        </h6>
        <br />

        <!-- add a loading... animation -->

        <div class="loading" *ngIf="!covidData">
          <h4 *ngIf="!brightness" class="loadinganimDark">
            Loading...<span class="spinner-border"></span>
          </h4>
          <h4 *ngIf="brightness" class="loadinganimLight">
            Loading...<span class="spinner-border"></span>
          </h4>
          <br />
        </div>

        <!-- covid total stats -->
        <div
          class="row covidDataRow"
          *ngIf="totalCovidData"
          [ngStyle]="{
            color: brightness ? 'black' : 'white'
          }"
        >
          <button
            class="btn btn-info col-3 col-sm-1"
            data-aos="zoom-in"
            data-aos-delay="100"
            data-aos-duration="1000"
            data-aos-once="true"
          >
            New Active <i class="fas fa-chart-line"></i> &nbsp;
            <strong>
              {{ totalCovidData.aChanges | number: "1.0":"en-US" }}</strong
            >
          </button>
          <button
            class="btn btn-warning col-3 col-sm-1"
            data-aos="zoom-in"
            data-aos-delay="300"
            data-aos-duration="1000"
            data-aos-once="true"
          >
            New Confirmed &nbsp;
            <i class="fas fa-exclamation-triangle" style="color: red"></i>

            <strong>
              {{ totalCovidData.cChanges | number: "1.0":"en-US" }}
            </strong>
          </button>
          <button
            class="btn btn-primary col-3 col-sm-1"
            data-aos="zoom-in"
            data-aos-delay="500"
            data-aos-duration="1000"
            data-aos-once="true"
          >
            New Recovered &nbsp;
            <i class="fas fa-plus-square" style="color: greenyellow"></i>
            <strong>
              {{ totalCovidData.rChanges | number: "1.0":"en-US" }}
            </strong>
          </button>
          <button
            class="btn btn-dark col-3 col-sm-1"
            data-aos="zoom-in"
            data-aos-delay="700"
            data-aos-duration="1000"
            data-aos-once="true"
          >
            New Deaths &nbsp; <i class="fas fa-skull-crossbones"></i>
            <strong>
              {{ totalCovidData.dChanges | number: "1.0":"en-US" }}
            </strong>
          </button>

          <button
            class="btn btn-secondary col-3 col-sm-1"
            data-aos="zoom-in"
            data-aos-delay="900"
            data-aos-duration="1000"
            data-aos-once="true"
          >
            Total Confirmed &nbsp;
            <i class="fas fa-list-ul" style="color: #c82333"></i> &nbsp;
            {{ totalCovidData.confirmed | number: "1.0":"en-US" }}
          </button>
          <button
            class="btn btn-danger col-3 col-sm-1"
            data-aos="zoom-in"
            data-aos-delay="1100"
            data-aos-duration="1000"
            data-aos-once="true"
          >
            Total Active &nbsp; <i class="fas fa-chart-line"></i>
            {{ totalCovidData.active | number: "1.0":"en-US" }}
          </button>
          <button
            class="btn btn-success col-3 col-sm-1"
            data-aos="zoom-in"
            data-aos-delay="1300"
            data-aos-duration="1000"
            data-aos-once="true"
          >
            Total Recovered &nbsp;
            <i
              class="fa fa-plus-square"
              aria-hidden="true"
              style="color: greenyellow"
            ></i>
            {{ totalCovidData.recovered | number: "1.0":"en-US" }}
          </button>

          <button
            class="btn btn-dark col-3 col-sm-1"
            data-aos="zoom-in"
            data-aos-delay="1500"
            data-aos-duration="1000"
            data-aos-once="true"
          >
            Total Deaths &nbsp; <i class="fas fa-skull"></i>
            {{ totalCovidData.deaths | number: "1.0":"en-US" }}
          </button>
        </div>
        <hr
          *ngIf="covidData"
          data-aos="slide-up"
          data-aos-delay="300"
          data-aos-duration="1000"
          data-aos-once="true"
          style="margin: 15px auto; width: 80%"
          [ngStyle]="{
            'border-bottom': brightness ? '1px dashed red' : '1px dashed violet'
          }"
        />

        <!-- covid table -->
        <div
          class="covidTable"
          data-aos="slide-up"
          data-aos-delay="300"
          data-aos-duration="1000"
          data-aos-once="true"
        >
          <div
            *ngIf="covidData"
            class="covidTableContent"
            [ngStyle]="{
              'background-color': brightness
                ? 'rgb(240,241,241)'
                : 'rgb(33,34,35)',

              color: brightness ? 'black' : 'white'
            }"
          >
            <table class="sorttable">
              <th
                *ngFor="let state of states"
                style="padding: 10px; text-align: center"
              >
                {{ state }}
              </th>

              <!-- give color coding to table values -->
              <tr *ngFor="let data of covidData">
                <td
                  *ngFor="let stateD of stateData; let i = index"
                  style="padding: 10px; text-align: center"
                  class="covidDataLoop"
                  [ngClass]="{
                    red: data.cChanges >= 10 && i == 6,
                    green: data.rChanges >= 10 && i == 7,
                    yellow: data.dChanges >= 10 && i == 8,
                    violet: data.aChanges < 0 && i == 5,
                    orange: data.aChanges > 0 && i == 5,
                    'text-muted': i > 0 && i < 5
                  }"
                >
                  <span routerLink="/Covid-Tracker/State/{{ data.state }}">
                    {{ data[stateD] }}
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <!-- social sharing buttons (new) -->

        <div
          class="sharingBtns2"
          *ngIf="covidData"
          data-aos="zoom-in"
          data-aos-delay="200"
          data-aos-duration="1000"
          data-aos-once="true"
        >
          <br />
          <br />
          <div class="fbShare">
            <a
              class="fbLink"
              href="https://www.facebook.com/sharer.php?u={{ pageUrl }}"
              target="_blank"
            >
              <i class="fab fa-facebook-f"></i
            ></a>
          </div>
          <div class="twitterShare">
            <a
              href="https://www.twitter.com/share?text=Checkout this page &url={{
                pageUrl
              }}"
              target="_blank"
            >
              <i class="fab fa-twitter"></i
            ></a>
          </div>
          <div class="mailShare">
            <a
              href="mailto:someone@example.com?subject=Heyy!%20Check%20out%20this%20Post%20!!&amp;body=%20{{
                pageUrl
              }}"
              target="_blank"
            >
              <i class="fas fa-at"></i
            ></a>
          </div>

          <div class="linkedInShare">
            <a
              href="https://www.linkedin.com/shareArticle?mini=true&url={{
                pageUrl
              }}"
              target="_blank"
            >
              <i class="fab fa-linkedin-in"></i
            ></a>
          </div>
          <div class="redditShare">
            <a
              href="https://www.reddit.com/submit?url={{ pageUrl }}"
              target="_blank"
              ><i class="fab fa-reddit-alien"></i
            ></a>
          </div>
          <div class="tgShare">
            <a
              href="https://telegram.me/share/url?url={{ pageUrl }}"
              target="_blank"
            >
              <i class="fab fa-telegram-plane"></i
            ></a>
          </div>
        </div>
        <br />

        <!-- covid widget app -->
        <div class="removedForGithubUpload"></div>

        <br />
        <!-- credits -->
        <div
          class="alert alert-success apiCredits"
          *ngIf="covidData"
          data-aos="slide-up"
          data-aos-delay="300"
          data-aos-duration="1000"
          data-aos-once="true"
        >
          <h6>
            <i class="fas fa-check-circle"></i> API credits:
            <a href="https://covidindiatracker.com/" target="_blank">
              covidindiatracker.com</a
            >
          </h6>
        </div>

        <!-- useful links -->
        <div
          class="usefulLinks"
          *ngIf="covidData"
          data-aos="slide-up"
          data-aos-delay="300"
          data-aos-duration="1000"
          data-aos-once="true"
        >
          <div class="alert alert-danger">
            <h5><i class="fas fa-exclamation-circle"></i> Useful Links:</h5>
            <br />
            <h5>CORONAVIRUS ( COVID 19 ) HELPLINE : 011-23978046 OR 1075</h5>
            <a
              style="color: black"
              target="_blank"
              href="https://play.google.com/store/apps/details?id=nic.goi.aarogyasetu&hl=en_IN&gl=US"
              target="_blank"
            >
              <i class="fas fa-heartbeat" style="color: red"></i> Aarogya Setu
              App</a
            >
            |
            <a
              href="https://www.covid19india.org/"
              style="color: black"
              target="_blank"
            >
              <i class="fas fa-globe"></i> covid19india.org</a
            >
            |
            <a
              href="https://mohfw.gov.in/"
              style="color: black"
              target="_blank"
            >
              <i class="fas fa-globe"></i> mohfw.gov.in</a
            >
            |
            <a
              href="https://www.mygov.in/covid-19/"
              style="color: black"
              target="_blank"
            >
              <i class="fas fa-globe"></i> mygov.in/covid-19</a
            >
            |
            <a
              href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"
              style="color: black"
              target="_blank"
            >
              <i class="fas fa-globe"></i> WHO.int</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <app-footer></app-footer>
  </body>
</html>
