div.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

div.mainCovid {
  padding-top: 150px;
  z-index: 1;
  padding-bottom: 80px;
}

h1 {
  color: black;
}

.covidDataRow {
  display: flex;
  justify-content: center;
}

.red {
  color: orangered;
  font-weight: bolder;
}

.green {
  color: green;
  font-weight: bolder;
}

.yellow {
  color: rgb(201, 201, 0);
  font-weight: bolder;
}
.violet {
  color: violet;
  font-weight: bolder;
}

.orange {
  color: orange;
  font-weight: bolder;
}

.covidDataRow button {
  margin: 8px;
}

.covidTable {
  padding-bottom: 70px;
}

.apiCredits {
  display: flex;
  justify-content: center;
}

.loadinganimDark {
  color: violet;
  animation: cursor 1s infinite;
}
.loadinganimLight {
  color: red;
  animation: cursor1 1s infinite;
}

td:hover {
  cursor: pointer;
  opacity: 0.6;
}

@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
    text-shadow: 0px 0px 15px;
  }
}

@keyframes cursor1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: red;
    text-shadow: 0px 0px 15px rgb(243, 50, 82);
  }
}

/* sharing buttons  */
div.sharingBtns {
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 10;
  opacity: 0.7;
  transition: 0.2s ease-in;
}
div.sharingBtns:hover,
div.sharingBtns2:hover {
  opacity: 1;
}
div.sharingBtns a,
div.sharingBtns2 a {
  display: block;
  color: white;
  line-height: 40px;
  font-size: 17px;
  text-align: center;
  transition: 0.2s ease-in;
  border-radius: 2px;
}
div.sharingBtns .fbShare a,
div.sharingBtns2 .fbShare a {
  background-color: #314a83;
  height: 40px;
  width: 40px;
}
div.sharingBtns .twitterShare a,
div.sharingBtns2 .twitterShare a {
  background-color: #0092cc;
  height: 40px;
  width: 40px;
}
div.sharingBtns .mailShare a,
div.sharingBtns2 .mailShare a {
  background-color: rgb(245, 23, 23);
  height: 40px;
  width: 40px;
}

div.sharingBtns .linkedInShare a,
div.sharingBtns2 .linkedInShare a {
  background-color: #0f699b;
  height: 40px;
  width: 40px;
}
div.sharingBtns .redditShare a,
div.sharingBtns2 .redditShare a {
  background-color: #ff471e;
  height: 40px;
  width: 40px;
}
div.sharingBtns .tgShare a,
div.sharingBtns2 .tgShare a {
  background-color: #0088cc;
  height: 40px;
  width: 40px;
}

div.sharingBtns .fbShare:hover a {
  /* width: 50px; */
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .twitterShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .mailShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .linkedInShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .redditShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .tgShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}

div.sharingBtns2 {
  display: none;
  opacity: 0.7;
  transition: 0.2s ease-in;
}
div.sharingBtns2 a {
  margin: auto 5px;
}

thead th {
  cursor: pointer;
  padding: 10px 25px 30px;
  text-align: center;
}

thead th:hover {
  opacity: 0.7;
}

div.covidTable1 td {
  text-align: center;
  padding: 10px 2px;
}

div.scrollright {
  display: none;
}

div.covidBtnGroup {
  margin: 10px auto;
}

div.covidBtnGroup .btn {
  margin: 5px;
  background-color: grey;
  color: white;
}

div.covidBtnGroup .btn:active,
div.covidBtnGroup .btn:focus {
  background-color: yellowgreen;
  color: black;
}

@media only screen and (max-width: 600px) {
  div.covidTable1,
  div.covidTable1 .card {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  div.covidDataRow {
    display: flex;
    justify-content: center;
  }

  tr {
    font-size: 14px;
  }

  /* share btns mobile css */
  div.sharingBtns {
    top: 35%;
  }
  div.sharingBtns a {
    line-height: 30px;
    font-size: 12px;
  }
  div.sharingBtns .fbShare a {
    background-color: #314a83;
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .twitterShare a {
    background-color: #0092cc;
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .mailShare a {
    background-color: rgb(245, 23, 23);
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .linkedInShare a {
    background-color: #0f699b;
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .redditShare a {
    background-color: #ff471e;
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .tgShare a {
    background-color: #0088cc;
    height: 30px;
    width: 30px;
  }

  div.sharingBtns .fbShare:hover a {
    /* width: 50px; */
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .twitterShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .mailShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .linkedInShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .redditShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .tgShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }

  div.sharingBtns2 {
    display: flex;
    justify-content: center;
  }
  div.sharingBtns {
    display: none;
  }

  div.scrollright {
    display: block;
  }

  div.covidBtnGroup {
    text-align: center;
  }
}
