/* html body */
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

/* top panel start */
div.top-panel {
  background-color: rgb(37, 38, 39);
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 3;
}

div.nametag h3 {
  padding-top: 25px;
  color: gray;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.n1:hover {
  opacity: 0.7;
}
.n2:hover {
  opacity: 0.7;
}

div.links {
  margin-top: 10px;
  padding: 15px;
  font-size: 22px;
  transition: 0.3s ease-in;
}
@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
  }
}

/* initial media query */
@media only screen and (max-width: 600px) {
  .sidenav:hover {
    width: 150px;
  }

  .sidenav a {
    font-size: 18px;
  }
  div.nametag h3 {
    font-size: 15px;
    text-align: center;
  }

  div.links {
    margin-top: -10px;
    text-align: center;

    font-size: 18px;
  }
  div.links button {
    margin-top: -50px;
    font-size: 10px;
  }
  div.top-panel {
    height: 110px;
  }
}

div.links a {
  padding: 10px;
  margin: 0px 10px;
  color: #818181;
  border-radius: 5px;
}
div.links .aLight:hover {
  background-color: red;
  text-decoration: none;
  color: white;
}

div.links .aDark:hover {
  background-color: violet;
  text-decoration: none;
  color: white;
}

span.one {
  color: violet;
  animation: cursor 1s infinite;
}

span.two {
  color: red;
  animation: cursor1 1s infinite;
}

@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
    text-shadow: 0px 0px 15px;
  }
}

@keyframes cursor1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: red;
    text-shadow: 0px 0px 15px rgb(243, 50, 82);
  }
}
div.links a:hover {
  background-color: tomato;
}

/* main page content */

/* first content */
.first-content {
  height: 100vh;
  width: 100%;
  background-color: #292a2d;

  float: left;
}
.second-content {
  height: 100vh;
  width: 100%;
  background-color: #db4437;

  float: left;
}

.third-content {
  height: 100vh;
  width: 100%;
  background-color: #036ffc;

  float: left;
}

.fourth-content {
  height: 100vh;
  width: 100%;
  background-color: #fe9700;

  float: left;
}

.fifth-content {
  height: 100vh;
  width: 100%;
  background-color: #17b86a;
  margin-bottom: 60px;
  float: left;
}

.first-content .container {
  padding-top: 100px;
}

.fifth-content .container {
  padding-top: 70px;
}

/* page navigation buttons  */
div.buttons .btn {
  margin: 10px;
}
.btn1 {
  color: red;
  background-color: rgba(243, 50, 82, 0.5);
}
.btn2 {
  color: blue;
  background-color: rgba(120, 183, 255, 0.7);
}
.btn3 {
  color: greenyellow;
  background-color: rgba(95, 255, 87, 0.7);
}
.btn4 {
  color: rgb(160, 160, 160);
  background-color: rgba(29, 30, 32, 0.7);
}

/* loop text */
.message {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}
.message h1 {
  font-family: "Andale Mono", AndaleMono, monospace;
  color: white;
}
.message span {
  animation: blink 1s infinite;
}
@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

/* author img fifth content */
.aboutme-img {
  height: 300px;
  width: auto;
}

/* global css for image areas */
.images-area {
  display: flex;
  justify-content: center;
}
.images-area img {
  max-height: 300px;
  width: auto;
}

/* custom css for node and angular img */
.nodeimg {
  max-height: 300px;
  width: auto;
}
.images-area .img1 {
  margin-top: -10px;
  max-height: 200px;
  border-radius: 10px;
  width: auto;
}

/* font color and family */
div.angular,
div.backend,
div.extras {
  font-family: "Andale Mono", AndaleMono, monospace;
  padding-top: 110px;
  color: white;
}

/* font color and family for fifth content */
div.developer {
  font-family: "Andale Mono", AndaleMono, monospace;
  /* padding-top: 80px; */
  color: white;
}

/* card font color and background color */
div.angular .card,
div.backend .card,
div.extras .card,
div.developer .card {
  color: #32325d;
  background-color: white;
  border-radius: 10px;
}

/* anchor links color for second and third */
.second-content a,
.third-content a {
  color: #32325d;
  text-decoration: none;
}

/* title text css for contents */
div.angular .card h1,
div.backend .card h1,
div.extras .card h1 {
  text-align: center;
}

/* source code button css */
div.sourceCode {
  text-align: center;
  display: flex;
  justify-content: center;
}
div.sourceCode .card {
  width: 50%;
  background-color: rgba(52, 235, 110, 0.8);
}
div.sourceCode a {
  text-decoration: none;
}
div.sourceCode a:hover {
  background-color: rgba(24, 201, 80, 0.8);
  border-radius: 10px;
}

/* fifth content css  */
div.developer ul {
  padding-left: 40px;
}

.devinfo {
  text-align: center;
  padding-top: 10%;
}
.dev {
  padding-top: 3%;
}

div.devinfo1 h6 {
  font-family: "Andale Mono", AndaleMono, monospace;
  color: #32325d;
}

.devinfo1 {
  margin-top: 20px;
  font-family: "Andale Mono", AndaleMono, monospace;
  color: #32325d;
  border-radius: 10px;
}
.devinfo1 h6 {
  cursor: pointer;
}

.devdetails {
  text-align: center;
}
.devinfo2 {
  margin-top: 20px;
}

/* copy mail to clipboard css */
.hidden {
  display: none;
}

/* font-awesome icons for socials */
div.connections {
  display: flex;
  justify-content: center;
}
div.connections .fab {
  font-size: 40px;
  margin: 0 10px;
}

div.connections .fa-facebook {
  color: #0099ff;
}
div.connections .fa-instagram {
  color: pink;
}
div.connections .fa-telegram {
  color: #0099ff;
}

/* scroll back to Top button css */
#myBtn {
  position: fixed;
  bottom: -50px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 2px 10px;
  border-radius: 4px;
  transition: 0.6s ease-in;
}

/* Position the tooltip 1 */
.tooltips1 {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;
  padding: 5px;
}
.tooltipText1 {
  background-color: black;
  width: 150px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
}

.tooltipHover1:hover > .tooltips1 {
  visibility: visible;
}

.tooltips1 .tooltipText1::after {
  content: " ";
  position: absolute;
  top: 98%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Position the tooltip 2 */
.tooltips2 {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;
  padding: 5px;
}
.tooltipText2 {
  background-color: black;
  width: 150px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
}

.tooltipHover2:hover > .tooltips2 {
  visibility: visible;
}

.tooltips2 .tooltipText2::after {
  content: " ";
  position: absolute;
  top: 98%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

div.content-new {
  margin-top: 60px;
}

/* media query for above css */

@media only screen and (max-width: 600px) {
  div.buttons .btn {
    margin: 5px;
  }
  div.buttons {
    text-align: center;
  }

  .fifth-content {
    height: 130vh;
  }
  div.angular,
  div.backend,
  div.extras {
    padding-top: 100px;
  }
  div.devinfo {
    padding-top: 10%;
    margin-bottom: 20px;
  }

  .devinfo1 h6 {
    font-size: 20px;
  }
  div.angular .card h1,
  div.backend .card h1,
  div.extras .card h1 {
    text-align: center;
    font-size: 25px;
  }
  div.angular .card h3,
  div.backend .card h4,
  div.extras .card h4 {
    font-size: 15px;
  }
  .first-content .buttons {
    margin-top: 20px;
  }
  .images-area img {
    max-height: 150px;
  }
  .images-area .img1 {
    margin-top: -10px;
    max-height: 150px;
    border-radius: 10px;
    width: auto;
  }

  div.extras {
    padding-top: 40%;
  }

  div.developer {
    padding-bottom: 100px;
  }

  .aboutme-img {
    height: 150px;
  }

  .frameworks {
    padding-bottom: 0;
  }

  .devinfo1 .card-body {
    text-align: center;
  }

  .devinfo1 .row1 {
    margin-bottom: 10px;
  }

  div.developer ul {
    padding-left: 25px;
  }

  .message {
    padding-top: 50%;
    text-align: center;
  }
  #loopQuotes {
    font-size: 30px;
  }
  .devinfo2 {
    margin-top: 10px;
  }

  .tooltips1,
  .tooltips2 {
    margin-left: -100px;
  }
}
