<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Main page html content -->

    <!-- first content -->
    <!-- loop text using javascript -->

    <!-- <div
      class="first-content"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(200, 200, 200)'
          : ' rgb(61, 62, 65)',
        color: brightness ? 'black' : 'white'
      }"
    >
      <div class="message">
        <h1
          id="loopQuotes"
          [ngStyle]="{
            color: brightness ? 'black' : 'white'
          }"
        ></h1>
      </div>
    </div> -->
    <div
      class="container-fluid main_about"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(223, 223, 223)'
          : ' rgb(33, 34, 34)',
        color: brightness ? 'black' : 'white'
      }"
    >
      <!-- fifth content -->
      <div class="fifth-content" id="developer">
        <!-- container -->
        <!-- <div class="container-fluid"> -->
        <!-- row -->
        <div class="dev_info_container">
          <!-- dev info section -->
          <!-- lefr column -->
          <div class="devinfo">
            <img
              data-aos="zoom-in"
              data-aos-delay="300"
              data-aos-duration="1000"
              class="aboutme-img rounded-circle"
              src="assets/images/about_me.jpg"
              alt=""
            />
          </div>
          <!-- right column -->
          <div class="dev">
            <div class="developer">
              <!-- dev info card -->
              <mat-card
                [ngStyle]="{
                  'background-color': brightness
                    ? 'rgb(223, 223, 223)'
                    : ' rgb(33, 34, 34)',
                  color: brightness ? 'black' : 'white'
                }"
                data-aos="zoom-in"
                data-aos-delay="300"
                data-aos-duration="1000"
              >
                <mat-card-content class="frameworks">
                  <!-- dev details -->
                  <div class="devdetails">
                    <h4><strong> Krishnakant S. Salkar</strong></h4>
                    <h5>Full Stack Developer</h5>
                  </div>
                  <hr />

                  <h4 class="langAndfr">
                    <i class="fas fa-code"></i> Languages && Frameworks &&
                    Skills:
                  </h4>

                  <!-- languages row -->
                  <div class="row w-100 langAndFrData">
                    <br />
                    <!-- column 1 -->
                    <div class="col-6 col-xs-4 col-lg-4">
                      <ul>
                        <li>Angular</li>
                        <li>ReactJS</li>
                        <li>Typescript</li>
                        <li>Javascript</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Vue</li>
                      </ul>
                    </div>
                    <!-- column 2 -->
                    <div class="col-6 col-xs-4 col-lg-4">
                      <ul>
                        <li>Python</li>
                        <li>NodeJS</li>
                        <li>ExpressJS</li>
                        <li>MongoDB</li>
                        <li>NGINX</li>
                        <li>Webhosting</li>
                        <li>Server Management</li>
                      </ul>
                    </div>
                    <!-- column 3 -->
                    <div class="col-6 col-xs-4 col-lg-4">
                      <ul>
                        <li>GCloud | Heroku | AWS</li>
                      </ul>
                    </div>
                  </div>
                  <hr />

                  <!-- currently learning -->
                  <h5 class="currentlyLearning">
                    <i class="fas fa-laptop-code"></i> Currently Learning:
                    Android
                  </h5>
                  <hr />

                  <!-- hobbies -->
                  <h5 class="hobbies" style="margin-top: 12px">
                    <i class="fas fa-check-circle" style="color: green"></i>
                    Hobbies:
                  </h5>
                  <p>
                    Exploring & Writing Code, Drawing, Maintaining custom roms
                    for my device, Reading, Cooking, Watching Movies, Gaming
                  </p>
                  <hr />

                  <!-- social links -->
                  <h5 class="text-center">
                    <i class="fas fa-link"></i> Socials
                  </h5>
                  <div
                    class="social-icons"
                    style="padding-left: 0; margin-bottom: 0; list-style: none"
                  >
                    <ul>
                      <li>
                        <a
                          class="linkedIn-icon"
                          href="https://www.linkedin.com/in/krishnakant-salkar-6320861bb/"
                          target="_blank"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="telegram-icon"
                          href="https://t.me/Alex_merecer09"
                          target="_blank"
                          ><i class="fab fa-telegram-plane"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="git-icon"
                          href="https://github.com/krishnakantsalkar"
                          target="_blank"
                        >
                          <i class="fab fa-github"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="facebook-icon"
                          href="https://www.facebook.com/Supremegod.of.war"
                          target="_blank"
                          ><i class="fab fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="email-icon"
                          href="mailto:dev@krishnakantsalkar.in"
                          target="_blank"
                          ><i class="fas fa-at"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="instagram-icon"
                          href="https://instagram.com/that_developer_kid"
                          target="_blank"
                        >
                          <i
                            class="fab fa-instagram"
                            style="font-style: bold"
                          ></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="snapchat-icon"
                          href="https://www.snapchat.com/add/aaron_stone99"
                          target="_blank"
                          ><i class="fab fa-snapchat-ghost"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="blog-icon"
                          href="https://www.krishnakantsalkar.in/blog/1"
                          target="_blank"
                          ><i class="fab fa-blogger-b"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="steam-icon"
                          href="https://steamcommunity.com/id/alex_mercer09"
                          target="_blank"
                          ><i class="fab fa-steam"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                  <hr />
                  <div
                    [ngStyle]="{ color: this.brightness ? 'black' : 'white' }"
                  >
                    <h4 class="text-center">Send me a message....</h4>
                  </div>

                  <div class="contact_me_form">
                    <div>
                      <form
                        [formGroup]="sendContact"
                        (ngSubmit)="SendMessage(sendContact.value)"
                      >
                        <mat-form-field appearance="outline">
                          <mat-label>Name</mat-label>
                          <input type="text" matInput formControlName="name" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>

                          <input
                            type="email"
                            matInput
                            formControlName="email"
                          />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Message</mat-label>

                          <textarea
                            type="text"
                            matInput
                            formControlName="message"
                          ></textarea>
                        </mat-form-field>
                        <div class="form_action">
                          <button
                            mat-raised-button
                            class="btn-success"
                            type="submit"
                            [disabled]="!sendContact.valid"
                          >
                            Send
                            <span
                              id="uploadSpinner2"
                              class="spinner-border spinner-border-sm"
                            ></span>
                            <span id="uploadCheck2">
                              <i class="fas fa-check-circle"></i
                            ></span>
                            <span id="uploadCheckErr2">
                              <i class="fas fa-times-circle"></i
                            ></span>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
              <!-- dev details section -->
              <div class="row devinfo1">
                <!-- dev contact info row -->
                <!-- left column -->
                <div class="col-sm-6 row1">
                  <mat-card
                    [ngStyle]="{
                      'background-color': brightness
                        ? 'rgb(223, 223, 223)'
                        : ' rgb(33, 34, 34)',
                      color: brightness ? 'black' : 'white'
                    }"
                  >
                    <mat-card-content style="text-align: center">
                      <div>
                        <h6
                          class="tooltipHover1"
                          (click)="
                            copyShareLink('dev@krishnakantsalkar.in', 'mail')
                          "
                          matTooltip="copy email id"
                          matTooltipPosition="above"
                        >
                          <mat-icon class="icon_align">email</mat-icon>
                          dev@krishnakantsalkar.in
                        </h6>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <!-- right column -->
                <div class="col-sm-6">
                  <mat-card
                    [ngStyle]="{
                      'background-color': brightness
                        ? 'rgb(223, 223, 223)'
                        : ' rgb(33, 34, 34)',
                      color: brightness ? 'black' : 'white'
                    }"
                  >
                    <mat-card-content>
                      <h6
                        class="tooltipHover2"
                        (click)="copyShareLink('+919619705613', 'number')"
                        matTooltip="copy number"
                        matTooltipPosition="above"
                        style="text-align: center"
                      >
                        <mat-icon class="icon_align">textsms</mat-icon>
                        +919619705613
                      </h6>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
          <a
            class="fifth-content-credits"
            href="https://www.pexels.com/photo/grayscale-photo-of-computer-laptop-near-white-notebook-and-ceramic-mug-on-table-169573/"
            >Photo by Negative Space, Pexels</a
          >
        </div>
        <!-- </div> -->
      </div>
      <!-- <div class="container">
      </div> -->
    </div>
  </body>
</html>
