/* html body */
html,
body {
  height: 100%;
  min-height: 500vh;
}
body {
  margin: 0;
}

/* main page content */

/* first content */
.first-content {
  height: 100vh;
  width: 100%;
  background-color: #292a2d;

  float: left;
}
.second-content {
  height: 100vh;
  width: 100%;
  background-color: #db4437;

  float: left;
}

.third-content {
  height: 100vh;
  width: 100%;
  background-color: #036ffc;

  float: left;
}

.fourth-content {
  height: 100vh;
  width: 100%;
  background-color: #fe9700;

  float: left;
}

.fifth-content {
  height: 120vh;
  width: 100%;
  /* background-color: #17b86a; */
  background-image: url("../../../../assets/images/pexels-negative-space-169573.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 60px;
  float: left;
  position: relative;
}

.fifth-content-credits {
  position: absolute;
  left: 10%;
  bottom: 10%;
  cursor: pointer;
  color: yellow;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.fifth-content-credits:hover {
  opacity: 1;
}

.first-content .container {
  padding-top: 100px;
}

.fifth-content .container-fluid {
  padding-top: 70px;
  width: 80%;
}

/* page navigation buttons  */
div.buttons .btn {
  margin: 10px;
}
.btn1 {
  color: white;
  background-color: rgba(243, 50, 82, 0.5);
}
.btn2 {
  color: blue;
  background-color: rgba(120, 183, 255, 0.7);
}
.btn3 {
  color: greenyellow;
  background-color: rgba(95, 255, 87, 0.7);
}
.btn4 {
  color: rgb(160, 160, 160);
  background-color: rgba(29, 30, 32, 0.7);
}

/* loop text */
.message {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.message span {
  animation: blink 1s infinite;
}
@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

/* author img fifth content */
.aboutme-img {
  height: 300px;
  width: auto;
}

/* global css for image areas */
.images-area {
  display: flex;
  justify-content: center;
}
.images-area img {
  max-height: 300px;
  width: auto;
}

/* custom css for node and angular img */
.nodeimg {
  max-height: 300px;
  width: auto;
}
.images-area .img1 {
  margin-top: -10px;
  max-height: 200px;
  border-radius: 10px;
  width: auto;
}

/* font color and family */
div.angular,
div.backend,
div.extras {
  font-family: "Andale Mono", AndaleMono, monospace;
  padding-top: 110px;
  color: white;
}

/* font color and family for fifth content */
div.developer {
  font-family: "Andale Mono", AndaleMono, monospace;
  /* padding-top: 80px; */
  color: white;
}

/* card font color and background color */
div.angular .card,
div.backend .card,
div.extras .card,
div.developer .card {
  color: #32325d;
  background-color: white;
  border-radius: 10px;
}

/* anchor links color for second and third */
.second-content a,
.third-content a {
  color: #32325d;
  text-decoration: none;
}

/* title text css for contents */
div.angular .card h1,
div.backend .card h1,
div.extras .card h1 {
  text-align: center;
}

.devinfo {
  text-align: center;
  padding-top: 10%;
}
.dev {
  padding-top: 3%;
}

div.devinfo1 h6 {
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 18px;
  margin-bottom: 0;
}

.devinfo1 {
  margin-top: 20px;
  font-family: "Andale Mono", AndaleMono, monospace;
  color: #32325d;
  border-radius: 10px;
}
.devinfo1 h6 {
  cursor: pointer;
}

.devdetails {
  text-align: center;
}
.devinfo2 {
  margin-top: 20px;
}

/* copy mail to clipboard css */
.hidden {
  display: none;
}

/* font-awesome icons for socials */
div.connections {
  display: flex;
  justify-content: center;
}
div.connections .fab {
  font-size: 40px;
  margin: 0 10px;
}

div.connections .fa-facebook {
  color: #0099ff;
}
div.connections .fa-instagram {
  color: pink;
}
div.connections .fa-telegram {
  color: #0099ff;
}

/* Position the tooltip 1 */
.tooltips1 {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;
  padding: 5px;
}
.tooltipText1 {
  background-color: black;
  width: 150px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
}

.tooltipHover1:hover > .tooltips1 {
  visibility: visible;
}

.tooltips1 .tooltipText1::after {
  content: " ";
  position: absolute;
  top: 98%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Position the tooltip 2 */
.tooltips2 {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;
  padding: 5px;
}
.tooltipText2 {
  background-color: black;
  width: 150px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
}

.tooltipHover2:hover > .tooltips2 {
  visibility: visible;
}

.tooltips2 .tooltipText2::after {
  content: " ";
  position: absolute;
  top: 98%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

div.content-new {
  margin-top: 60px;
}

/* new updated third & fifth component */
.screenshots {
  margin-top: 20px;
  display: inline-block;
}

swiper {
  margin-top: 8%;
}

.social-icons ul {
  padding-inline-start: 0px !important;
}
.social-icons li {
  display: inline-block;
}

.social-icons a {
  background-color: #33353d;
  color: #707070;
  height: 40px;
  width: 40px;
  margin: 7px;
  border-radius: 100%;
  line-height: 40px;
  display: block;
  text-align: center;
  font-size: 20px;
  transition: 0.4s ease-in-out;
}

.social-icons .telegram-icon:hover {
  background-color: #0088cc;
  color: white;
}
.social-icons .facebook-icon:hover {
  background-color: #1da1f2;
  color: white;
}
.social-icons .git-icon:hover {
  background-color: rgb(20, 20, 20);
  color: white;
}
.social-icons .email-icon:hover {
  background-color: rgb(245, 23, 23);
  color: white;
}
.social-icons .instagram-icon:hover {
  background-color: deeppink;
  color: white;
}
.social-icons .snapchat-icon:hover {
  background-color: rgb(255, 252, 0);
  color: white;
}
.social-icons .blog-icon:hover {
  background-color: violet;
  color: white;
}
.social-icons .steam-icon:hover {
  background-color: darkblue;
  color: white;
}
.social-icons .linkedIn-icon:hover {
  background-color: #1da1f2;
  color: white;
}
.social-icons ul {
  padding-inline-start: 20px;
}

/* framework, second component, angular */
#angularDesc {
  margin-top: 17%;
  text-align: center;
  color: white;
}
#angularDesc h1,
#angularDesc p {
  font-family: Bahnschrift SemiBold, BahnschriftSemiBold;
}
.angularNodeIcons h2 {
  margin-top: 45%;
  font-size: 150px;
  color: white;
}
#angularDesc a button,
div.extras-component a button {
  background-color: white;
  color: #3288db;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgb(20, 20, 20);
}

#angularDesc a button:hover,
div.extras-component a button:hover {
  color: orangered;
  box-shadow: 0 0 1px rgb(20, 20, 20);
}

/* extras component */
div.extras-component h1 {
  margin-top: 10%;
  font-family: Bahnschrift SemiBold, BahnschriftSemiBold;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
div.extras-component h2 {
  text-align: center;
  margin-top: 5%;
  font-size: 100px;
}
div.extras-component a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

/* media query for above css */

@media only screen and (max-width: 600px) {
  div.buttons .btn {
    margin: 5px;
  }
  div.buttons {
    text-align: center;
  }

  .fifth-content {
    height: 190vh;
  }

  .fifth-content .container-fluid {
    width: 95%;
  }

  .fifth-content-credits {
    left: 5%;
    bottom: 5%;
  }
  div.angular,
  div.backend,
  div.extras {
    padding-top: 100px;
  }
  div.devinfo {
    padding-top: 10%;
    margin-bottom: 20px;
  }

  .devinfo1 h6 {
    font-size: 20px;
  }
  div.angular .card h1,
  div.backend .card h1,
  div.extras .card h1 {
    text-align: center;
    font-size: 25px;
  }
  div.angular .card h3,
  div.backend .card h4,
  div.extras .card h4 {
    font-size: 15px;
  }
  .first-content .buttons {
    margin-top: 20px;
  }
  .images-area img {
    max-height: 150px;
  }
  .images-area .img1 {
    margin-top: -10px;
    max-height: 150px;
    border-radius: 10px;
    width: auto;
  }

  div.extras {
    padding-top: 40%;
  }

  div.developer {
    padding-bottom: 100px;
  }

  .aboutme-img {
    height: 150px;
  }

  .frameworks {
    padding-bottom: 0;
  }

  .devinfo1 .card-body {
    text-align: center;
  }

  .devinfo1 .row1 {
    margin-bottom: 10px;
  }

  /* div.developer ul {
    padding-left: 25px;
  } */

  .message {
    padding-top: 50%;
    text-align: center;
  }
  #loopQuotes {
    font-size: 30px;
  }
  .devinfo2 {
    margin-top: 10px;
  }

  .tooltips1,
  .tooltips2 {
    margin-left: -100px;
  }
  .third-content .screenshots {
    margin-top: 40%;
  }
  .third-content swiper {
    margin-top: 50%;
  }
  swiper .swiper-pagination {
    margin-bottom: -7px;
  }
  .social-icons a {
    height: 30px;
    width: 30px;
    font-size: 15px;
    line-height: 30px;
  }

  .currentlyLearning {
    font-size: 18px;
  }
  .hobbies {
    font-size: 18px;
  }
  .langAndfr {
    font-size: 22px;
  }

  .social-icons ul {
    padding-inline-start: 0px;
  }

  #angularDesc {
    margin-top: 30%;
  }
  .angularNodeIcons h2 {
    margin-top: 5px;
    font-size: 100px;
    color: white;
  }
  div.extras-component h1 {
    margin-top: 25%;
    width: 100%;
  }
  div.extras-component h2 {
    font-size: 60px;
    margin: 13px;
  }

  .langAndFrData ul {
    padding-left: 24px;
  }
}
