<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- scroll to top button -->
    <button (click)="topFunction()" id="myBtn" title="Go to top">
      <i class="fas fa-angle-up" aria-hidden="true"></i>
    </button>

    <!-- top navbar panel -->
    <div
      class="top-panel"
      id="top-panel"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(223, 223, 223)'
          : ' rgb(41, 42, 45)'
      }"
    >
      <!-- name container -->
      <div class="container myname">
        <div class="row">
          <div class="col-sm-6 nametag">
            <h3
              class="n1"
              id="top-panel-nametag"
              *ngIf="!brightness"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              > krishnakantsalkar@prototype:~<span class="one">$</span>
            </h3>
            <h3
              class="n2"
              id="top-panel-nametag"
              *ngIf="brightness"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              > krishnakantsalkar@prototype:~<span class="two">$</span>
            </h3>
          </div>
          <div class="col-sm-6 links" id="links">
            <a
              routerLink="/Home"
              [ngClass]="{ aLight: brightness, aDark: !brightness }"
            >
              Home</a
            >
            <a
              routerLink="/Blog/page/1"
              [ngClass]="{ aLight: brightness, aDark: !brightness }"
              >Blog</a
            >
            <a
              routerLink="/Support"
              [ngClass]="{ aLight: brightness, aDark: !brightness }"
              >Support</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Main page html content -->

    <!-- first content -->
    <div class="first-content">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- left row -->
          <div class="col-sm-6"></div>
          <!-- right row -->
          <div class="col-sm-6">
            <div class="buttons">
              <button class="btn btn1" (click)="scrollTo('frontend')">
                Frontend
              </button>
              <button class="btn btn2" (click)="scrollTo('backend')">
                Backend
              </button>
              <button class="btn btn3" (click)="scrollTo('extras')">
                Github
              </button>
              <button class="btn btn4" (click)="scrollTo('developer')">
                Author
              </button>
            </div>
          </div>
        </div>
        <!-- loop text using javascript -->
        <div class="message">
          <h1 id="loopQuotes"><span>.....Loading</span></h1>
        </div>
      </div>
    </div>

    <!-- second content -->
    <div class="second-content" id="frontend">
      <!-- container -->
      <div class="frontend-component container">
        <!-- row -->
        <div class="row">
          <!-- Angular card -->
          <div class="col-sm-12">
            <div class="angular">
              <div class="card">
                <div class="card-body">
                  <div class="images-area">
                    <a href="https://angular.io" target="_blank">
                      <img
                        class="img1"
                        src="assets/images/Angular-wallpaper.png"
                        alt="Angular logo"
                      />
                    </a>
                  </div>
                  <a href="https://angular.io" target="_blank">
                    <h1>Angular 9</h1></a
                  >
                  <h4>Features:</h4>
                  <ul>
                    <li>
                      Cross-Platform. With Angular, you can develop progressive
                      web applications (PWA)..
                    </li>
                    <li>High Speed & Optimum Performance. ...</li>
                    <li>Advanced Typescript. ...</li>
                    <li>MVC Architecture. ...</li>
                    <li>Efficient Two-Way Data Binding. ...</li>
                    <li>Less Code Framework. ...</li>
                    <li>Angular CLI (Command Line Interface) ...</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- third content -->
    <div class="third-content" id="backend">
      <!-- container -->
      <div class="backend-component container">
        <!-- row -->
        <div class="row">
          <!-- Backend card -->
          <div class="col-sm-12">
            <div class="backend">
              <div class="card">
                <div class="card-body">
                  <div class="images-area">
                    <img
                      src="assets/images/nodejs-new-pantone-black.svg"
                      alt="Node logo"
                    />
                  </div>
                  <a href="https://nodejs.org/en" target="_blank">
                    <h1>NodeJS</h1></a
                  >

                  <h4>Features:</h4>
                  <ul>
                    <li>Asynchronous and Event Driven. ...</li>
                    <li>Very Fast − Being built on Google Chrome's V8</li>
                    <li>Fast <strong>Express</strong> API framework</li>
                    <li>Efficient MongoDB integration</li>
                    <li>Single Threaded but Highly Scalable. ...</li>
                    <li>
                      No Buffering − Node.js applications never buffer any data.
                      ...
                    </li>
                    <li>
                      License − Node.js is released under the MIT license..
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- fourth content -->
    <div class="fourth-content" id="extras">
      <!-- container -->
      <div class="extras-component container">
        <!-- row -->
        <div class="row">
          <!-- Github & Photoshop -->
          <div class="col-sm-12">
            <div class="extras">
              <div class="card">
                <div class="card-body">
                  <div class="images-area">
                    <img
                      src="assets/images/GitHub-Mark-120px-plus.png"
                      alt="Github logo"
                    />
                  </div>
                  <h1>Additional & Required Components</h1>

                  <h4>Version Control:</h4>
                  <ul>
                    <li>Git & Github</li>
                  </ul>
                  <br />
                  <h4>Graphic Design:</h4>
                  <ul>
                    <li>Adobe Photoshop</li>
                  </ul>
                  <div class="sourceCode">
                    <div class="card">
                      <a href="https://github.com/krishnakantsalkar/My-App">
                        <div class="card-body">Source Code</div></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- fifth content -->
    <div class="fifth-content" id="developer">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- dev info section -->
          <!-- lefr column -->
          <div class="col-sm-6 devinfo">
            <img
              class="aboutme-img rounded-circle"
              src="assets/images/about_me.jpg"
              alt=""
            />
          </div>
          <!-- right column -->
          <div class="col-sm-6 dev">
            <div class="developer">
              <!-- dev info card -->
              <div class="card">
                <div class="card-body frameworks">
                  <!-- dev details -->
                  <div class="devdetails">
                    <h4><strong> Krishnakant S. Salkar</strong></h4>
                    <h5>Full Stack Web Developer</h5>
                    <br />
                  </div>
                  <h4>Languages & Frameworks:</h4>
                  <!-- languages row -->
                  <div class="row">
                    <br />
                    <!-- column 1 -->
                    <div class="col-xs-4">
                      <ul>
                        <li>
                          Angular 9
                          <ul>
                            <li>Typescsript</li>
                            <li>Javascript</li>
                            <li>Html</li>
                            <li>CSS</li>
                            <li>PHP</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <!-- column 2 -->
                    <div class="col-xs-4">
                      <ul>
                        <li>
                          NodeJs
                          <ul>
                            <li>ExpressJS</li>
                            <li>MongoDB</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <!-- column 3 -->
                    <div class="col-xs-4">
                      <ul>
                        <li>Python</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- dev details section -->
              <div class="row devinfo1">
                <!-- dev contact info row -->
                <!-- left column -->
                <div class="col-sm-6 row1">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <h6 id="copyText" (click)="copyToClip()">
                          <i class="fas fa-envelope">
                            dev@krishnakantsalkar.gq</i
                          >
                        </h6>
                        <div
                          id="copyAlert"
                          class="alert alert-success"
                          *ngIf="copied"
                        >
                          <h6 id="copyAlertText">copied to clipboard</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- right column -->
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h6><i class="fas fa-mobile"></i> +919619705613</h6>
                    </div>
                  </div>
                </div>
              </div>
              <!-- dev social media section -->
              <div class="row devinfo2">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="connections">
                        <a href="https://www.facebook.com/Supremegod.of.war">
                          <i class="fab fa-facebook"></i
                        ></a>
                        <a href="https://www.instagram.com/that_detective_kid/"
                          ><i class="fab fa-instagram"></i
                        ></a>
                        <a href="https://t.me/Alex_mercer09">
                          <i class="fab fa-telegram"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer area -->
    <div
      class="footer"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(223, 223, 223)'
          : ' rgb(41, 42, 45)'
      }"
    >
      <div class="footer-text">
        <h6 [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }">
          <i
            class="fas fa-copyright"
            [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
          ></i>
          2020 Krishnakant Salkar, Made with
          <i
            class="fas fa-heartbeat"
            [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
          ></i>
          using Angular 9...
        </h6>
      </div>
    </div>
  </body>
</html>
