<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Main page html content -->

    <!-- first content -->
    <div
      class="first-content"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(200, 200, 200)'
          : ' rgb(61, 62, 65)',
        color: brightness ? 'black' : 'white'
      }"
    >
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- left row -->
          <div class="col-sm-6"></div>
          <!-- right row -->
          <div class="col-sm-6">
            <div class="buttons">
              <button
                class="btn btn1"
                data-aos="zoom-in"
                data-aos-delay="100"
                data-aos-duration="1000"
                data-aos-once="true"
                (click)="scrollTo('frontend')"
              >
                Frameworks
              </button>
              <button
                class="btn btn2"
                data-aos="zoom-in"
                data-aos-delay="500"
                data-aos-duration="1000"
                data-aos-once="true"
                (click)="scrollTo('backend')"
              >
                Screenshots
              </button>
              <button
                class="btn btn3"
                data-aos="zoom-in"
                data-aos-delay="900"
                data-aos-duration="1000"
                data-aos-once="true"
                (click)="scrollTo('extras')"
              >
                Extras
              </button>
              <button
                class="btn btn4"
                data-aos="zoom-in"
                data-aos-delay="1300"
                data-aos-duration="1000"
                data-aos-once="true"
                (click)="scrollTo('developer')"
              >
                Author
              </button>
            </div>
          </div>
        </div>
        <!-- loop text using javascript -->
        <div class="message">
          <h1
            id="loopQuotes"
            [ngStyle]="{
              color: brightness ? 'black' : 'white'
            }"
          ></h1>
        </div>
      </div>
    </div>

    <!-- second content -->
    <div class="second-content" id="frontend">
      <!-- container -->
      <div class="frontend-component container">
        <!-- row -->
        <div class="row">
          <!-- angular framework -->
          <div
            class="col-sm-6"
            id="angularDesc"
            data-aos="zoom-in"
            data-aos-delay="300"
            data-aos-duration="1000"
          >
            <h1>Built using Angular</h1>
            <p>One framework. Mobile & desktop.</p>
            <a href="https://angular.io/docs" target="_blank"
              ><button class="btn">LEARN MORE</button></a
            >
            <hr style="border-top: 1px dashed white" />

            <!-- backend nodejs -->
            <h1>NodeJS Backend</h1>
            <p>NodeJS server & ExpressJS APIs with MongoDB support.</p>
            <a href="https://nodejs.org/en/docs/" target="_blank"
              ><button class="btn">Documentation</button></a
            >
            <br />
            <br />
            <!-- other logos -->
            <h2>
              <i class="fab fa-html5"></i>&nbsp;
              <i class="fab fa-css3-alt"></i>&nbsp;
              <i class="fab fa-js"></i>&nbsp;
              <i class="fas fa-server"></i>
            </h2>
          </div>
          <!-- angular & node logo icon -->
          <div class="col-sm-6" style="display: flex; justify-content: center">
            <div
              class="angularNodeIcons"
              data-aos="zoom-in"
              data-aos-delay="300"
              data-aos-duration="1000"
            >
              <h2>
                <i class="fab fa-angular"></i> + <i class="fab fa-node"> </i>
              </h2>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>

    <!-- third content -->
    <div class="third-content" id="backend">
      <!-- container -->
      <div class="backend-component container-fluid">
        <!-- swiper component -->
        <swiper
          [config]="config"
          #usefulSwiper
          style="
            width: 80%;
            margin-right: auto;
            margin-left: auto;
            margin-top: 60px;
          "
        >
          <div class="swiper-wrapper">
            <!-- image slides -->
            <img
              class="swiper-slide"
              *ngFor="let slide of slides"
              [src]="slide"
              style="height: auto; object-fit: contain; border-radius: 8px"
            />
          </div>
          <br />

          <!-- swiper options -->
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-scrollbar"></div>
        </swiper>
      </div>
    </div>

    <!-- fourth content -->
    <div class="fourth-content" id="extras">
      <!-- container -->
      <div class="extras-component container">
        <!-- row -->

        <h1>Source Code & Extras</h1>
        <br />
        <br />
        <div class="row">
          <!-- github link -->
          <div class="col-6 col-sm-4">
            <div
              class="aos"
              data-aos="zoom-in"
              data-aos-delay="100"
              data-aos-duration="1000"
            >
              <h2><i class="fab fa-github"></i></h2>
              <a
                href="https://github.com/krishnakantsalkar/My-App"
                target="_blank"
                ><button class="btn">Source Code</button></a
              >
            </div>
          </div>
          <!-- wallpapers link -->
          <div class="col-6 col-sm-4">
            <div
              class="aos"
              data-aos="zoom-in"
              data-aos-delay="300"
              data-aos-duration="1000"
            >
              <h2><i class="fas fa-image" style="color: white"></i></h2>
              <a
                href="https://downloads.krishnakantsalkar.in/0:/Wallpapers/"
                target="_blank"
                ><button class="btn">Mobile Wallpapers</button></a
              >
            </div>
          </div>

          <!-- movie db link -->
          <div class="col-6 col-sm-4">
            <div
              class="aos"
              data-aos="zoom-in"
              data-aos-delay="500"
              data-aos-duration="1000"
            >
              <h2>
                <i class="fas fa-video" style="color: royalblue"></i>
              </h2>
              <a
                href="https://www.krishnakantsalkar.in/movies&tv"
                target="_blank"
                ><button class="btn">The MovieDB</button></a
              >
            </div>
          </div>

          <!-- blog link -->
          <div class="col-6 col-sm-4">
            <div
              class="aos"
              data-aos="zoom-in"
              data-aos-delay="700"
              data-aos-duration="1000"
            >
              <h2><i class="fas fa-blog" style="color: blueviolet"></i></h2>
              <a href="https://www.krishnakantsalkar.in/blog/1" target="_blank"
                ><button class="btn">blog</button></a
              >
            </div>
          </div>

          <!-- pastebin -->
          <div class="col-6 col-sm-4">
            <div
              class="aos"
              data-aos="zoom-in"
              data-aos-delay="900"
              data-aos-duration="1000"
            >
              <h2>
                <i class="fas fa-paste" style="color: rgb(102, 102, 102)"></i>
              </h2>
              <a href="http://snippets.krishnakantsalkar.in" target="_blank"
                ><button class="btn">Memochō: A pastebin alternative</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- fifth content -->
    <div class="fifth-content" id="developer">
      <!-- container -->
      <div class="container-fluid">
        <!-- row -->
        <div class="row">
          <!-- dev info section -->
          <!-- lefr column -->
          <div class="col-sm-6 devinfo">
            <img
              data-aos="zoom-in"
              data-aos-delay="300"
              data-aos-duration="1000"
              class="aboutme-img rounded-circle"
              src="assets/images/about_me.jpg"
              alt=""
            />
          </div>
          <!-- right column -->
          <div class="col-sm-6 dev">
            <div class="developer">
              <!-- dev info card -->
              <mat-card
                [ngStyle]="{
                  'background-color': brightness
                    ? 'rgb(223, 223, 223)'
                    : ' rgb(33, 34, 34)',
                  color: brightness ? 'black' : 'white'
                }"
                data-aos="zoom-in"
                data-aos-delay="300"
                data-aos-duration="1000"
              >
                <mat-card-content class="frameworks">
                  <!-- dev details -->
                  <div class="devdetails">
                    <h4><strong> Krishnakant S. Salkar</strong></h4>
                    <h5>Full Stack Web Developer</h5>
                  </div>
                  <hr />

                  <h4 class="langAndfr">
                    <i class="fas fa-code"></i> Languages && Frameworks &&
                    Skills:
                  </h4>

                  <!-- languages row -->
                  <div class="row w-100 langAndFrData">
                    <br />
                    <!-- column 1 -->
                    <div class="col-6 col-xs-4 col-lg-4">
                      <ul>
                        <li>Angular</li>
                        <li>Angular Material</li>
                        <li>Typescript</li>
                        <li>Javascript</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>php</li>
                      </ul>
                    </div>
                    <!-- column 2 -->
                    <div class="col-6 col-xs-4 col-lg-4">
                      <ul>
                        <li>Python</li>
                        <li>NodeJS</li>
                        <li>ExpressJS</li>
                        <li>MongoDB</li>
                        <li>NGINX</li>
                        <li>Webhosting</li>
                        <li>Server Management</li>
                      </ul>
                    </div>
                    <!-- column 3 -->
                    <div class="col-6 col-xs-4 col-lg-4">
                      <ul>
                        <li>OOPs</li>
                        <li>GCloud | Heroku</li>
                        <li>Shell</li>
                      </ul>
                    </div>
                  </div>
                  <hr />

                  <!-- currently learning -->
                  <h5 class="currentlyLearning">
                    <i class="fas fa-laptop-code"></i> Currently Learning:
                    Advance Python
                  </h5>
                  <hr />

                  <!-- hobbies -->
                  <h5 class="hobbies" style="margin-top: 12px">
                    <i class="fas fa-check-circle" style="color: green"></i>
                    Hobbies:
                  </h5>
                  <p>
                    Exploring & Writing Code, Drawing, Maintaining custom roms
                    for my device, Reading, Cooking, Watching Movies, Gaming
                  </p>
                  <hr />

                  <!-- social links -->
                  <h5><i class="fas fa-link"></i> Socials</h5>
                  <div
                    class="social-icons"
                    style="padding-left: 0; margin-bottom: 0; list-style: none"
                  >
                    <ul>
                      <li>
                        <a
                          class="linkedIn-icon"
                          href="https://www.linkedin.com/in/krishnakant-salkar-6320861bb/"
                          target="_blank"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="telegram-icon"
                          href="https://t.me/Alex_merecer09"
                          target="_blank"
                          ><i class="fab fa-telegram-plane"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="git-icon"
                          href="https://github.com/krishnakantsalkar"
                          target="_blank"
                        >
                          <i class="fab fa-github"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="facebook-icon"
                          href="https://www.facebook.com/Supremegod.of.war"
                          target="_blank"
                          ><i class="fab fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="email-icon"
                          href="mailto:dev@krishnakantsalkar.in"
                          target="_blank"
                          ><i class="fas fa-at"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="instagram-icon"
                          href="https://instagram.com/that_detective_kid"
                          target="_blank"
                        >
                          <i
                            class="fab fa-instagram"
                            style="font-style: bold"
                          ></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="snapchat-icon"
                          href="https://www.snapchat.com/add/aaron_stone99"
                          target="_blank"
                          ><i class="fab fa-snapchat-ghost"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="blog-icon"
                          href="https://www.krishnakantsalkar.in/blog/1"
                          target="_blank"
                          ><i class="fab fa-blogger-b"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="steam-icon"
                          href="https://steamcommunity.com/id/alex_mercer09"
                          target="_blank"
                          ><i class="fab fa-steam"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </mat-card-content>
              </mat-card>
              <!-- dev details section -->
              <div class="row devinfo1">
                <!-- dev contact info row -->
                <!-- left column -->
                <div class="col-sm-6 row1">
                  <mat-card
                    [ngStyle]="{
                      'background-color': brightness
                        ? 'rgb(223, 223, 223)'
                        : ' rgb(33, 34, 34)',
                      color: brightness ? 'black' : 'white'
                    }"
                  >
                    <mat-card-content style="text-align: center">
                      <div>
                        <h6
                          class="tooltipHover1"
                          (click)="
                            copyShareLink('dev@krishnakantsalkar.in', 'mail')
                          "
                          matTooltip="copy email id"
                          matTooltipPosition="above"
                        >
                          <mat-icon class="icon_align">email</mat-icon>
                          dev@krishnakantsalkar.in
                        </h6>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <!-- right column -->
                <div class="col-sm-6">
                  <mat-card
                    [ngStyle]="{
                      'background-color': brightness
                        ? 'rgb(223, 223, 223)'
                        : ' rgb(33, 34, 34)',
                      color: brightness ? 'black' : 'white'
                    }"
                  >
                    <mat-card-content>
                      <h6
                        class="tooltipHover2"
                        (click)="copyShareLink('+919619705613', 'number')"
                        matTooltip="copy number"
                        matTooltipPosition="above"
                        style="text-align: center"
                      >
                        <mat-icon class="icon_align">textsms</mat-icon>
                        +919619705613
                      </h6>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
          <a
            class="fifth-content-credits"
            href="https://www.pexels.com/photo/grayscale-photo-of-computer-laptop-near-white-notebook-and-ceramic-mug-on-table-169573/"
            >Photo by Negative Space, Pexels</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
