/* html body */
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

/* main page content */
.main_about {
  /* background: url("../../../../assets/images/pexels-negative-space-169573.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  padding-bottom: 70px;
  position: relative;
}

.main_about:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("../../../../assets/images/pexels-negative-space-169573.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(3px);
}

.fifth-content {
  /* height: 120vh; */
  width: 100%;
  /* background-color: #17b86a; */
  /* background-image: url("../../../../assets/images/pexels-negative-space-169573.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  margin-bottom: 60px;
}

.fifth-content-credits {
  position: absolute;
  left: 5%;
  bottom: 2%;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.fifth-content-credits:hover {
  opacity: 1;
}

.first-content .container {
  padding-top: 100px;
}

.fifth-content .container-fluid {
  padding-top: 70px;
  width: 80%;
}

/* page navigation buttons  */
div.buttons button {
  margin: 10px;
}
.btn1 {
  color: white;
  background-color: rgba(243, 50, 82, 0.5);
}
.btn2 {
  color: blue;
  background-color: rgba(120, 183, 255, 0.7);
}
.btn3 {
  color: greenyellow;
  background-color: rgba(95, 255, 87, 0.7);
}
.btn4 {
  color: rgb(160, 160, 160);
  background-color: rgba(29, 30, 32, 0.7);
}

/* loop text */
.message {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.message span {
  animation: blink 1s infinite;
}
@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

/* author img fifth content */
.aboutme-img {
  height: 300px;
  width: auto;
  scale: 1;
}
div.developer .card {
  color: #32325d;
  background-color: white;
  border-radius: 10px;
}

.devinfo {
  text-align: center;
  /* padding-top: 125px; */
}
.dev {
  max-width: 800px;
}

div.devinfo1 h5 {
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 18px;
  margin-bottom: 0;
}

.devinfo1 {
  margin-top: 20px;
  font-family: "Andale Mono", AndaleMono, monospace;
  color: #32325d;
  border-radius: 10px;
}
.devinfo1 h5 {
  cursor: pointer;
}

.devdetails {
  text-align: center;
}
.devinfo2 {
  margin-top: 20px;
}

/* copy mail to clipboard css */
.hidden {
  display: none;
}

/* font-awesome icons for socials */
div.connections {
  display: flex;
  justify-content: center;
}
div.connections .fab {
  font-size: 40px;
  margin: 0 10px;
}

div.connections .fa-facebook {
  color: #0099ff;
}
div.connections .fa-instagram {
  color: pink;
}
div.connections .fa-telegram {
  color: #0099ff;
}

.social-icons {
  text-align: center;
}
.social-icons ul {
  padding-inline-start: 0px !important;
}
.social-icons li {
  display: inline-block;
}

.social-icons a {
  background-color: #33353d;
  color: #707070;
  height: 40px;
  width: 40px;
  margin: 7px;
  border-radius: 100%;
  line-height: 40px;
  display: block;
  text-align: center;
  font-size: 20px;
  transition: 0.4s ease-in-out;
}

.social-icons .telegram-icon:hover {
  background-color: #0088cc;
  color: white;
}
.social-icons .facebook-icon:hover {
  background-color: #1da1f2;
  color: white;
}
.social-icons .git-icon:hover {
  background-color: rgb(20, 20, 20);
  color: white;
}
.social-icons .email-icon:hover {
  background-color: rgb(245, 23, 23);
  color: white;
}
.social-icons .instagram-icon:hover {
  background-color: deeppink;
  color: white;
}
.social-icons .snapchat-icon:hover {
  background-color: rgb(255, 252, 0);
  color: white;
}
.social-icons .blog-icon:hover {
  background-color: violet;
  color: white;
}
.social-icons .steam-icon:hover {
  background-color: darkblue;
  color: white;
}
.social-icons .linkedIn-icon:hover {
  background-color: #1da1f2;
  color: white;
}
.social-icons ul {
  padding-inline-start: 20px;
}

#uploadSpinner1,
#uploadCheck1,
#uploadCheckErr1,
#uploadSpinner2,
#uploadCheck2,
#uploadCheckErr2 {
  display: none;
}

.dev_info_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 125px;
}
.langAndfr {
  text-align: center;
}

.form_action {
  display: flex;
  justify-content: center;
}

.langfr img {
  margin: 5px;
}

.copy_content {
  position: relative;
}

.copy_content_suggest {
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 5px;
}

.copy_content_suggest mat-icon {
  font-size: 13px;
  height: 15px;
  width: 12px;
}
/* media query for above css */

@media only screen and (max-width: 600px) {
  .langfr {
    text-align: center;
  }
  .dev {
    max-width: auto;
  }

  .contact_me_form {
    flex-direction: column;
  }
  .dev_info_container {
    flex-direction: column;
  }
  div.buttons .btn {
    margin: 5px;
  }
  div.buttons {
    text-align: center;
  }

  /* .fifth-content {
    height: 190vh;
  } */

  .fifth-content .container-fluid {
    width: 95%;
  }

  .fifth-content-credits {
    left: 5%;
    bottom: 1%;
  }
  div.devinfo {
    padding-top: 10%;
    margin-bottom: 20px;
  }

  .devinfo1 h5 {
    font-size: 20px;
  }

  div.developer {
    padding-bottom: 100px;
  }

  .aboutme-img {
    height: 150px;
  }

  .frameworks {
    padding-bottom: 0;
  }

  .devinfo1 .card-body {
    text-align: center;
  }

  .devinfo1 .row1 {
    margin-bottom: 10px;
  }

  /* div.developer ul {
    padding-left: 25px;
  } */

  .message {
    padding-top: 50%;
    text-align: center;
  }
  #loopQuotes {
    font-size: 30px;
  }
  .devinfo2 {
    margin-top: 10px;
  }
  .social-icons a {
    height: 30px;
    width: 30px;
    font-size: 15px;
    line-height: 30px;
  }

  .currentlyLearning {
    font-size: 18px;
  }
  .hobbies {
    font-size: 18px;
  }
  .langAndfr {
    font-size: 22px;
  }

  .social-icons ul {
    padding-inline-start: 0px;
  }
  .langAndFrData ul {
    padding-left: 24px;
  }
}
