html,
body {
  height: 100%;
  margin: 0;
}
div.top-panel {
  background-color: rgb(58, 58, 58);
  height: 80px;
  width: 100%;
}
div.top-panel h3 {
  color: white;
  padding-top: 5px;
}

div.image-area img {
  background-image: url(../../../assets/images/fb-cover.jpg);
  height: 100%;
  width: 100%;
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

div.container {
  height: 350px;
  margin-bottom: 50px;
}

.footer-area {
  background-color: rgb(61, 61, 61);
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

div.copyright a,
div.copyright p {
  position: relative;
  color: white;
  margin-top: 6px;
  font-size: 15px;
}
.git {
  position: absolute;
  height: 20px;
  width: 20px;
  display: block;
  left: 50px;
  top: 0;
}

.image-area {
  position: relative;
}

.aboutme-img {
  border-radius: 5px;
  box-shadow: 8px 10px 8px grey;
  height: 60%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  border-radius: 5px;
  border: 2px solid gray;
  background-size: contain;
}

div.aboutme h4,
div.aboutme p {
  margin-top: 10px;
  color: black;
  text-align: center;
}

.skills {
  margin-top: 10px;
  padding-left: 20px;
  height: auto;
  width: auto;
}

.label {
  text-align: center;
  /* margin-left: -150px; */
  font-size: 35px;
}

.angular {
  float: left;
}
.angular-img {
  margin-top: 8px;
  max-height: 150px;
  height: auto;
  width: auto;
  transition: ease 1s;
}

.html5 {
  float: left;
}
.html5-img {
  margin-top: 24px;
  margin-left: 30px;
  max-height: 120px;
  height: auto;
  width: auto;
  transition: ease 1s;
}
.css {
  float: left;
}
.css-img {
  margin-top: 25px;
  margin-left: 30px;
  max-height: 140px;
  height: auto;
  width: auto;
  transition: ease 1s;
}
.javascript {
  float: left;
}
.javascript-img {
  margin-top: 25px;
  margin-left: 30px;
  max-height: 107px;
  height: auto;
  width: auto;
  transition: ease 1s;
}

.typescript {
  float: left;
}
.typescript-img {
  margin-top: 25px;
  margin-left: 50px;
  max-height: 107px;
  height: auto;
  width: auto;
  transition: ease 1s;
}

@media only screen and (max-width: 576px) {
  .html5-img {
    margin-left: 20px;
  }
  .css-img {
    margin-left: 0px;
  }
  .javascript-img {
    margin-top: 8px;
  }
  .typescript-img {
    margin-left: 30px;
  }
}

div.info {
  margin-top: 50px;
  margin-bottom: 100px;
}

.maps {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  div.card h3,
  div.card h4 {
    font-size: 25px;
  }
  div.top-panel h3 {
    font-size: 25px;
  }
}

@media screen and (max-width: 576px) {
  div.card h3,
  div.card h4 {
    font-size: 18px;
  }
}

.backend {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-skills {
  padding-top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.nodejs {
  float: left;
}
.nodejs-img {
  margin-top: 20px;
  max-height: 140px;
  height: auto;
  width: auto;
}
.mongodb-img {
  margin-top: 20px;
  margin-left: 60px;
  max-height: 140px;
  height: auto;
  width: auto;
}

.express-img {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-height: 120px;
  height: auto;
  width: auto;
}

.other-skills {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* margin-top: -100px; */
}

.photoshop {
  max-height: 150px;
  height: auto;
  width: auto;
}

.githb {
  max-height: 130px;
  height: auto;
  width: auto;
  background-size: contain;
}

div.connections h3 {
  text-align: center;
  color: white;
}
.connect {
  display: flex;
  align-items: center;
  justify-content: center;
}
.whatsapp {
  font-size: 50px;
  color: rgb(53, 235, 8);
  margin-right: 20px;
}
.instagram {
  font-size: 50px;
  margin-right: 20px;
}
.instagram a {
  color: red;
}

.telegram {
  font-size: 50px;
  margin-right: 20px;
}
.facebook {
  font-size: 50px;
  margin-right: 20px;
}

.disclaimer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  color: white;
  right: 0;
}

.disclaimer h6 {
  font-size: 11px;
  float: left;
}

.git-icon {
  opacity: 0.7;
}
.git-icon:hover {
  opacity: 1;
}

.frontend,
.test {
  display: flex;
  align-items: center;
  justify-content: center;
}

.connections {
  background-image: url(/assets/images/stock_background.jpg);
  background-size: cover;
  padding-top: 50px;
  height: 350px;
}

div.aboutme .card-body {
  background-image: radial-gradient(
    rgb(206, 204, 204) 30%,
    rgb(240, 240, 240) 50%
  );
}
div.aboutme hr {
  border: 1px solid black;
}

.angular-img:hover,
.html5-img:hover,
.css-img:hover,
.javascript-img:hover,
.typescript-img:hover {
  margin-top: -20px;
}
