<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="top-panel">
      <div class="container">
        <h3>Welcome to my Profile!</h3>
      </div>
    </div>
    <div class="image-area">
      <img class="image" src="assets/images/fb-cover.jpg" />
    </div>
    <div class="container-fluid skills">
      <div class="row">
        <div class="col-sm-4 about" data-aos="fade-right">
          <div class="aboutme">
            <div class="card">
              <div class="card-body">
                <img class="aboutme-img" src="assets/images/about_me.jpg" />
                <h4>Krishnakant S. Salkar</h4>
                <p>MEAN Stack Developer</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div data-aos="fade-left" class="col-sm-8 this">
          <div class="label"><b>Frontend Technologies</b></div>
          <div class="frontend">
            <div class="row test">
              <div class="angular">
                <img
                  class="angular-img"
                  src="assets/images/Angular_full_color_logo.svg.png"
                />
              </div>
              <div class="html5">
                <img class="html5-img" src="assets/images/pngfuel.com.png" />
              </div>
              <div class="css">
                <img src="assets/images/pngfuel.com (1).png" class="css-img" />
              </div>
              <div class="javascript">
                <img
                  src="assets/images/JavaScript-logo.png"
                  class="javascript-img"
                />
              </div>
              <div class="typescript">
                <img src="assets/images/ts.png" class="typescript-img" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr style="border: 2px solid black;" />
    <div class="container-fluid info">
      <div class="row card-block">
        <div
          class="col-md-4"
          data-aos="flip-right"
          data-aos-delay="300"
          data-aos-duration="1000"
        >
          <div class="card">
            <div class="card-header">
              <h3>
                <b><u>Contact Information</u></b>
              </h3>
            </div>
            <div class="card-body">
              <h4>
                <b><i class="fas fa-envelope"></i> {{ email }}</b>
              </h4>
              <h4>
                <b><i class="fas fa-mobile"></i> {{ phone }}</b>
              </h4>
              <h4>
                <b><i class="fab fa-github"></i> {{ github }}</b>
              </h4>
            </div>
          </div>
        </div>
        <div
          class="col-md-8"
          data-aos="flip-down"
          data-aos-delay="300"
          data-aos-duration="1000"
        >
          <div class="maps">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7544.577286768281!2d72.8399246!3d19.0069985!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cee8f754eb67%3A0x1aea31efe7c2fd16!2sParel!5e0!3m2!1sen!2sin!4v1587222229442!5m2!1sen!2sin"
              width="600"
              height="450"
              frameborder="0"
              style="border: 0;"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div
      class="container more-skills"
      data-aos="zoom-in"
      data-aos-delay="300"
      data-aos-duration="1000"
    >
      <h2><b>Backend Technologies</b></h2>
      <div class="row backend">
        <div class="nodejs">
          <img
            src="assets/images/nodejs-logo-png-node-js-development-296.png"
            class="nodejs-img"
          />
        </div>
        <div class="mongodb">
          <img
            src="assets/images/kisspng-mongodb-database-clip-art-computer-icons-nosql-5b900df9c897c4.0301692015361674178216.png"
            alt=""
            class="mongodb-img"
          />
        </div>
        <div class="express">
          <img src="assets/images/Expressjs.png" class="express-img" />
        </div>
      </div>
    </div>
    <hr />
    <div
      class="container other-skills"
      data-aos="zoom-in-up"
      data-aos-delay="300"
      data-aos-duration="1000"
    >
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <h3>Graphic Design</h3>
          <img
            src="assets/images/how-to-change-the-color-of-a-png-logo-in-photoshop-4-transparent.png"
            class="photoshop"
          />
        </div>
        <div class="col-sm-6 col-xs-6 version">
          <h3>Version Control</h3>
          <img src="assets/images/github_PNG40.png" class="githb" />
        </div>
      </div>
    </div>

    <br />
    <div
      class="container-fluid connections"
      data-aos="zoom-out-down"
      data-aos-delay="300"
      data-aos-duration="1000"
    >
      <h3>Lets Connect!</h3>
      <br />
      <div class="row connect">
        <div class="whatsapp">
          <i class="fab fa-whatsapp" onClick="alert('+919619705613')"></i>
        </div>

        <div class="telegram">
          <a href="https://t.me/Alex_mercer09"
            ><i class="fab fa-telegram"></i
          ></a>
        </div>
        <div class="instagram">
          <a href="https://www.instagram.com/that_detective_kid/"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
        <div class="facebook">
          <a href="https://www.facebook.com/Supremegod.of.war"
            ><i class="fab fa-facebook"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="disclaimer">
      <h6>
        *All icons used are intellectual properties of their respective owners!
      </h6>
    </div>
    <div class="footer-area">
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="copyright">
                <p>
                  &copy; 2019-2020 Credits @Krishakant_Salkar. All Rights
                  Reserved.
                  <a
                    href="http://github.com/Krishnakantsalkar/My-Page"
                    target="_blank"
                  >
                    Github
                    <i class="fab fa-github git-icon"></i
                  ></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
