.notes {
  padding-top: 100px;
  min-height: 100vh;
  padding-bottom: 50px;
}

.cardPlaceholder {
  position: relative;
}
.cardPlaceholder mat-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 50px;
  display: inline-block;
  width: 50px;
  height: 50px;
}

mat-card-title h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-icon:hover {
  cursor: pointer;
}

.pinnedNotes mat-icon {
  cursor: pointer;
}
.allNotes mat-card-title mat-icon {
  visibility: hidden;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.allNotes mat-card-title:hover mat-icon {
  visibility: visible;
}

.notes mat-card-footer h5 {
  font-size: 13px;
}

#uploadSpinner,
#uploadCheck,
#uploadCheckErr {
  display: none;
}

.controlIcons h4 {
  margin: 20px auto;
}

.todoList .mat-icon {
  visibility: hidden;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.todoList mat-card-title:hover mat-icon {
  visibility: visible;
}

/* ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: rgb(49, 223, 107) !important;
  background: rgb(49, 223, 107) !important;
}

::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: rgb(136, 136, 136) !important;
}
::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: rgba(49, 223, 107, 0.04);
  border-color: transparent;
  color: rgb(49, 223, 107) !important;
}

::ng-deep .p-tabview .p-tabview-nav .p-tabview-ink-bar {
  background-color: rgb(49, 223, 107) !important;
}

::ng-deep
  .p-tabview
  .p-tabview-nav
  li:not(.p-highlight):not(.p-disabled):hover
  .p-tabview-nav-link {
  background: rgba(49, 223, 107, 0.04);
  border-color: transparent;
  color: rgba(255, 255, 255, 0.6);
} */

.notes_message {
  white-space: break-spaces;
}

mat-card-content {
  font-size: 16px;
  padding: 12px 5px;
}

mat-card-footer h5 {
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .notes mat-card-footer h5 {
    font-size: 9px;
  }

  .todoList .mat-icon {
    visibility: visible;
  }

  .allNotes mat-card-title mat-icon {
    visibility: visible;
  }
}
