.notes {
  padding-top: 100px;
  min-height: 100vh;
  padding-bottom: 50px;
}

.cardPlaceholder {
  position: relative;
}
.cardPlaceholder mat-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 50px;
  display: inline-block;
  width: 50px;
  height: 50px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-title h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-icon:hover {
  cursor: pointer;
}

.pinnedNotes mat-icon {
  cursor: pointer;
}
.allNotes mat-card-title .pin_icon,
.todoList mat-card-title .pin_icon {
  visibility: hidden;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.allNotes mat-card-title:hover .pin_icon,
.todoList mat-card-title:hover .pin_icon {
  visibility: visible;
}

.notes mat-card-footer h5 {
  font-size: 13px;
}

#uploadSpinner,
#uploadCheck,
#uploadCheckErr {
  display: none;
}

.controlIcons h4 {
  margin: 20px auto;
}

.action_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.action_icon mat-icon {
  font-size: 20px;
}

.action_icon:hover {
  box-shadow: none !important;
}

/* ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: rgb(49, 223, 107) !important;
  background: rgb(49, 223, 107) !important;
}

::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: rgb(136, 136, 136) !important;
}
::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: rgba(49, 223, 107, 0.04);
  border-color: transparent;
  color: rgb(49, 223, 107) !important;
}

::ng-deep .p-tabview .p-tabview-nav .p-tabview-ink-bar {
  background-color: rgb(49, 223, 107) !important;
}

::ng-deep
  .p-tabview
  .p-tabview-nav
  li:not(.p-highlight):not(.p-disabled):hover
  .p-tabview-nav-link {
  background: rgba(49, 223, 107, 0.04);
  border-color: transparent;
  color: rgba(255, 255, 255, 0.6);
} */

.notes_message {
  white-space: break-spaces;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-content {
  font-size: 16px;
  padding: 12px 5px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-footer h5 {
  font-size: 12px;
}

.snippets pre {
  max-height: 500px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pinnedNotes pre,
.allNotes pre,
.archivedNotes pre {
  max-height: 300px !important;
  overflow-x: hidden;
  overflow-y: auto;
  word-break: break-word;
}

.checkbox_content {
  word-wrap: break-word;
}

.saveTodo {
  display: flex;
  justify-content: flex-end;
}

.copy_ip {
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .notes mat-card-footer h5 {
    font-size: 9px;
  }

  .allNotes mat-card-title .pin_icon,
  .todoList mat-card-title .pin_icon {
    visibility: visible;
  }
}
