div.top-panel {
  background-color: rgb(37, 38, 39);
  width: 100%;
  height: 80px;
}

div.nametag h3 {
  padding-top: 20px;
  color: gray;
  font-size: 25px;
  cursor: pointer;
}

/* div.nametag span {
  color: violet;
  animation: cursor 1s infinite;
} */

div.links {
  margin-top: 5px;
  padding: 15px;
  font-size: 22px;
}
.n1:hover {
  opacity: 0.7;
}
.n2:hover {
  opacity: 0.7;
}

span.one {
  color: violet;
  animation: cursor 1s infinite;
}

span.two {
  color: red;
  animation: cursor1 1s infinite;
}

.loadinganimDark {
  color: violet;
  animation: cursor 1s infinite;
}
.loadinganimLight {
  color: red;
  animation: cursor1 1s infinite;
}

@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
    text-shadow: 0px 0px 15px;
  }
}

@keyframes cursor1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: red;
    text-shadow: 0px 0px 15px rgb(243, 50, 82);
  }
}
@media only screen and (max-width: 600px) {
  div.nametag h3 {
    font-size: 15px;
    text-align: center;
  }

  div.links {
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
  }
  div.links button {
    margin-top: -50px;
    font-size: 10px;
  }
  div.top-panel {
    height: 90px;
  }
}

div.links a {
  padding: 10px;
  margin: 0px 10px;
  color: #818181;
  border-radius: 5px;
  /* display: block; */
}
div.links .aLight:hover {
  background-color: red;
  text-decoration: none;
  color: white;
}

div.links .aDark:hover {
  background-color: violet;
  text-decoration: none;
  color: white;
}

.togglemode {
  color: #818181;
  padding-top: 20px;
  font-size: 25px;
  position: fixed;
  right: 20px;
  z-index: 1;
  top: 4px;
}

div.content {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 42, 45);
}

.togglemode:hover {
  color: white;
}

div.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(37, 38, 39);
  height: 60px;
}

div.footer-text {
  text-align: center;
  padding-top: 20px;
}
div.footer h6,
div.footer i {
  color: #818181;
  font-size: 17px;
}

.data {
  padding-top: 10px;
}
.profileArea {
  padding-top: 40px;
  padding-bottom: 100px;
}
.profileArea button {
  margin-bottom: 20px;
}
div.profImg img {
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  overflow: hidden;
  background-size: cover;
  border-radius: 10px;
}

.loadinganimDark {
  color: violet;
  animation: cursor 1s infinite;
}
.loadinganimLight {
  color: red;
  animation: cursor1 1s infinite;
}

@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
  }
}

@keyframes cursor1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: red;
  }
}

.profile {
  text-align: center;
}
.profile a:hover {
  cursor: pointer;
}

.logoutbtn {
  float: right;
  margin-top: 5px;
  padding: 2px 2px 2px 2px;
}
.logoutbtn:hover {
  background-color: yellowgreen;
  border-radius: 5px;
}
.editPic {
  text-align: center;
}
div.links a:hover {
  background-color: tomato;
}
@media only screen and (max-width: 600px) {
  div.footer {
    height: 30px;
  }
  .footer-text {
    margin-top: -9px;
  }
  div.footer h6,
  div.footer i {
    font-size: 9px;
  }
  div.motto h5 {
    font-size: 14px;
  }
  .profImg {
    text-align: center;
  }

  div.profImg img {
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-bottom: 40px;
  }
  div.info h3 {
    font-size: 20px;
    text-align: center;
  }
}
