<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div
      class="top-panel"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(223, 223, 223)'
          : ' rgb(41, 42, 45)'
      }"
    >
      <div class="container myname">
        <div class="row">
          <div class="col-sm-6 nametag">
            <h3
              class="n1"
              *ngIf="!brightness"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              > krishnakantsalkar@prototype:~<span class="one">$</span>
            </h3>
            <h3
              class="n2"
              *ngIf="brightness"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              > krishnakantsalkar@prototype:~<span class="two">$</span>
            </h3>
          </div>
          <div class="col-sm-6 links">
            <a routerLink="/Home"> Home</a>

            <a routerLink="/About">About</a>
            <a routerLink="/Blog">Blog</a>
            <a routerLink="/Support">Support</a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="content"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    ></div>

    <div
      class="main"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    >
      <div class="container profileArea">
        <button
          class="btn"
          [ngStyle]="{
            color: brightness ? 'black' : 'rgb(160,160,160)'
          }"
          (click)="pic()"
        >
          <i class="fas fa-camera"></i>
        </button>

        <div
          class="card"
          [ngStyle]="{
            'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
          }"
        >
          <div
            class="insider"
            [ngStyle]="{ color: brightness ? 'black' : 'white' }"
          >
            <div
              class="card-header profile"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(223, 223, 223)'
                  : ' rgb(35, 36, 38)'
              }"
            >
              <a
                class="logoutbtn"
                [ngStyle]="{ color: brightness ? 'black' : 'white' }"
                (click)="logout()"
              >
                Logout</a
              >
              <h4>Welcome SuperUser!</h4>
            </div>
            <div class="card-body">
              <div class="loading" *ngIf="!user">
                <h4 *ngIf="!brightness" class="loadinganimDark">Loading...</h4>
                <h4 *ngIf="brightness" class="loadinganimLight">Loading...</h4>
              </div>

              <div class="data" *ngIf="user">
                <div class="row">
                  <div class="col-sm-4">
                    <!-- edit prof img -->

                    <div
                      class="editPic"
                      *ngIf="editDp"
                      [ngStyle]="{
                        color: brightness ? 'black' : 'rgb(160,160,160)'
                      }"
                      data-aos="zoom-out"
                      data-aos-delay="300"
                      data-aos-duration="1000"
                    >
                      <h3>Upload image</h3>
                      <div>
                        <img
                          [src]="currentProfImgP"
                          style="height: 200px; width: auto;"
                        />
                      </div>

                      <br />

                      <input
                        type="file"
                        class="blogpimg"
                        fomrControlName="postImage"
                        multiple
                        (change)="selection($event)"
                      />
                      <br />
                      <br />
                      <button
                        type="submit"
                        class="btn btn-info"
                        style="margin-right: 15px;"
                        (click)="SubmitFile()"
                      >
                        upload
                      </button>
                      <button
                        type="reset"
                        class="btn btn-danger"
                        (click)="currentProfImgP = null"
                      >
                        reset
                      </button>
                      <br />
                      <br />
                    </div>

                    <!-- prof img -->
                    <div
                      class="profImg"
                      *ngIf="!editDp"
                      data-aos="zoom-in"
                      data-aos-delay="300"
                      data-aos-duration="1000"
                    >
                      <img class="Img" src="{{ user.userImage }}" alt="" />
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div
                      class="info"
                      [ngStyle]="{
                        color: brightness ? 'black' : 'rgb(160,160,160)'
                      }"
                      data-aos="fade-up"
                      data-aos-delay="300"
                      data-aos-duration="1000"
                    >
                      <!-- <h3> {{ user._id }}</h3> -->
                      <h3>User: {{ user.name }}</h3>
                      <h3>LastName: {{ user.surname }}</h3>
                      <h3>Email: {{ user.userLogin.email }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer area -->
    <div
      class="footer"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(223, 223, 223)'
          : ' rgb(41, 42, 45)'
      }"
    >
      <div class="footer-text">
        <h6 [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }">
          <i
            class="fas fa-copyright"
            [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
          ></i>
          2020 Krishnakant Salkar, Made with
          <i
            class="fas fa-heartbeat"
            [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
          ></i>
          using Angular 9...
        </h6>
      </div>
    </div>
  </body>
</html>
