<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- scroll to top button -->
    <button (click)="topFunction()" id="myBtn" title="Go to top">
      <i class="fas fa-angle-up" aria-hidden="true"></i>
    </button>

    <!-- top panel navbar -->
    <div
      class="top-panel"
      id="top-panel"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(223, 223, 223)'
          : ' rgb(41, 42, 45)'
      }"
    >
      <div class="container myname">
        <div class="row">
          <div class="col-sm-6 nametag">
            <h3
              class="n1"
              id="top-panel-nametag"
              *ngIf="!brightness"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              > krishnakantsalkar@prototype:~<span class="one">$</span>
            </h3>

            <h3
              class="n2"
              id="top-panel-nametag"
              *ngIf="brightness"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              > krishnakantsalkar@prototype:~<span class="two">$</span>
            </h3>
          </div>
          <div class="col-sm-6 links" id="links">
            <a
              class="navlink"
              routerLink="/Home"
              [ngClass]="{ aLight: brightness, aDark: !brightness }"
            >
              Home</a
            >

            <a
              class="navlink"
              routerLink="/About"
              [ngClass]="{ aLight: brightness, aDark: !brightness }"
              >About</a
            >
            <a
              class="navlink"
              routerLink="/Support"
              [ngClass]="{ aLight: brightness, aDark: !brightness }"
              >Support</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- background -->
    <div class="content"></div>

    <!-- main content -->
    <div
      class="movieList"
      id="movieList"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)',
        color: brightness ? 'black' : 'white'
      }"
    >
      <!-- movie list container -->
      <div class="container">
        <!-- top title text -->
        <div
          class="topText"
          [ngStyle]="{ color: brightness ? 'black' : 'white' }"
        >
          <!-- top title -->
          <h1>Here's a List of 100 Latest & Popular Movies & TV shows!</h1>

          <!-- navigation buttons to call diff APIs -->
          <div class="listButtons">
            <h5>Movies:</h5>
            <button
              class="btn btn1 active"
              id="now_playing"
              (click)="getTheLists(1, 'movie', 'now_playing')"
            >
              Now Playing
            </button>
            <button
              class="btn btn2"
              id="popular"
              (click)="getTheLists(1, 'movie', 'popular'); removeActiveBtn()"
            >
              Popular
            </button>
            <button
              class="btn btn3"
              id="top_rated"
              (click)="getTheLists(1, 'movie', 'top_rated'); removeActiveBtn()"
            >
              Top Rated
            </button>
            <button
              class="btn btn4"
              id="upcoming"
              (click)="getTheLists(1, 'movie', 'upcoming'); removeActiveBtn()"
            >
              Upcoming
            </button>
            <br />
            <h5>Tv:</h5>
            <button
              class="btn btn5"
              id="now_playing1"
              (click)="getTheLists(1, 'tv', 'on_the_air'); removeActiveBtn()"
            >
              Now Playing
            </button>
            <button
              class="btn btn6"
              id="popular1"
              (click)="getTheLists(1, 'tv', 'popular'); removeActiveBtn()"
            >
              Popular
            </button>
            <button
              class="btn btn7"
              id="top_rated1"
              (click)="getTheLists(1, 'tv', 'top_rated'); removeActiveBtn()"
            >
              Top Rated
            </button>
          </div>
        </div>

        <!-- show user which section is being viewed -->
        <!-- dont show if genre menu open -->
        <div class="defaultOptionsOverview" *ngIf="!genreData">
          <h5>Now viewing: '{{ currentListType }}'</h5>
          <h5>List: '{{ currentList }}',</h5>
          <h5>pageno: '{{ pageNo }}'</h5>
        </div>
        <br />

        <!-- search input -->
        <div class="searchArea">
          <div class="input" style="display: flex; justify-content: center">
            <input
              type="text"
              placeholder=""
              class="form-control"
              id="movieTvSearch"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(223, 223, 223)'
                  : ' rgb(33, 34, 34)',
                color: brightness ? 'black' : 'white'
              }"
            />
            <button
              class="btn"
              style="
                background-color: turquoise;
                position: relative;
                right: 42px;
              "
              (click)="SearchMedia()"
            >
              <i
                class="fas fa-search"
                [ngStyle]="{
                  color: brightness ? 'white' : 'black'
                }"
              ></i>
            </button>
            <br />
          </div>
          <br />

          <!-- alert if search error -->
          <div
            class="alert alert-danger"
            *ngIf="
              (searchErr && !searchResults) ||
              (searchResults && searchResults.results.length == 0)
            "
            style="
              text-align: center;
              width: 70%;
              margin-left: auto;
              margin-right: auto;
            "
          >
            <h5 *ngIf="searchErr">
              {{ searchErr }}
            </h5>
            <h5 *ngIf="searchResults && searchResults.results.length == 0">
              No results found for your query ¯\_(ツ)_/¯
            </h5>
          </div>

          <!-- display search results -->
          <div
            class="card"
            *ngIf="searchResults && searchResults.results.length > 0"
            [ngStyle]="{
              'background-color': brightness
                ? 'rgb(223, 223, 223)'
                : ' rgb(33, 34, 34)',
              color: brightness ? 'black' : 'white'
            }"
          >
            <!-- main body of search  -->
            <div class="card-body">
              <h5>Search Results:</h5>

              <!-- row separation for movies/tv -->
              <div class="row">
                <!-- movie row -->
                <div class="col-6 col-sm-6">
                  <h6>Movies:</h6>
                  <div
                    class="resultData col-12 col-sm-12"
                    *ngFor="let results of searchResults.results | slice: 0:20"
                  >
                    <div class="movieSearchResults">
                      <div class="row">
                        <div
                          class="col-2 col-sm-2"
                          style="display: flex; justify-content: center"
                        >
                          <a
                            routerLink="/Movies&TV/Movie/{{ results.title }}/{{
                              results.id
                            }}"
                          >
                            <img
                              *ngIf="results.media_type == 'movie'"
                              src="https://image.tmdb.org/t/p/w300/{{
                                results.poster_path
                              }}"
                              alt=""
                              style="height: 50px; width: auto; float: right"
                          /></a>
                        </div>
                        <div class="col-7 col-sm-10">
                          <a
                            class="searchResultTitle"
                            *ngIf="results.media_type == 'movie'"
                            routerLink="/Movies&TV/Movie/{{ results.title }}/{{
                              results.id
                            }}"
                            (click)="setSearchListType('movie')"
                            style="float: left"
                            ><h5>
                              {{ results.title }}
                            </h5></a
                          >
                        </div>
                      </div>
                      <br *ngIf="results.media_type == 'movie'" />
                    </div>
                  </div>
                  <br />
                </div>

                <!-- tv row -->
                <div class="col-6 col-sm-6">
                  <h6>TV:</h6>
                  <div
                    class="tvSearchResults col-12 col-sm-12"
                    *ngFor="let results of searchResults.results | slice: 0:20"
                  >
                    <div class="row">
                      <div
                        class="col-2 col-sm-2"
                        style="display: flex; justify-content: center"
                      >
                        <a
                          routerLink="/Movies&TV/TV/{{ results.name }}/{{
                            results.id
                          }}"
                        >
                          <img
                            *ngIf="results.media_type == 'tv'"
                            src="https://image.tmdb.org/t/p/w300/{{
                              results.poster_path
                            }}"
                            alt=""
                            style="height: 50px; width: auto; float: right"
                        /></a>
                      </div>
                      <div class="col-7 col-sm-10">
                        <a
                          class="searchResultTitle"
                          *ngIf="results.media_type == 'tv'"
                          routerLink="/Movies&TV/TV/{{ results.name }}/{{
                            results.id
                          }}"
                          (click)="setSearchListType('tv')"
                          style="float: left"
                          ><h5>
                            {{ results.name }}
                          </h5></a
                        >
                      </div>
                    </div>
                    <br *ngIf="results.media_type == 'tv'" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />

        <!-- begin genre section -->
        <!-- hidden by default -->
        <div class="genreList" id="genreList">
          <!-- genre drop down menu -->
          <div
            class="card genreListCard"
            id="genreListCard"
            [ngStyle]="{
              height: genreSwitch ? '100%' : '30px',
              'background-color': brightness
                ? 'rgb(223, 223, 223)'
                : ' rgb(33, 34, 34)',
              color: brightness ? 'black' : 'white'
            }"
          >
            <div class="card-body">
              <h6 style="float: left; margin-top: -15px">Genres</h6>
              <!-- genre dropdown -->
              <!-- dropdown icon -->
              <i
                class="fas genreDropdownIcon"
                style="float: right; margin-top: -20px; cursor: pointer"
                [ngClass]="{
                  'fa-angle-left': !genreSwitch,
                  'fa-angle-down': genreSwitch
                }"
                (click)="genreMenu()"
              ></i>

              <br />

              <div
                class="genreButtons"
                id="genreButtons"
                style="text-align: center"
              >
                <!-- movie genre buttons -->
                <h5>Movies:</h5>
                <button
                  class="btn genre1 active"
                  id="genre1"
                  (click)="
                    discoverByGenre(1, 'movie', movieGenreCollection.action)
                  "
                >
                  Action
                </button>
                <button
                  class="btn genre2"
                  id="genre2"
                  (click)="
                    discoverByGenre(1, 'movie', movieGenreCollection.adventure)
                  "
                >
                  Adventure
                </button>
                <button
                  class="btn genre3"
                  id="genre3"
                  (click)="
                    discoverByGenre(1, 'movie', movieGenreCollection.animation)
                  "
                >
                  Animation
                </button>
                <button
                  class="btn genre4"
                  id="genre4"
                  (click)="
                    discoverByGenre(1, 'movie', movieGenreCollection.comedy)
                  "
                >
                  Comedy
                </button>
                <button
                  class="btn genre5"
                  id="genre5"
                  (click)="
                    discoverByGenre(1, 'movie', movieGenreCollection.family)
                  "
                >
                  Family
                </button>
                <button
                  class="btn genre6"
                  id="genre6"
                  (click)="
                    discoverByGenre(1, 'movie', movieGenreCollection.fantasy)
                  "
                >
                  Fantasy
                </button>
                <button
                  class="btn genre7"
                  id="genre7"
                  (click)="
                    discoverByGenre(1, 'movie', movieGenreCollection.horror)
                  "
                >
                  Horror
                </button>
                <button
                  class="btn genre8"
                  id="genre8"
                  (click)="
                    discoverByGenre(1, 'movie', movieGenreCollection.scifi)
                  "
                >
                  Sci-fi
                </button>
                <button
                  class="btn genre9"
                  id="genre9"
                  (click)="
                    discoverByGenre(1, 'movie', movieGenreCollection.romance)
                  "
                >
                  Romance
                </button>

                <!-- tv genre buttons -->
                <h5>Tv:</h5>
                <button
                  class="btn genre10 active"
                  id="genre10"
                  (click)="discoverByGenre(1, 'tv', tvGenreCollection.action)"
                >
                  Action
                </button>
                <button
                  class="btn genre11"
                  id="genre11"
                  (click)="
                    discoverByGenre(1, 'tv', tvGenreCollection.animation)
                  "
                >
                  Animation
                </button>
                <button
                  class="btn genre12"
                  id="genre12"
                  (click)="discoverByGenre(1, 'tv', tvGenreCollection.comedy)"
                >
                  Comedy
                </button>
                <button
                  class="btn genre13"
                  id="genre13"
                  (click)="discoverByGenre(1, 'tv', tvGenreCollection.crime)"
                >
                  Crime
                </button>
                <button
                  class="btn genre14"
                  id="genre14"
                  (click)="discoverByGenre(1, 'tv', tvGenreCollection.drama)"
                >
                  Drama
                </button>
                <button
                  class="btn genre15"
                  id="genre15"
                  (click)="discoverByGenre(1, 'tv', tvGenreCollection.family)"
                >
                  Family
                </button>
                <button
                  class="btn genre16"
                  id="genre16"
                  (click)="discoverByGenre(1, 'tv', tvGenreCollection.mystery)"
                >
                  Mystery
                </button>
                <button
                  class="btn genre17"
                  id="genre17"
                  (click)="discoverByGenre(1, 'tv', tvGenreCollection.reality)"
                >
                  Reality
                </button>
                <button
                  class="btn genre18"
                  id="genre18"
                  (click)="discoverByGenre(1, 'tv', tvGenreCollection.scifi)"
                >
                  Sci-fi
                </button>
              </div>
            </div>
          </div>
        </div>
        <br *ngIf="genreData" />
        <!-- genre options display to user -->
        <div class="genreOptions" *ngIf="currentGenre">
          <div class="genreOptionsText" style="float: left">
            <h4>now viewing, Genre: {{ currentGenre }}</h4>
            <h4>list: {{ currentListType }}</h4>
            <h4>page: {{ pageNo }}</h4>
          </div>
          <!-- reload page btn to hide genre-->
          <button
            class="btn btn-warning"
            onclick="location.reload()"
            style="float: right"
          >
            Clear Genre
          </button>
          <br />
          <br />
          <br />
          <br />
        </div>
        <br *ngIf="genreData" />

        <!-- display genre result -->
        <div class="displayGenreResults" *ngIf="genreData">
          <div class="row">
            <div
              class="col-6 col-sm-3 genreData"
              *ngFor="let genre of genreData"
            >
              <!-- genre card -->
              <div class="card" id="genreCard">
                <!-- genre data image -->
                <a
                  *ngIf="genre.original_title"
                  routerLink="/Movies&TV/Movie/{{ genre.title }}/{{ genre.id }}"
                >
                  <img
                    src="https://image.tmdb.org/t/p/w300{{ genre.poster_path }}"
                    alt=""
                /></a>

                <a
                  *ngIf="genre.name"
                  routerLink="/Movies&TV/TV/{{ genre.name }}/{{ genre.id }}"
                >
                  <img
                    src="https://image.tmdb.org/t/p/w300{{ genre.poster_path }}"
                    alt=""
                /></a>

                <!-- on hover text -->
                <div class="middle">
                  <div class="text">
                    <h4><i class="fas fa-star"></i></h4>
                  </div>
                  <h4>{{ genre.vote_average }} / 10</h4>
                  <div class="text1" routerLink="/Movies/{{ genre.id }}">
                    view details
                  </div>
                </div>

                <!-- genre movie title -->
                <h6
                  [ngStyle]="{
                    'background-color': brightness
                      ? 'white'
                      : ' rgb(41, 42, 45)',
                    color: brightness ? 'black' : 'white'
                  }"
                  *ngIf="genre.original_title"
                  routerLink="/Movies&TV/Movie/{{ genre.title }}/{{ genre.id }}"
                >
                  {{ genre.title }}
                </h6>

                <!-- tv title -->
                <h6
                  [ngStyle]="{
                    'background-color': brightness
                      ? 'white'
                      : ' rgb(41, 42, 45)',
                    color: brightness ? 'black' : 'white'
                  }"
                  routerLink="/Movies&TV/TV/{{ genre.name }}/{{ genre.id }}"
                  *ngIf="genre.name"
                >
                  {{ genre.name }}
                </h6>
              </div>
              <br />
              <br />
            </div>
          </div>

          <!-- genre pagination implementation -->
          <!-- adapt code for genre -->
          <div class="pagebtn" *ngIf="genreData">
            <button
              class="btn"
              [disabled]="pageNo == 1"
              [ngStyle]="{
                'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
                color: brightness ? 'white' : 'black'
              }"
              (click)="discoverByGenre(1, currentListType, currentGenreId)"
            >
              1
            </button>
            <button
              class="btn"
              [disabled]="pageNo == 2"
              [ngStyle]="{
                'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
                color: brightness ? 'white' : 'black'
              }"
              (click)="discoverByGenre(2, currentListType, currentGenreId)"
            >
              2
            </button>

            <button
              class="btn"
              [disabled]="pageNo == 3"
              [ngStyle]="{
                'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
                color: brightness ? 'white' : 'black'
              }"
              (click)="discoverByGenre(3, currentListType, currentGenreId)"
            >
              3
            </button>
            <button
              class="btn"
              [disabled]="pageNo == 4"
              [ngStyle]="{
                'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
                color: brightness ? 'white' : 'black'
              }"
              (click)="discoverByGenre(4, currentListType, currentGenreId)"
            >
              4
            </button>
            <button
              class="btn"
              [disabled]="pageNo == 5"
              [ngStyle]="{
                'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
                color: brightness ? 'white' : 'black'
              }"
              (click)="discoverByGenre(5, currentListType, currentGenreId)"
            >
              5
            </button>
          </div>
        </div>
        <br />
        <br />
        <!-- main row of page -->

        <!-- show hr if genre section present -->
        <hr
          *ngIf="genreData"
          style="height: 5px; background-color: greenyellow"
        />
        <div class="mainRow" style="text-align: center">
          <!-- main collection begins -->
          <h5>Colección:-</h5>
        </div>
        <div class="row" *ngIf="!genreData">
          <!-- movie, tv list -->
          <div
            class="movieData col-sm-3 col-6 col-md-3"
            *ngFor="let movies of movieData"
          >
            <!-- movie card -->
            <div class="card" id="movieCard" *ngIf="movieData">
              <!-- movie image -->
              <a
                *ngIf="movies.original_title"
                routerLink="/Movies&TV/Movie/{{ movies.title }}/{{ movies.id }}"
              >
                <img
                  src="https://image.tmdb.org/t/p/w300{{ movies.poster_path }}"
                  alt=""
              /></a>
              <a
                *ngIf="movies.name"
                routerLink="/Movies&TV/TV/{{ movies.name }}/{{ movies.id }}"
              >
                <img
                  src="https://image.tmdb.org/t/p/w300{{ movies.poster_path }}"
                  alt=""
              /></a>

              <!-- on hover text -->
              <div class="middle">
                <div class="text">
                  <h4><i class="fas fa-star"></i></h4>
                </div>
                <h4>{{ movies.vote_average }} / 10</h4>
                <div class="text1" routerLink="/Movies/{{ movies.id }}">
                  view details
                </div>
              </div>

              <!-- movie title -->
              <h6
                [ngStyle]="{
                  'background-color': brightness ? 'white' : ' rgb(41, 42, 45)',
                  color: brightness ? 'black' : 'white'
                }"
                *ngIf="movies.original_title"
                routerLink="/Movies&TV/Movie/{{ movies.title }}/{{ movies.id }}"
              >
                {{ movies.title }}
              </h6>

              <!-- tv title -->
              <h6
                [ngStyle]="{
                  'background-color': brightness ? 'white' : ' rgb(41, 42, 45)',
                  color: brightness ? 'black' : 'white'
                }"
                routerLink="/Movies&TV/TV/{{ movies.name }}/{{ movies.id }}"
                *ngIf="movies.name"
              >
                {{ movies.name }}
              </h6>
            </div>
            <br />
            <br />
          </div>
        </div>

        <!-- pagination implementation -->

        <!-- hide main pagination if genre section present -->
        <div class="pagebtn" *ngIf="movieData && !genreData">
          <button
            class="btn"
            [disabled]="pageNo == 1"
            [ngStyle]="{
              'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
              color: brightness ? 'white' : 'black'
            }"
            (click)="getTheLists(1, currentListType, currentList)"
          >
            1
          </button>
          <button
            class="btn"
            [disabled]="pageNo == 2"
            [ngStyle]="{
              'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
              color: brightness ? 'white' : 'black'
            }"
            (click)="getTheLists(2, currentListType, currentList)"
          >
            2
          </button>

          <button
            class="btn"
            [disabled]="pageNo == 3"
            [ngStyle]="{
              'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
              color: brightness ? 'white' : 'black'
            }"
            (click)="getTheLists(3, currentListType, currentList)"
          >
            3
          </button>
          <button
            class="btn"
            [disabled]="pageNo == 4"
            [ngStyle]="{
              'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
              color: brightness ? 'white' : 'black'
            }"
            (click)="getTheLists(4, currentListType, currentList)"
          >
            4
          </button>
          <button
            class="btn"
            [disabled]="pageNo == 5"
            [ngStyle]="{
              'background-color': brightness ? ' rgb(41, 42, 45)' : 'white',
              color: brightness ? 'white' : 'black'
            }"
            (click)="getTheLists(5, currentListType, currentList)"
          >
            5
          </button>
        </div>

        <!-- disclaimer & credits -->
        <div class="disclaimerInfo">
          <div class="alert alert-danger">
            <h6>
              <i class="fas fa-info-circle"></i> Disclaimer: Displayed data on
              this website is for Information purpose only. This website doesn't
              redirect/provide links to any illegal download of movies etc.
            </h6>
          </div>
        </div>
        <div class="creditsInfo">
          <div class="alert alert-success">
            <h6>
              <i class="fas fa-check-circle"></i> Movie database API Powered By:
              <a href="https://www.themoviedb.org" target="_blank">
                <strong> TheMovieDB.ORG</strong></a
              >
            </h6>
          </div>
        </div>
      </div>
    </div>

    <!-- footer area -->
    <app-footer></app-footer>
  </body>
</html>
