.loadinganimDark {
  color: violet;
  animation: cursor 1s infinite;
}
.loadinganimLight {
  color: red;
  animation: cursor1 1s infinite;
}

@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
    text-shadow: 0px 0px 15px;
  }
}

@keyframes cursor1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: red;
    text-shadow: 0px 0px 15px rgb(243, 50, 82);
  }
}

div.content {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 42, 45);
}

/* main content css */

#movieList {
  padding-top: 150px;
  padding-bottom: 150px;
}

.topText {
  text-align: center;
  padding-bottom: 50px;
}

.listButtons button {
  margin: 10px;
  padding: 10px;
  background-color: rgb(56, 55, 55);
  color: white;
}

.listButtons button:hover {
  background-color: greenyellow;
  color: black;
}
.listButtons button:focus {
  background-color: greenyellow;
  color: black;
}

.listButtons button.active {
  background-color: greenyellow;
  color: black;
}

#movieCard,
#genreCard,
.trendingContent .card {
  border: 10px solid grey;
}
#movieCard:hover,
#genreCard:hover,
.trendingContent .card:hover {
  border: 10px solid violet;
}

#movieCard a,
#genreCard a,
.trendingContent .card a {
  cursor: pointer;
}

#movieCard h6,
#genreCard h6,
.trendingContent .card h6 {
  padding: 5px;
  margin: 0;
  text-align: center;
  cursor: pointer;
}
.pagebtn {
  text-align: center;
}
.pagebtn button {
  margin: 10px;
}

.movieData,
.genreData,
.trendingContent {
  position: relative;
}

.movieData img,
.genreData img,
.trendingContent img {
  height: auto;
  width: 100%;
  transition: 0.5s ease;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}

.movieData img:hover,
.genreData img:hover,
.trendingContent img:hover {
  filter: brightness(30%);
}

#movieCard:hover .middle,
#genreCard:hover .middle,
.trendingContent .card:hover .middle {
  opacity: 1;
}

.movieData .text,
.movieData h4,
.genreData .text,
.genreData h4,
.trendingContent h4,
.trendingContent .text {
  color: white;
}
.text1 {
  background-color: rgb(36, 214, 36);
  color: white;
  font-size: 14px;
  padding: 10px;
  display: inline-block;
  margin: 50px 0 10px;
  border-radius: 8px;
  font-weight: bolder;
}

.text1 {
  cursor: pointer;
}
.text1:hover {
  background-color: rgb(86, 148, 240);
  color: black;
}

.disclaimerInfo {
  margin-top: 80px;
}
.creditsInfo {
  margin-top: 20px;
}

.searchArea input {
  width: 70%;
  margin-left: 42px;
}

/* genre section css */
.genreList .card {
  height: 30px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease-in;
}

.genreButtons button {
  background-color: white;
  margin: 10px;
}

.genreButtons button:hover {
  background-color: greenyellow;
}

.displayGenreResults {
  margin-top: 30px;
}

.genreDropdownIcon {
  padding: 7px 10px;
  border-radius: 50%;
}
.genreDropdownIcon:hover {
  background-color: yellowgreen;
  color: black;
}

.trendingContent {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.trendingContent .card {
  flex: 0 0 auto;
}

div.scrollright,
div.scrollleft {
  display: none;
}
#TcloseBtn {
  color: rgb(255, 119, 70);
  font-size: 23px;
}

#TcloseBtn:hover i {
  color: red;
}

.creditsInfo h6 {
  display: inline-block;
  margin-left: 15px;
}
.creditsInfo img {
  height: 50px;
  width: auto;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .movieData img,
  .genreData img,
  .trendingContent img {
    height: auto;
    max-height: 250px;
    width: 100%;
  }
  .movieData h6,
  genreData h6,
  .trendingContent h6 {
    font-size: 13px;
  }
  .searchArea input {
    margin-left: 42px;
  }

  .displayGenreResults {
    margin-top: 60px;
  }

  .genreOptions h4 {
    font-size: 17px;
  }

  .genreList .card {
    width: 100%;
  }
  .searchResultTitle h5 {
    font-size: 13px;
  }

  div.scrollright,
  div.scrollleft {
    display: block;
  }

  div.showTrendingBtnGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .movieData .text,
  .movieData h4,
  .genreData .text,
  .genreData h4,
  .trendingContent h4,
  .trendingContent .text {
    font-size: 15px;
  }

  .text1 {
    font-size: 13px;
    padding: 5px;
    margin: 30px 0 10px;
  }

  .creditsInfo {
    text-align: center;
    margin-left: 0;
  }
}
