<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- background color -->
    <div
      class="content"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    ></div>

    <!-- main component -->
    <div
      class="mainCovid"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    >
      <div class="container">
        <!-- add a loading... animation -->

        <div class="loading" *ngIf="!covidDistrictData">
          <h4 *ngIf="!brightness" class="loadinganimDark">
            Loading...<span class="spinner-border"></span>
          </h4>
          <h4 *ngIf="brightness" class="loadinganimLight">
            Loading...<span class="spinner-border"></span>
          </h4>
        </div>
        <br />

        <!-- navigation -->
        <div class="row">
          <h1
            class="col-8 col-sm-8"
            [ngStyle]="{
              color: brightness ? 'red' : 'violet'
            }"
          >
            State: {{ covidDistrict }}
          </h1>

          <div class="col-4 col-sm-4" style="text-align: right">
            <button class="btn btn-info" routerLink="/Covid-Tracker">
              <i class="fas fa-step-backward"></i> Back
            </button>
          </div>
        </div>
        <br />
        <br />

        <!-- main table -->
        <div class="covidTable">
          <div
            class="card"
            [ngStyle]="{
              'background-color': brightness
                ? 'rgb(221,222,223)'
                : ' rgb(35, 35, 36)',
              color: brightness ? 'black' : 'white'
            }"
          >
            <div class="card-body">
              <table
                class="display"
                datatable
                [dtOptions]="dtOptions"
                *ngIf="covidDistrictData"
              >
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Confirmed</th>
                    <th>Recovered</th>
                    <th>Deaths</th>
                    <th>Old Confirmed</th>
                    <th>Old Recovered</th>
                    <th>Old Deaths</th>
                    <th>Zone</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of covidDistrictData">
                    <td>
                      {{ data.name }}
                    </td>
                    <td>
                      {{ data.confirmed | number }}
                    </td>
                    <td>
                      {{ data.recovered | number }}
                    </td>
                    <td>
                      {{ data.deaths | number }}
                    </td>
                    <td>
                      {{ data.oldConfirmed | number }}
                    </td>
                    <td>
                      {{ data.oldRecovered | number }}
                    </td>
                    <td>
                      {{ data.oldDeaths | number }}
                    </td>
                    <td>{{ data.zone }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br />
        <!-- credits -->
        <div class="alert alert-success apiCredits" *ngIf="covidData">
          <h6>
            <i class="fas fa-check-circle"></i> API credits:
            <a href="https://covidindiatracker.com/" target="_blank">
              covidindiatracker.com</a
            >
          </h6>
        </div>

        <!-- useful links -->
        <div class="usefulLinks" *ngIf="covidData">
          <div class="alert alert-danger">
            <h5><i class="fas fa-exclamation-circle"></i> Useful Links:</h5>
            <br />
            <h5>CORONAVIRUS ( COVID 19 ) HELPLINE : 011-23978046 OR 1075</h5>
            <a
              style="color: black"
              target="_blank"
              href="https://play.google.com/store/apps/details?id=nic.goi.aarogyasetu&hl=en_IN&gl=US"
              target="_blank"
            >
              <i class="fas fa-heartbeat" style="color: red"></i> Aarogya Setu
              App</a
            >
            |
            <a
              href="https://www.covid19india.org/"
              style="color: black"
              target="_blank"
            >
              <i class="fas fa-globe"></i> covid19india.org</a
            >
            |
            <a
              href="https://mohfw.gov.in/"
              style="color: black"
              target="_blank"
            >
              <i class="fas fa-globe"></i> mohfw.gov.in</a
            >
            |
            <a
              href="https://www.mygov.in/covid-19/"
              style="color: black"
              target="_blank"
            >
              <i class="fas fa-globe"></i> mygov.in/covid-19</a
            >
            |
            <a
              href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"
              style="color: black"
              target="_blank"
            >
              <i class="fas fa-globe"></i> WHO.int</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <app-footer></app-footer>
  </body>
</html>
