.loadinganimDark {
  color: violet;
  animation: cursor 1s infinite;
}
.loadinganimLight {
  color: red;
  animation: cursor1 1s infinite;
}

@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
    text-shadow: 0px 0px 15px;
  }
}

@keyframes cursor1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: red;
    text-shadow: 0px 0px 15px rgb(243, 50, 82);
  }
}

div.nametag {
  position: relative;
  display: block;
  background-color: rgb(41, 42, 45);
  padding-top: 60px;
  padding-bottom: 100px;
}

.imagesection,
.motto {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

#bgImg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  opacity: 0.5;
  background-color: rgb(41, 42, 45);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  transition: 0.4s ease-in-out;
}

/* .pseudo:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  content: "";
  z-index: 1;
} */
/* wallpaper credits css */
div.bgCredits {
  position: absolute;
  left: 20px;
  bottom: 10%;
  z-index: 1;
  transition: 0.4s ease-in-out;
}

div.bgCredits h6 {
  opacity: 0.2;
  transition: 0.3s ease-in-out;
}

div.bgCredits button:focus {
  outline: none;
  box-shadow: none;
}

div.bgCredits:hover > .bgCreditsInfo {
  opacity: 1;
}

div.imagesection {
  text-align: center;
  padding-top: 200px;
}

div.imagesection img {
  height: 270px;
  width: 270px;
}

.imageShadowD {
  animation: beatD 10s ease-in-out infinite;
}
.imageShadowL {
  animation: beatL 10s ease-in-out infinite;
}

@keyframes beatD {
  from,
  to {
    color: transparent;
    box-shadow: 0 0 1px 1px black, 0 0 5px 4px violet;
  }
  50% {
    box-shadow: 0 0 5px 2px black, 0 0 20px 20px violet;
  }
}

@keyframes beatL {
  from,
  to {
    color: transparent;
    box-shadow: 0 0 0 1px black, 0 0 5px 4px orangered;
  }
  50% {
    box-shadow: 0 0 1px 1px black, 0 0 20px 20px orangered;
  }
}

.content-new {
  padding-top: 40px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 600px) {
  div.imagesection {
    padding-top: 200px;
  }

  div.imagesection img {
    height: 230px;
    width: 230px;
  }
}

.footer-social a {
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
  text-align: center;
  width: 40px;
}
.menu ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.menu ul li {
  border-bottom: 1px dashed #555;
  padding: 5px 0;
}
.menu a {
  display: block;
  padding: 5px 0;
  /* color: #999; */
}

.feedback input {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}
.feedback-form {
  padding-top: 10px;
  text-align: center;
}
.feedback-form ::placeholder {
  color: black;
}

.bottom-content p {
  font-family: Comic Sans MS, cursive, sans-serif;
}
/* input[type="text"]:valid {
  background-color: rgb(149, 233, 149);
}
input[type="text"]:invalid {
  background-color: rgb(219, 98, 98);
} */

div.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(37, 38, 39);
  height: 55px;
}

div.footer-text {
  display: flex;
  justify-content: center;
  padding-top: 17px;
}
div.footer h6,
div.footer i {
  color: #818181;
  font-size: 15px;
}

div.footer h6 {
  font-family: "Bahnschrift SemiBold";
  padding-top: 2px;
}

div.motto {
  padding-top: 40px;
  text-align: center;
  padding-bottom: 160px;
  opacity: 1;
  z-index: 1;
}

div.motto h5 {
  color: #818181;
  padding-bottom: 20px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

.recentupdates h3 {
  text-align: center;
}

.recentposts {
  margin-left: auto;
  margin-right: auto;
}
div.recentposts .seemore {
  text-align: center;
}

.recentposts .card-body {
  padding-top: 10px;
  border-radius: 10px;
}

.shortbio {
  padding-top: 10px;
}

.recentposts span {
  cursor: pointer;
  color: rgb(78, 132, 248);
}

.clickable:hover {
  cursor: pointer;
}

#overlay {
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.7s ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  transition: 0.7s ease-in-out;
  width: 250px;
}

.overlay-content .card-header {
  text-align: center;
  padding: 10px 20px;
}

.overlay-content .card-body {
  padding: 10px 20px;
}

.overlay-content .card-footer {
  text-align: center;
  padding: 10px 20px;
}

/* Preload page content css */
.preloadContent {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 42, 45);
  z-index: 5;
  overflow: hidden;
}
.enterBtn {
  background-color: #1f7ce0;
  border-color: #1f7ce0;
  color: white;
  box-shadow: 0 2px 4px 0px black;
  opacity: 0;
  transition: 1s ease-in-out;
}
.preloader {
  margin: 0;
  position: absolute;
  top: 0;

  z-index: 10;
  transition: 0.3s ease-in-out;
}

.preloaderBg {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../../../assets/images/pexels-markus-spiske-1936299.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.preloaderBgCredits {
  position: absolute;
  left: 20px;
  bottom: 50px;
}

.preloaderBgCredits a {
  opacity: 0.4;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-weight: bold;
}

.preloaderBgCredits a:hover {
  opacity: 0.9;
}

.preloaderLogoL {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -110px;
  animation: preloaderBgAnimL 0.95s infinite;
  border-radius: 10px;
}
.preloaderLogoD {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -110px;
  animation: preloaderBgAnimD 0.95s infinite;
  border-radius: 10px;
}
@keyframes preloaderBgAnimD {
  from,
  to {
    color: transparent;
  }
  50% {
    box-shadow: 0 2px 4px black, 0 8px 8px violet;
  }
}
@keyframes preloaderBgAnimL {
  from,
  to {
    color: transparent;
  }
  50% {
    box-shadow: 0 2px 4px black, 0 8px 8px orangered;
  }
}

.progressBar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22%;
  /* border-radius: 20px; */
  transform: translate(-50%, -50%);
}

.progressText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.progressText h6 {
  margin-top: -40px;
}

.progress {
  /* border-radius: 20px; */
  width: 2%;
  height: 20px;
  line-height: 30px;
  text-align: center;
  transition: 0.045s ease-in;
}

#loopText {
  transition: 1s ease-in-out;
  font-family: "Bahnschrift SemiBold";
}

.preloaderFooter {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloaderImgArea {
  position: absolute;
  left: 49%;
  top: 53%;
}

#percent {
  position: absolute;
  left: 50%;
  margin-top: -5px;
  font-weight: bold;
  font-family: "Bahnschrift SemiBold";
}

div.adblockOverlays {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.7s ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}
div.adblockOverlays .card {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s ease-in-out;
  display: inline-block;
  margin: 20px auto;
}

div.adblockOverlays .crossBtn:hover i {
  color: orangered;
}

div.adblockOverlays .card-body button {
  margin: 10px;
}

div.websiteUsesDialog {
  position: fixed;
  height: 200px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -17px;
  z-index: 6;
  display: none;
}

div.websiteUsesDialog .fa-cookie-bite {
  float: left;
  font-size: 400%;
  margin-right: 10px;
  line-height: 80%;
}

.footerAngularLogo .fa-angular {
  font-size: 20px;
  margin-left: 8px;
  margin-top: -1px;
}

#uploadSpinner1,
#uploadCheck1,
#uploadCheckErr1,
#uploadSpinner2,
#uploadCheck2,
#uploadCheckErr2 {
  display: none;
}

@media only screen and (max-width: 600px) {
  div.footer {
    height: 30px;
    z-index: 2;
  }
  .footer-text {
    margin-top: -10px;
  }
  div.footer h6,
  div.footer i {
    font-size: 9px;
  }

  div.motto h5 {
    font-size: 14px;
  }

  div.motto {
    padding-bottom: 130px;
  }
  div.recentposts h3 {
    font-size: 22px;
  }
  div.recentposts h4 {
    font-size: 17px;
  }
  div.recentposts h5 {
    font-size: 15px;
  }
  div.bottom-content {
    padding-top: 20px;
  }

  .content-new {
    padding-top: 170px;
    padding-bottom: 40px;
    text-align: center;
  }

  /* preload page content css Mobile */
  .preloaderLogoL {
    height: auto;
    width: 90%;
  }
  .preloaderLogoD {
    height: auto;
    width: 90%;
  }

  .progressBar {
    width: 70%;
    margin-top: 20px;
  }
  .preloaderFooter {
    width: 100%;
    text-align: center;
  }
  .preloaderFooter h6 {
    font-size: 13px;
  }

  #userName {
    padding-top: 0px;
    margin-top: -5px;
    font-size: 12px;
    margin-left: 50px;
  }
  div.adblockOverlays .card {
    display: block;
    width: 90%;
    top: 35%;
  }
  div.websiteUsesDialog h3 {
    font-size: 18px;
  }
  div.websiteUsesDialog .fa-cookie-bite {
    font-size: 30px;
  }
  div.websiteUsesDialog {
    bottom: 30px;
    text-align: center;
  }

  div.footer-text .footerAngularLogo {
    margin-top: -7px;
  }

  .footerAngularLogo .fa-angular {
    font-size: 11px;
    color: #c82333;
    margin-top: 2px;
  }

  div.content {
    background-position: -400px 0;
  }

  .preloaderImgArea {
    position: absolute;
    left: 47%;
    top: 55%;
  }
}
