<!DOCTYPE html>
<html id="Page">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Preload page component -->
    <div class="preloader" id="preloader">
      <!-- preload page card fixed and covers entire page using css -->
      <div
        class="preloadContent card"
        [ngStyle]="{
          background: brightness ? 'white' : ' rgb(41, 42, 45)'
        }"
      >
        <div class="preloaderBg"></div>
        <!-- Preload page Logo  -->
        <div>
          <img class="preloaderLogo" src="assets/images/preloadLogo.png" />
          <div class="progressText">
            <h6
              [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
              id="loopText"
            ></h6>
          </div>

          <!-- Progress bar container -->
          <div
            class="progressBar"
            [ngStyle]="{
              'background-color': brightness ? 'rgb(223, 223, 223)' : ' black'
            }"
          >
            <!-- Progress bar animation by Javascript -->
            <div
              class="progress"
              id="progress"
              [ngStyle]="{
                'background-color': brightness ? 'red' : 'violet'
              }"
            >
              <span
                id="percent"
                [ngStyle]="{ color: brightness ? 'blue' : 'red' }"
              >
                1%</span
              >
            </div>
          </div>
        </div>
        <!-- Preloader page footer -->
        <div class="preloaderFooter">
          <h6 [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }">
            <i
              class="fas fa-copyright"
              [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
            ></i>
            2020 Krishnakant Salkar
          </h6>
        </div>
      </div>
    </div>

    <!--  Add a div with id to Wrap entire Main Page -->
    <div id="MainPage">
      <!-- Notification Overlay -->
      <div id="overlay" (click)="off()">
        <div class="overlay-content">
          <div
            data-aos="zoom-in"
            data-aos-delay="300"
            data-aos-duration="1000"
            class="card"
            [ngStyle]="{
              'background-color': brightness
                ? 'rgb(223, 223, 223)'
                : ' rgb(41, 42, 45)'
            }"
          >
            <div
              class="card-header"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              <h3>TheArsonist~</h3>
            </div>
            <article
              *ngIf="logResponse"
              class="card-body"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              <h4>{{ logResponse.message }}</h4>
            </article>
            <article
              *ngIf="errResponse"
              class="card-body"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              <h4>{{ errResponse }}</h4>
            </article>
            <div class="card-footer">
              <button class="btn btn-success" (click)="off()">OK</button>
            </div>
          </div>
        </div>
      </div>

      <!-- side navigation panel -->
      <div class="sidenav" [ngClass]="{ sidenavL: brightness }">
        <span>&#9776;</span>
        <a routerLink="/About"> About</a>
        <a routerLink="/Blog/page/1"> Blog</a>
        <a routerLink="/Movies&TV">Movies & TV</a>
        <a *ngIf="special" routerLink="/Profile/{{ loggedInUser }}">Profile</a>
        <a href="https://github.com/krishnakantsalkar/My-App" target="_blank">
          Github</a
        >
        <a routerLink="/Login" *ngIf="!special"> Login</a>
        <a *ngIf="special" class="clickable" (click)="logout()"> Logout</a>
        <a routerLink="/Privacy">Privacy Policy</a>
        <a routerLink="/Disclaimer">Disclaimer</a>
        <a routerLink="/About"> Support</a>
        <a (click)="mode()"
          ><i
            class="fas"
            [ngClass]="{ 'fa-sun': brightness, 'fa-moon': !brightness }"
          ></i
        ></a>
      </div>

      <!-- Top panel -->
      <div
        class="top-panel"
        id="top-panel"
        [ngStyle]="{
          'background-color': brightness
            ? 'rgb(223, 223, 223)'
            : ' rgb(41, 42, 45)'
        }"
      >
        <!-- Name tag on top panel -->
        <div class="container nametag">
          <div class="row">
            <div class="col-sm-6">
              <h4
                class="n1"
                id="top-panel-nametag"
                *ngIf="!brightness"
                [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
              >
                > krishnakantsalkar@prototype:~<span
                  class="one"
                  [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
                >
                  $
                </span>
              </h4>
              <h4
                class="n2"
                id="top-panel-nametag"
                *ngIf="brightness"
                [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
              >
                > krishnakantsalkar@prototype:~<span class="two"> $ </span>
              </h4>
            </div>
            <div class="col-sm-6">
              <h6
                id="userName"
                *ngIf="userName"
                [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
              >
                Admin:
                <span
                  [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
                  routerLink="/Profile/{{ loggedInUser }}"
                >
                  {{ userName.name }} {{ userName.surname }}
                </span>
              </h6>
            </div>
          </div>
        </div>
      </div>

      <!-- background color under all other components (Old logic) -->
      <div
        class="content"
        [ngStyle]="{
          'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
        }"
      ></div>

      <!-- Add personal image -->
      <div
        class="imagesection"
        [ngStyle]="{
          'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
        }"
      >
        <img
          data-aos="zoom-in"
          data-aos-duration="1000"
          class="rounded-circle"
          src="assets/images/mylogo.jpg"
        />
      </div>

      <!-- Add motto -->
      <div
        class="motto"
        [ngStyle]="{
          background: brightness ? 'white' : ' rgb(41, 42, 45)'
        }"
      >
        <h5 [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }">
          Learn
          <i
            class="fab fa-leanpub"
            [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
          ></i>
          &#8226; Build
          <i
            class="fas fa-sync-alt"
            [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
          ></i>
          &#8226; Fix
          <i
            class="fas fa-tools"
            [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
          ></i>
          &#8226; Repeat
          <i
            class="fas fa-redo"
            [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
          ></i>
        </h5>
        <div class="special" *ngIf="special" align="center">
          <a routerLink="/Bday">
            <button class="btn btn-info btn-md">Specials</button></a
          >
          <br />
          <br />
        </div>

        <div class="container" style="display: flex; justify-content: center">
          <div
            class="toast"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
            data-autohide="true"
            data-delay="15000"
            [ngStyle]="{
              'background-color': brightness
                ? 'rgb(242, 240, 240)'
                : ' rgb(41, 42, 45)'
            }"
          >
            <div
              class="toast-header"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(223, 223, 223)'
                  : ' rgb(38, 38, 38)',
                color: brightness ? 'black' : 'rgb(129,129,129)'
              }"
            >
              <!-- toast image -->
              <!-- <img
                src="assets/images/mylogo.jpg"
                style="height: 23px"
                class="rounded mr-2"
                alt="..."
              /> -->

              <strong class="mr-auto"
                ><i class="fas fa-robot"></i> The-Arsonist~</strong
              >
              <small>Recently updated</small>
              <button
                type="button"
                class="ml-2 mb-1 close"
                data-dismiss="toast"
                aria-label="Close"
              >
                <span
                  [ngStyle]="{
                    color: brightness ? 'red' : 'violet'
                  }"
                  aria-hidden="true"
                  >&times;</span
                >
              </button>
            </div>
            <div
              class="toast-body"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(242, 240, 240)'
                  : ' rgb(41, 42, 45)',
                color: brightness ? 'black' : 'rgb(129,129,129)'
              }"
            >
              Welcome User, Be sure to Checkout my
              <a
                style="cursor: pointer"
                routerLink="/Blog/page/1"
                [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
                >Blog</a
              >!
            </div>
          </div>
        </div>
      </div>

      <!-- Footer top area -->
      <div
        class="content-new"
        [ngStyle]="{
          'background-color': brightness
            ? 'rgb(223, 223, 223)'
            : ' rgb(35, 36, 38)'
        }"
      >
        <div
          class="container-fluid"
          [ngStyle]="{ color: brightness ? 'black' : 'white' }"
          style="height: auto; width: auto; padding-left: 50px"
        >
          <div class="bottom-content">
            <div class="row">
              <div class="col-sm-3">
                <div
                  class="shortbio"
                  data-aos="zoom-in"
                  data-aos-delay="100"
                  data-aos-duration="1000"
                >
                  <h4>
                    <span><u>The Arsonist~</u> </span>
                  </h4>
                  <p>It'll Blow you Away!</p>
                  <p>
                    Hey there, Welcome to my blog page, If you what you see,
                    read... feel free to share it with your friends! Just a
                    regular noob programmer from Mumbai learning new things
                  </p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="recentposts">
                  <div
                    class="card"
                    data-aos="zoom-in"
                    data-aos-delay="100"
                    data-aos-duration="1000"
                    [ngStyle]="{
                      'background-color': brightness
                        ? 'white'
                        : ' rgb(41, 42, 45)'
                    }"
                  >
                    <div
                      class="insider"
                      [ngStyle]="{ color: brightness ? 'black' : 'white' }"
                    >
                      <div class="card-body">
                        <h3>Recent Updates</h3>
                        <div class="loading" *ngIf="!recentblogs">
                          <h4 *ngIf="!brightness" class="loadinganimDark">
                            Loading...
                          </h4>
                          <h4 *ngIf="brightness" class="loadinganimLight">
                            Loading...
                          </h4>
                        </div>
                        <div
                          class="recentcontent"
                          *ngFor="let recent of recentblogs | slice: 0:1"
                        >
                          <h5>
                            <a
                              routerLink="/Blog/{{ recent.postNumber }}/{{
                                recent.postTitle
                              }}/{{ recent._id }}"
                              [ngStyle]="{
                                color: brightness ? 'red' : 'violet'
                              }"
                              >#{{ recent.postNumber }}.
                              {{ recent.postTitle }}</a
                            >
                          </h5>
                          <h6>{{ recent.postDate | slice: 0:70 }}..</h6>
                          <h6>
                            {{ recent.post | slice: 0:90 }}...
                            <span
                              [ngStyle]="{
                                color: brightness ? 'red' : 'violet'
                              }"
                              routerLink="/Blog/page/1"
                              >more</span
                            >
                          </h6>

                          <br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div
                  class="menu"
                  data-aos="zoom-in"
                  data-aos-delay="100"
                  data-aos-duration="1000"
                >
                  <ul>
                    <li>
                      <a
                        routerLink="/Blog/page/1"
                        [ngStyle]="{
                          color: brightness ? 'black' : 'rgb(129,129,129)'
                        }"
                        >Blog</a
                      >
                    </li>
                    <li>
                      <a
                        routerLink="/Movies&TV"
                        [ngStyle]="{
                          color: brightness ? 'black' : 'rgb(129,129,129)'
                        }"
                        >Movies & TV</a
                      >
                    </li>
                    <li>
                      <a
                        routerLink="/Profile/{{ loggedInUser }}"
                        [ngStyle]="{
                          color: brightness ? 'black' : 'rgb(129,129,129)'
                        }"
                        >Profile</a
                      >
                    </li>
                    <li>
                      <a
                        routerLink="/Privacy"
                        [ngStyle]="{
                          color: brightness ? 'black' : 'rgb(129,129,129)'
                        }"
                        >Privacy Policy</a
                      >
                    </li>
                    <li>
                      <a
                        routerLink="/Disclaimer"
                        [ngStyle]="{
                          color: brightness ? 'black' : 'rgb(129,129,129)'
                        }"
                        >Disclaimer</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://github.com/krishnakantsalkar/My-App"
                        [ngStyle]="{
                          color: brightness ? 'black' : 'rgb(129,129,129)'
                        }"
                        >Github</a
                      >
                    </li>
                    <li>
                      <a
                        routerLink="/About"
                        [ngStyle]="{
                          color: brightness ? 'black' : 'rgb(129,129,129)'
                        }"
                        >About</a
                      >
                    </li>
                    <li>
                      <a
                        routerLink="/Home"
                        [ngStyle]="{
                          color: brightness ? 'black' : 'rgb(129,129,129)'
                        }"
                        >Home</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3 feedback-form">
                <div
                  class="feedbckfrm"
                  data-aos="zoom-in"
                  data-aos-delay="100"
                  data-aos-duration="1000"
                >
                  <h2 class="footer-wid-title">Feedback?</h2>
                  <p>
                    Hey there, Send us a quick feedback or any message regarding
                    any query you have!
                  </p>
                  <div class="feedback-form">
                    <form
                      class="feedback"
                      [formGroup]="sendFeedback"
                      (ngSubmit)="Send(sendFeedback.value)"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="name"
                        formControlName="name"
                        [ngStyle]="{
                          'background-color': sendFeedback.get('name').valid
                            ? 'rgb(160, 237, 115)'
                            : 'rgb(239, 133, 133)'
                        }"
                      />
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Type your email"
                        formControlName="email"
                        [ngStyle]="{
                          'background-color': sendFeedback.get('email').valid
                            ? 'rgb(160, 237, 115)'
                            : 'rgb(239, 133, 133)'
                        }"
                      />
                      <input
                        type="text"
                        class="form-control"
                        placeholder="message"
                        formControlName="message"
                        min="5"
                        [ngStyle]="{
                          'background-color': sendFeedback.get('message').valid
                            ? 'rgb(160, 237, 115)'
                            : 'rgb(239, 133, 133)'
                        }"
                      />
                      <button
                        class="btn btn-success"
                        type="submit"
                        [disabled]="!sendFeedback.valid"
                      >
                        Send
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="privacyPolicy" style="text-align: center; margin: 15px">
              <h6>
                *By using this website you agree to the
                <span
                  routerLink="/Privacy"
                  style="cursor: pointer"
                  [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
                  >privacy policy</span
                >
              </h6>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer area -->
      <div
        class="footer"
        [ngStyle]="{
          'background-color': brightness
            ? 'rgb(223, 223, 223)'
            : ' rgb(41, 42, 45)'
        }"
      >
        <div class="footer-text">
          <h6 [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }">
            <i
              class="fas fa-copyright"
              [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
            ></i>
            2020 Krishnakant Salkar, Made with
            <i
              class="fas fa-heartbeat"
              [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
            ></i>
            using Angular 9...
          </h6>
        </div>
      </div>
    </div>
  </body>
</html>
