.sidenav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 45px;
  padding-top: 50px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.2s ease;
  z-index: 1;
}

.sidenav span {
  position: fixed;
  top: 15px;
  color: white;
  margin-left: 10px;
  font-size: 22px;
}

.sidenav a {
  padding: 8px 8px 8px 50px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav:hover {
  width: 280px;
}

div.top-panel {
  background-color: rgb(37, 38, 39);
  height: 80px;
  width: 100%;
}

div.nametag h4 {
  margin-left: 70px;
  font-size: 25px;
  padding-top: 20px;
  color: gray;
}

span.one {
  color: violet;
  animation: cursor 1s infinite;
}

span.two {
  color: red;
  animation: cursor1 1s infinite;
}

.loadinganimDark {
  color: violet;
  animation: cursor 1s infinite;
}
.loadinganimLight {
  color: red;
  animation: cursor1 1s infinite;
}

@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
  }
}

@keyframes cursor1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: red;
  }
}

div.content {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 42, 45);
}

div.imagesection {
  text-align: center;
  padding-top: 120px;
  background-color: rgb(41, 42, 45);
}

div.imagesection img {
  height: 270px;
  width: 270px;
}

@media only screen and (max-width: 600px) {
  .sidenav:hover {
    width: 150px;
  }

  .sidenav a {
    font-size: 18px;
  }
  div.top-panel {
    height: 60px;
  }
  div.nametag h4 {
    font-size: 15px;
    margin-left: 0px;
    text-align: center;
  }
  div.imagesection {
    padding-top: 100px;
  }

  div.imagesection img {
    height: 200px;
    width: 200px;
  }
}

div.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(37, 38, 39);
  height: 60px;
}

div.footer-text {
  text-align: center;
  padding-top: 20px;
}
div.footer h6,
div.footer i {
  color: #818181;
  font-size: 17px;
}

div.motto {
  padding-top: 40px;
  text-align: center;
  background-color: rgb(41, 42, 45);
}
div.motto h5 {
  color: #818181;
  padding-bottom: 20px;
}

.recentupdates h3 {
  text-align: center;
}

.recentposts {
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 100px;
}
div.recentposts .seemore {
  text-align: center;
}

.clickable:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  div.footer {
    height: 25px;
    z-index: 2;
  }
  .footer-text {
    margin-top: -13px;
  }
  div.footer h6,
  div.footer i {
    font-size: 8px;
  }
  div.motto h5 {
    font-size: 14px;
  }
  .recentposts {
    width: 75%;
  }
  div.recentposts h3 {
    font-size: 22px;
  }
  div.recentposts h4 {
    font-size: 17px;
  }
  div.recentposts h5 {
    font-size: 15px;
  }
}
