.sidenav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 45px;
  padding-top: 50px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.2s ease;
  z-index: 1;
}

.sidenav span {
  position: fixed;
  top: 15px;
  color: white;
  margin-left: 10px;
  font-size: 22px;
}
.sidenav span {
  cursor: pointer;
}

.sidenav a {
  padding: 8px 8px 8px 50px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* dark mode hover */
.sidenav a:hover {
  background-color: violet;
  color: #555;
  border-radius: 5px;
  cursor: pointer;
}
.sidenavL a:hover {
  background-color: rgb(243, 61, 61);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.sidenav:hover {
  width: 280px;
}

div.top-panel {
  background-color: rgb(37, 38, 39);
  height: 80px;
  width: 100%;
}

div.nametag h4 {
  margin-left: 70px;
  font-size: 25px;
  padding-top: 20px;
  color: gray;
  cursor: pointer;
}
.n1:hover {
  opacity: 0.7;
}
.n2:hover {
  opacity: 0.7;
}

span.one {
  color: violet;
  animation: cursor 1s infinite;
}

span.two {
  color: red;
  animation: cursor1 1s infinite;
}

.loadinganimDark {
  color: violet;
  animation: cursor 1s infinite;
}
.loadinganimLight {
  color: red;
  animation: cursor1 1s infinite;
}

@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
    text-shadow: 0px 0px 15px;
  }
}

@keyframes cursor1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: red;
    text-shadow: 0px 0px 15px rgb(243, 50, 82);
  }
}

div.content {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 42, 45);
}

div.imagesection {
  text-align: center;
  padding-top: 120px;
  background-color: rgb(41, 42, 45);
}

div.imagesection img {
  height: 270px;
  width: 270px;
}

@media only screen and (max-width: 600px) {
  .sidenav:hover {
    width: 150px;
  }

  .sidenav a {
    font-size: 18px;
  }
  div.top-panel {
    height: 60px;
  }
  div.nametag h4 {
    font-size: 15px;
    margin-left: 0px;
    padding-left: 41px;
    text-align: center;
  }
  div.imagesection {
    padding-top: 100px;
    padding-left: 41px;
  }

  div.imagesection img {
    height: 230px;
    width: 230px;
  }
}

div.bottom-content {
  padding-top: 10px;
}

.content-new {
  padding-bottom: 60px;
}

.footer-social a {
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
  text-align: center;
  width: 40px;
}
.menu ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.menu ul li {
  border-bottom: 1px dashed #555;
  padding: 5px 0;
}
.menu a {
  display: block;
  padding: 5px 0;
  /* color: #999; */
}

.feedback input {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}
.feedback-form {
  padding-top: 10px;
  text-align: center;
}
.feedback-form ::placeholder {
  color: black;
}
.bottom-content p {
  font-family: Comic Sans MS, cursive, sans-serif;
}
/* input[type="text"]:valid {
  background-color: rgb(149, 233, 149);
}
input[type="text"]:invalid {
  background-color: rgb(219, 98, 98);
} */

div.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(37, 38, 39);
  height: 60px;
}

div.footer-text {
  text-align: center;
  padding-top: 20px;
}
div.footer h6,
div.footer i {
  color: #818181;
  font-size: 17px;
}

div.motto {
  padding-top: 40px;
  text-align: center;
  background-color: rgb(41, 42, 45);
}
div.motto h5 {
  color: #818181;
  padding-bottom: 20px;
}

.recentupdates h3 {
  text-align: center;
}

.recentposts {
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 100px;
}
div.recentposts .seemore {
  text-align: center;
}

.clickable:hover {
  cursor: pointer;
}

#overlay {
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.7s ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  transition: 0.7s ease-in-out;
  width: 250px;
}

.overlay-content .card-header {
  text-align: center;
  padding: 10px 20px;
}

.overlay-content .card-body {
  padding: 10px 20px;
}

.overlay-content .card-footer {
  text-align: center;
  padding: 10px 20px;
}

@media only screen and (max-width: 600px) {
  div.footer {
    height: 25px;
    z-index: 2;
  }
  .footer-text {
    margin-top: -13px;
  }
  div.footer h6,
  div.footer i {
    font-size: 8px;
  }
  div.motto h5 {
    font-size: 14px;
  }
  .motto {
    padding-left: 41px;
  }
  .recentposts {
    width: 90%;
    padding-left: 41px;
  }
  div.recentposts h3 {
    font-size: 22px;
  }
  div.recentposts h4 {
    font-size: 17px;
  }
  div.recentposts h5 {
    font-size: 15px;
  }
  div.bottom-content {
    padding-top: 20px;
  }
  .content-new {
    padding-bottom: 40px;
    text-align: center;
  }
}
