div.top-panel {
  background-color: rgb(37, 38, 39);
  width: 100%;
  height: 80px;
}

div.nametag h3 {
  padding-top: 20px;
  color: gray;
  font-size: 25px;
  cursor: pointer;
}
.n1:hover {
  opacity: 0.7;
}
.n2:hover {
  opacity: 0.7;
}

div.links {
  padding-top: 18px;
  font-size: 22px;
}

span.one {
  color: violet;
  animation: cursor 1s infinite;
}

span.two {
  color: red;
  animation: cursor1 1s infinite;
}

@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
    text-shadow: 0px 0px 15px;
  }
}

@keyframes cursor1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: red;
    text-shadow: 0px 0px 15px rgb(243, 50, 82);
  }
}
@media only screen and (max-width: 600px) {
  div.nametag h3 {
    font-size: 15px;
    text-align: center;
  }

  div.links {
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
  }
  div.links button {
    margin-top: -50px;
    font-size: 10px;
  }
  div.top-panel {
    height: 90px;
  }
}

div.links a {
  padding: 15px 12px 15px 12px;
  padding-top: 15px;
  color: #818181;
  border-radius: 5px;
  /* display: block; */
}
div.links a:hover {
  color: white;
  text-decoration: none;
}

/* footer  */

div.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(37, 38, 39);
  height: 60px;
}

div.footer-text {
  text-align: center;
  padding-top: 20px;
}
div.footer h6,
div.footer i {
  color: #818181;
  font-size: 17px;
}

div.forgot-card .card {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.passinput {
  width: 100%;
  padding: 10px;
}

.eye {
  /* margin-left: -90px; */
  float: right;
  margin-right: 15px;
}
div.links a:hover {
  background-color: tomato;
}

.repassword {
  margin-top: 20px;
}

#overlay {
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.7s ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  transition: 0.7s ease-in-out;
  width: 250px;
}

.overlay-content .card-header {
  text-align: center;
  padding: 10px 20px;
}

.overlay-content .card-body {
  padding: 10px 20px;
}

.overlay-content .card-footer {
  text-align: center;
  padding: 10px 20px;
}

@media only screen and (max-width: 600px) {
  div.footer {
    height: 25px;
  }
  .footer-text {
    margin-top: -13px;
  }
  div.footer h6,
  div.footer i {
    font-size: 8px;
  }
  div.motto h5 {
    font-size: 14px;
  }
  div.forgot-card .card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .eye {
    float: right;
    margin-right: 15px;
  }
}

div.content {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 42, 45);
}

div.forgotdata {
  padding-top: 100px;
  background-color: rgb(41, 42, 45);
  padding-bottom: 100px;
}

.submit {
  margin-right: 15px;
}

div.forgot-card .card-header {
  background-color: rgba(146, 218, 247, 0.788);
}
