<div
  class="main"
  [ngStyle]="{
    'background-color': brightness ? ' white' : 'rgb(41, 42, 45)',
    color: brightness ? 'black' : 'white'
  }"
>
  <div class="container" style="padding-bottom: 50px">
    <!-- current time -->
    <h5
      [ngStyle]="{
        color: brightness ? 'black' : 'rgb(160,160,160)'
      }"
    >
      <i class="fas fa-clock"></i> {{ todayDate | date: "dd MMM | hh:mm a" }}
    </h5>
    <hr />

    <!-- total india stats -->
    <div
      class="row totalStatsSkeleton"
      *ngIf="!covidIndiaStats"
      style="margin-bottom: 30px"
      [ngStyle]="{
        'background-color': brightness ? '#dc3545' : ' rgb(41,42,45)',
        color: brightness ? 'black' : 'rgb(160,160,160)'
      }"
    >
      <div class="col-6 col-sm-3 col-lg-2">
        <p-skeleton height="120px" width="100%"></p-skeleton>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <p-skeleton height="120px" width="100%"></p-skeleton>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <p-skeleton height="120px" width="100%"></p-skeleton>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <p-skeleton height="120px" width="100%"></p-skeleton>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <p-skeleton height="120px" width="100%"></p-skeleton>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <p-skeleton height="120px" width="100%"></p-skeleton>
      </div>
    </div>

    <div class="totalStatsArea" *ngIf="covidIndiaStats">
      <div class="row">
        <div class="col-6 col-sm-3 col-lg-2 confirmed">
          <div class="card">
            <div class="card-body">
              <h5>New Cases</h5>
              {{ covidIndiaStats.NewCases | number }}
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-lg-2 recovered">
          <div class="card">
            <div class="card-body">
              <h5>New Recovered</h5>
              {{ covidIndiaStats.NewRecovered | number }}
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-lg-2 deaths">
          <div class="card">
            <div class="card-body">
              <h5>New Deaths</h5>
              {{ covidIndiaStats.NewDeaths | number }}
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-lg-2 totalConfirmed">
          <div class="card">
            <div class="card-body">
              <h5>Total Cases</h5>
              {{ covidIndiaStats.TotalCases | number }}
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-lg-2 totalRecovered">
          <div class="card">
            <div class="card-body">
              <h5>Total Recovered</h5>
              {{ covidIndiaStats.TotalRecovered | number }}
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-lg-2 totalDeaths">
          <div class="card">
            <div class="card-body">
              <h5>Total Deaths</h5>
              {{ covidIndiaStats.TotalDeaths | number }}
            </div>
          </div>
        </div>

        <div class="moreStats">
          <div class="card totalActive">
            <div class="card-body">
              <h5>Total Active</h5>
              {{ covidIndiaStats.ActiveCases | number }}
            </div>
          </div>
          <div class="card totalTests">
            <div class="card-body">
              <h5>Total Tests</h5>
              {{ covidIndiaStats.TotalTests | number }}
            </div>
          </div>
          <div class="card">
            <div class="card-body critical">
              <h5>Critical Cases</h5>
              {{ covidIndiaStats.Serious_Critical | number }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- news  -->
    <div class="news">
      <p-tabView [activeIndex]="activeIndex" (onChange)="navToTab($event)">
        <!-- covid news -->

        <p-tabPanel header="Covid News">
          <div
            class="skeleton"
            [ngStyle]="{
              'background-color': brightness ? '#dc3545' : ' rgb(41,42,45)',
              color: brightness ? 'black' : 'rgb(160,160,160)'
            }"
            *ngIf="!covidNews"
          >
            <p-skeleton height="300px" width="100%"></p-skeleton>
            <br />
            <p-skeleton height="30px" width="100%"></p-skeleton>
          </div>
          <div class="covidNews" *ngIf="covidNews">
            <div
              class="card"
              [ngStyle]="{
                'background-color': brightness ? ' white' : 'rgb(31,33,35)',
                color: brightness ? 'black' : 'white'
              }"
              *ngFor="let data of covidNews; let i = index"
            >
              <div class="card-header">
                <a target="_blank" href="{{ data.link }}">
                  <h4>{{ data.title }}</h4></a
                >
              </div>
              <div class="card-body">
                <div class="newsImg">
                  <img src="{{ data.urlToImage }}" alt="" />
                </div>
                <div class="newsContent">
                  <p>
                    {{ data.content | slice: 0:200 }}...
                    <span>
                      <a target="_blank" href="{{ data.link }}">
                        read more
                      </a></span
                    >
                  </p>
                </div>
              </div>
              <div class="card-footer">
                <h6>{{ data.pubDate | date: "dd MMM YYYY | hh:mm a" }}</h6>
              </div>
            </div>

            <div class="pagination">
              <button
                *ngIf="covidPageNo > 1"
                class="btn btn-primary"
                (click)="pageNoChange('covid', 1)"
              >
                1
              </button>
              <span
                (click)="pageNoChange('covid', covidPageNo - 1)"
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                [ngClass]="{ disabled: covidPageNo == 1 }"
                ><i class="fas fa-chevron-left"></i
              ></span>
              <button
                class="btn btn-primary"
                (click)="pageNoChange('covid', covidPageNo)"
                [ngClass]="{ disabled: currentPgNo == covidPageNo }"
              >
                {{ covidPageNo }}
              </button>
              <button
                class="btn btn-primary"
                (click)="pageNoChange('covid', covidPageNo + 1)"
              >
                {{ covidPageNo + 1 }}
              </button>
              <button
                class="btn btn-primary"
                (click)="pageNoChange('covid', covidPageNo + 2)"
              >
                {{ covidPageNo + 2 }}
              </button>
              <button
                class="btn btn-primary"
                (click)="pageNoChange('covid', covidPageNo + 3)"
              >
                {{ covidPageNo + 3 }}
              </button>
              <span
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                >...</span
              >
              <button
                class="btn btn-primary"
                (click)="pageNoChange('covid', covidPageNo + 20)"
              >
                {{ covidPageNo + 20 }}
              </button>
              <span
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                (click)="pageNoChange('covid', covidPageNo + 1)"
                ><i class="fas fa-chevron-right"></i
              ></span>
            </div>
          </div>
        </p-tabPanel>

        <!-- health news -->
        <p-tabPanel header="Health News">
          <div
            class="skeleton"
            [ngStyle]="{
              'background-color': brightness ? '#dc3545' : ' rgb(41,42,45)',
              color: brightness ? 'black' : 'rgb(160,160,160)'
            }"
            *ngIf="!healthNews"
          >
            <p-skeleton height="300px" width="100%"></p-skeleton>
            <br />
            <p-skeleton height="30px" width="100%"></p-skeleton>
          </div>
          <div class="healthNews" *ngIf="healthNews">
            <div
              class="card"
              [ngStyle]="{
                'background-color': brightness ? ' white' : 'rgb(31,33,35)',
                color: brightness ? 'black' : 'white'
              }"
              *ngFor="let data of healthNews; let i = index"
            >
              <div class="card-header">
                <a target="_blank" href="{{ data.link }}">
                  <h4>{{ data.title }}</h4></a
                >
              </div>
              <div class="card-body">
                <div class="newsImg">
                  <img src="{{ data.urlToImage }}" alt="" />
                </div>
                <div class="newsContent">
                  <p>
                    {{ data.content | slice: 0:200 }}...
                    <span>
                      <a target="_blank" href="{{ data.link }}">
                        read more
                      </a></span
                    >
                  </p>
                </div>
              </div>
              <div class="card-footer">
                <h6>{{ data.pubDate | date: "dd MMM YYYY | hh:mm a" }}</h6>
              </div>
            </div>

            <div class="pagination">
              <button
                *ngIf="healthPageNo > 1"
                class="btn btn-primary"
                (click)="pageNoChange('health', 1)"
              >
                1
              </button>
              <span
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                (click)="pageNoChange('health', healthPageNo - 1)"
                [ngClass]="{ disabled: healthPageNo == 1 }"
                ><i class="fas fa-chevron-left"></i
              ></span>
              <button
                class="btn btn-primary"
                (click)="pageNoChange('health', healthPageNo)"
                [ngClass]="{ disabled: currentPgNo == healthPageNo }"
              >
                {{ healthPageNo }}
              </button>
              <button
                class="btn btn-primary"
                (click)="pageNoChange('health', healthPageNo + 1)"
              >
                {{ healthPageNo + 1 }}
              </button>
              <button
                class="btn btn-primary"
                (click)="pageNoChange('health', healthPageNo + 2)"
              >
                {{ healthPageNo + 2 }}
              </button>
              <button
                class="btn btn-primary"
                (click)="pageNoChange('health', healthPageNo + 3)"
              >
                {{ healthPageNo + 3 }}
              </button>
              <span
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                >...</span
              >
              <button
                class="btn btn-primary"
                (click)="pageNoChange('health', healthPageNo + 20)"
              >
                {{ healthPageNo + 20 }}
              </button>
              <span
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                (click)="pageNoChange('health', healthPageNo + 1)"
                ><i class="fas fa-chevron-right"></i
              ></span>
            </div>
          </div>
        </p-tabPanel>

        <!-- vaccine news -->
        <p-tabPanel header="Vaccine News">
          <div
            class="skeleton"
            [ngStyle]="{
              'background-color': brightness ? '#dc3545' : ' rgb(41,42,45)',
              color: brightness ? 'black' : 'rgb(160,160,160)'
            }"
            *ngIf="!vaccineNews"
          >
            <p-skeleton height="300px" width="100%"></p-skeleton>
            <br />
            <p-skeleton height="30px" width="100%"></p-skeleton>
          </div>
          <div class="vaccineNews" *ngIf="vaccineNews">
            <div
              class="card"
              [ngStyle]="{
                'background-color': brightness ? ' white' : 'rgb(31,33,35)',
                color: brightness ? 'black' : 'white'
              }"
              *ngFor="let data of vaccineNews; let i = index"
            >
              <div class="card-header">
                <a target="_blank" href="{{ data.link }}">
                  <h4>{{ data.title }}</h4></a
                >
              </div>
              <div class="card-body">
                <div class="newsImg">
                  <img src="{{ data.urlToImage }}" alt="" />
                </div>
                <div class="newsContent">
                  <p>
                    {{ data.content | slice: 0:200 }}...
                    <span>
                      <a target="_blank" href="{{ data.link }}">
                        read more
                      </a></span
                    >
                  </p>
                </div>
              </div>
              <div class="card-footer">
                <h6>{{ data.pubDate | date: "dd MMM YYYY | hh:mm a" }}</h6>
              </div>
            </div>

            <!-- pagination -->
            <div class="pagination">
              <button
                *ngIf="vaccinePageNo > 1"
                class="btn btn-primary"
                (click)="pageNoChange('vaccine', 1)"
              >
                1
              </button>
              <span
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                (click)="pageNoChange('vaccine', vaccinePageNo - 1)"
                [ngClass]="{ disabled: vaccinePageNo == 1 }"
                ><i class="fas fa-chevron-left"></i
              ></span>
              <button
                class="btn btn-primary"
                (click)="pageNoChange('vaccine', vaccinePageNo)"
                [ngClass]="{ disabled: currentPgNo == vaccinePageNo }"
              >
                {{ vaccinePageNo }}
              </button>
              <button
                class="btn btn-primary"
                (click)="pageNoChange('vaccine', vaccinePageNo + 1)"
              >
                {{ vaccinePageNo + 1 }}
              </button>
              <button
                class="btn btn-primary"
                (click)="pageNoChange('vaccine', vaccinePageNo + 2)"
              >
                {{ vaccinePageNo + 2 }}
              </button>
              <button
                class="btn btn-primary"
                (click)="pageNoChange('vaccine', vaccinePageNo + 3)"
              >
                {{ vaccinePageNo + 3 }}
              </button>
              <span
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                >...</span
              >
              <button
                class="btn btn-primary"
                (click)="pageNoChange('vaccine', vaccinePageNo + 20)"
              >
                {{ vaccinePageNo + 20 }}
              </button>
              <span
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                (click)="pageNoChange('vaccine', vaccinePageNo + 1)"
                ><i class="fas fa-chevron-right"></i
              ></span>
            </div></div
        ></p-tabPanel>
      </p-tabView>

      <!-- credits -->
      <div class="credits">
        <div class="alert alert-info">
          <h4>
            <i class="fas fa-check-circle"></i> API credits,
            <a target="_blank" href="https://vaccovid.live">Vaccovid.live</a>
            <br />
            <br />
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
