<div
  class="main"
  [ngStyle]="{
    'background-color': brightness ? 'rgb(200,200,200)' : 'rgb(41, 42, 45)',
    color: brightness ? 'black' : 'white'
  }"
>
  <div class="container" style="padding-bottom: 50px">
    <!-- current time -->

    <div class="covid_news_title">
      <mat-card
        appearance="raised"
        appearance="raised"
        [ngStyle]="{
          'background-color': brightness ? 'rgb(235,235,235)' : 'rgb(31,33,35)',
          color: brightness ? 'black' : 'white'
        }"
      >
        <h2>
          <span
            class="material-icons"
            style="font-size: 30px; position: relative; top: 4px"
          >
            article
          </span>
          Covid-19 Latest News & Statistics |
          <span class="material-icons"> api </span> API by
          <a target="_blank" href="https://vaccovid.live">Vaccovid.live</a>
        </h2>
      </mat-card>
    </div>

    <h5
      [ngStyle]="{
        color: brightness ? 'black' : 'rgb(160,160,160)'
      }"
    >
      <i class="fas fa-clock"></i> {{ todayDate | date : "dd MMM | hh:mm a" }}
    </h5>
    <hr />

    <!-- total india stats -->
    <div
      class="row totalStatsSkeleton"
      *ngIf="!covidIndiaStats"
      style="margin-bottom: 30px"
      [ngStyle]="{
        'background-color': brightness ? '#E84858' : ' rgb(41,42,45)',
        color: brightness ? 'black' : 'rgb(160,160,160)'
      }"
    >
      <div class="col-6 col-sm-3 col-lg-2">
        <p-skeleton height="120px" width="100%"></p-skeleton>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <p-skeleton height="120px" width="100%"></p-skeleton>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <p-skeleton height="120px" width="100%"></p-skeleton>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <p-skeleton height="120px" width="100%"></p-skeleton>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <p-skeleton height="120px" width="100%"></p-skeleton>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <p-skeleton height="120px" width="100%"></p-skeleton>
      </div>
    </div>

    <div class="totalStatsArea" *ngIf="covidIndiaStats">
      <div class="row">
        <div class="col-6 col-sm-3 col-lg-2 confirmed">
          <mat-card appearance="raised">
            <mat-card-content>
              <h5>New Cases</h5>
              {{ covidIndiaStats.NewCases | number }}
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-6 col-sm-3 col-lg-2 recovered">
          <mat-card appearance="raised">
            <mat-card-content>
              <h5>New Recovered</h5>
              {{ covidIndiaStats.NewRecovered | number }}
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-6 col-sm-3 col-lg-2 deaths">
          <mat-card appearance="raised">
            <mat-card-content>
              <h5>New Deaths</h5>
              {{ covidIndiaStats.NewDeaths | number }}
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-6 col-sm-3 col-lg-2 totalConfirmed">
          <mat-card appearance="raised">
            <mat-card-content>
              <h5>Total Cases</h5>
              {{ covidIndiaStats.TotalCases | number }}
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-6 col-sm-3 col-lg-2 totalRecovered">
          <mat-card appearance="raised">
            <mat-card-content>
              <h5>Total Recovered</h5>
              {{ covidIndiaStats.TotalRecovered | number }}
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-6 col-sm-3 col-lg-2 totalDeaths">
          <mat-card appearance="raised">
            <mat-card-content>
              <h5>Total Deaths</h5>
              {{ covidIndiaStats.TotalDeaths | number }}
            </mat-card-content>
          </mat-card>
        </div>

        <div class="moreStats">
          <mat-card appearance="raised" class="totalActive">
            <mat-card-content>
              <h5>Total Active</h5>
              {{ covidIndiaStats.ActiveCases | number }}
            </mat-card-content>
          </mat-card>
          <mat-card appearance="raised" class="totalTests">
            <mat-card-content>
              <h5>Total Tests</h5>
              {{ covidIndiaStats.TotalTests | number }}
            </mat-card-content>
          </mat-card>
          <mat-card appearance="raised">
            <mat-card-content class="critical">
              <h5>Critical Cases</h5>
              {{ covidIndiaStats.Serious_Critical | number }}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <!-- news  -->
    <div class="news">
      <mat-tab-group
        [ngClass]="brightness ? 'inputTextColorD' : 'inputTextColorL'"
        [selectedIndex]="activeIndex"
        (selectedTabChange)="navToTab($event)"
      >
        <mat-tab>
          <ng-template mat-tab-label
            ><p [ngStyle]="{ color: brightness ? 'black' : 'white' }">
              Covid News
            </p></ng-template
          >
          <!-- covid news -->
          <div
            class="skeleton"
            [ngStyle]="{
              'background-color': brightness ? '#E84858' : ' rgb(41,42,45)',
              color: brightness ? 'black' : 'rgb(160,160,160)'
            }"
            *ngIf="!covidNews"
          >
            <p-skeleton height="300px" width="100%"></p-skeleton>
            <br />
            <p-skeleton height="30px" width="100%"></p-skeleton>
          </div>
          <div class="covidNews" *ngIf="covidNews">
            <mat-card
              appearance="raised"
              appearance="raised"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(235,235,235)'
                  : 'rgb(31,33,35)',
                color: brightness ? 'black' : 'white'
              }"
              *ngFor="let data of covidNews; let i = index"
            >
              <mat-card-title>
                <a target="_blank" href="{{ data.link }}">
                  <h4>{{ data.title }}</h4></a
                >
                <span class="material-icons" (click)="copyShareLink(data.link)">
                  content_copy
                </span>
              </mat-card-title>
              <mat-card-content>
                <div class="newsImg">
                  <img src="{{ data.urlToImage }}" alt="" />
                </div>
                <div class="newsContent">
                  <p>
                    {{ data.content | slice : 0 : 200 }}...
                    <span>
                      <a target="_blank" href="{{ data.link }}">
                        read more
                      </a></span
                    >
                  </p>
                </div>
              </mat-card-content>
              <mat-card-footer>
                <h6>{{ data.pubDate | date : "dd MMM YYYY | hh:mm a" }}</h6>
              </mat-card-footer>
            </mat-card>

            <div class="pagination">
              <button
                mat-raised-button
                *ngIf="covidPageNo > 1"
                class="btn-primary"
                (click)="pageNoChange('covid', 1)"
              >
                1
              </button>
              <span
                (click)="pageNoChange('covid', covidPageNo - 1)"
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                [ngClass]="{ disabled: covidPageNo == 1 }"
                ><i class="fas fa-chevron-left"></i
              ></span>
              <div
                class="pages"
                *ngFor="
                  let pg of [].constructor(10) | slice : 0 : 5;
                  let i = index
                "
              >
                <button
                  mat-raised-button
                  class="btn-warning"
                  [disabled]="covidPageNo == covidPageNo + i"
                  (click)="pageNoChange('covid', covidPageNo + i)"
                >
                  {{ covidPageNo + i }}
                </button>
              </div>
              <span
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                (click)="pageNoChange('covid', covidPageNo + 1)"
                ><i class="fas fa-chevron-right"></i
              ></span>
            </div>
          </div>
        </mat-tab>

        <!-- health news -->
        <mat-tab>
          <ng-template mat-tab-label
            ><p [ngStyle]="{ color: brightness ? 'black' : 'white' }">
              Health News
            </p></ng-template
          >
          <div
            class="skeleton"
            [ngStyle]="{
              'background-color': brightness ? '#E84858' : ' rgb(41,42,45)',
              color: brightness ? 'black' : 'rgb(160,160,160)'
            }"
            *ngIf="!healthNews"
          >
            <p-skeleton height="300px" width="100%"></p-skeleton>
            <br />
            <p-skeleton height="30px" width="100%"></p-skeleton>
          </div>
          <div class="healthNews" *ngIf="healthNews">
            <mat-card
              appearance="raised"
              appearance="raised"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(235,235,235)'
                  : 'rgb(31,33,35)',
                color: brightness ? 'black' : 'white'
              }"
              *ngFor="let data of healthNews; let i = index"
            >
              <mat-card-title>
                <a target="_blank" href="{{ data.link }}">
                  <h4>{{ data.title }}</h4></a
                >
                <span class="material-icons" (click)="copyShareLink(data.link)">
                  content_copy
                </span>
              </mat-card-title>
              <mat-card-content>
                <div class="newsImg">
                  <img src="{{ data.urlToImage }}" alt="" />
                </div>
                <div class="newsContent">
                  <p>
                    {{ data.content | slice : 0 : 200 }}...
                    <span>
                      <a target="_blank" href="{{ data.link }}">
                        read more
                      </a></span
                    >
                  </p>
                </div>
              </mat-card-content>
              <mat-card-footer>
                <h6>{{ data.pubDate | date : "dd MMM YYYY | hh:mm a" }}</h6>
              </mat-card-footer>
            </mat-card>

            <div class="pagination">
              <button
                mat-raised-button
                *ngIf="healthPageNo > 1"
                class="btn-primary"
                (click)="pageNoChange('health', 1)"
              >
                1
              </button>
              <span
                (click)="pageNoChange('health', healthPageNo - 1)"
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                [ngClass]="{ disabled: healthPageNo == 1 }"
                ><i class="fas fa-chevron-left"></i
              ></span>
              <div
                class="pages"
                *ngFor="
                  let pg of [].constructor(10) | slice : 0 : 5;
                  let i = index
                "
              >
                <button
                  mat-raised-button
                  class="btn-warning"
                  [disabled]="healthPageNo == healthPageNo + i"
                  (click)="pageNoChange('health', healthPageNo + i)"
                >
                  {{ healthPageNo + i }}
                </button>
              </div>
              <span
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                (click)="pageNoChange('health', healthPageNo + 1)"
                ><i class="fas fa-chevron-right"></i
              ></span>
            </div>
          </div>
        </mat-tab>

        <!-- vaccine news -->
        <mat-tab>
          <ng-template mat-tab-label
            ><p [ngStyle]="{ color: brightness ? 'black' : 'white' }">
              Vaccine News
            </p></ng-template
          >
          <div
            class="skeleton"
            [ngStyle]="{
              'background-color': brightness ? '#E84858' : ' rgb(41,42,45)',
              color: brightness ? 'black' : 'rgb(160,160,160)'
            }"
            *ngIf="!vaccineNews"
          >
            <p-skeleton height="300px" width="100%"></p-skeleton>
            <br />
            <p-skeleton height="30px" width="100%"></p-skeleton>
          </div>
          <div class="vaccineNews" *ngIf="vaccineNews">
            <mat-card
              appearance="raised"
              appearance="raised"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(235,235,235)'
                  : 'rgb(31,33,35)',
                color: brightness ? 'black' : 'white'
              }"
              *ngFor="let data of vaccineNews; let i = index"
            >
              <mat-card-title>
                <a target="_blank" href="{{ data.link }}">
                  <h4>{{ data.title }}</h4></a
                >
                <span class="material-icons" (click)="copyShareLink(data.link)">
                  content_copy
                </span>
              </mat-card-title>
              <div>
                <div class="newsImg">
                  <img src="{{ data.urlToImage }}" alt="" />
                </div>
                <div class="newsContent">
                  <p>
                    {{ data.content | slice : 0 : 200 }}...
                    <span>
                      <a target="_blank" href="{{ data.link }}">
                        read more
                      </a></span
                    >
                  </p>
                </div>
              </div>
              <div>
                <h6>{{ data.pubDate | date : "dd MMM YYYY | hh:mm a" }}</h6>
              </div>
            </mat-card>

            <!-- pagination -->
            <div class="pagination">
              <button
                mat-raised-button
                *ngIf="vaccinePageNo > 1"
                class="btn-primary"
                (click)="pageNoChange('vaccine', 1)"
              >
                1
              </button>
              <span
                (click)="pageNoChange('vaccine', vaccinePageNo - 1)"
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                [ngClass]="{ disabled: vaccinePageNo == 1 }"
                ><i class="fas fa-chevron-left"></i
              ></span>
              <div
                class="pages"
                *ngFor="
                  let pg of [].constructor(10) | slice : 0 : 5;
                  let i = index
                "
              >
                <button
                  mat-raised-button
                  class="btn-warning"
                  [disabled]="vaccinePageNo == vaccinePageNo + i"
                  (click)="pageNoChange('vaccine', vaccinePageNo + i)"
                >
                  {{ vaccinePageNo + i }}
                </button>
              </div>
              <span
                [ngStyle]="{
                  color: brightness ? 'black' : 'white'
                }"
                (click)="pageNoChange('vaccine', vaccinePageNo + 1)"
                ><i class="fas fa-chevron-right"></i
              ></span>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

      <!-- credits -->
      <div class="credits">
        <div class="alert alert-info">
          <h4>
            <i class="fas fa-check-circle"></i> API credits,
            <a target="_blank" href="https://vaccovid.live">Vaccovid.live</a>
            <br />
            <br />
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
