.main {
  padding-top: 100px;
  min-height: 100vh;
  height: auto;
}

.covidNews .card,
.vaccineNews .card,
.healthNews .card {
  margin: 15px auto;
}

.covid_news_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.covid_news_title .card {
  padding: 20px;
  border-radius: 10px;
}

.covidNews .card-header,
.vaccineNews .card-header,
.healthNews .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.covidNews .card-header .material-icons,
.vaccineNews .card-header .material-icons,
.healthNews .card-header .material-icons {
  cursor: pointer;
  padding: 0 10px;
}

.newsImg {
  text-align: center;
}

.newsImg img {
  height: auto;
  width: auto;
  max-width: 100%;
  margin: 10px auto;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.pagination button {
  margin: auto 10px;
}

.pagination span {
  margin: auto 10px;
}

.credits {
  margin: 20px auto;
}

.fa-chevron-left,
.fa-chevron-right {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: rgb(136, 136, 136) !important;
}
::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: rgba(49, 223, 107, 0.04);
  border-color: transparent;
  color: rgb(49, 223, 107) !important;
}

::ng-deep .p-tabview .p-tabview-nav .p-tabview-ink-bar {
  background-color: rgb(49, 223, 107) !important;
}

::ng-deep
  .p-tabview
  .p-tabview-nav
  li:not(.p-highlight):not(.p-disabled):hover
  .p-tabview-nav-link {
  background: rgba(49, 223, 107, 0.04);
  border-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.confirmed,
.deaths,
.recovered,
.totalConfirmed,
.totalRecovered,
.totalDeaths {
  text-align: center;
}

.confirmed .card {
  background-color: rgba(255, 68, 0, 0.527);
  color: orangered;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
}

.recovered .card {
  background-color: rgba(94, 219, 136, 0.326);
  color: rgb(94, 219, 136);
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
}
.deaths .card {
  background-color: rgba(50, 52, 51, 0.326);
  color: rgb(255, 255, 255);
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
}
.totalConfirmed .card {
  background-color: rgba(73, 136, 252, 0.326);
  color: rgb(73, 136, 252);
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
}
.totalRecovered .card {
  background-color: rgba(94, 219, 136, 0.326);
  color: rgb(94, 219, 136);
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
}
.totalDeaths .card {
  background-color: rgba(50, 52, 51, 0.326);
  color: rgb(255, 255, 255);
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
}

.moreStats {
  display: flex;
  justify-content: center;
  width: 100%;
}

.moreStats .card {
  margin: 10px 10px;
  height: 120px;
  width: 158px;
  margin-bottom: 30px;
  text-align: center;
}

.totalActive {
  background-color: rgba(66, 130, 204, 0.322);
  color: rgb(66, 130, 204);
}

.totalTests {
  background-color: rgba(204, 195, 66, 0.363);
  color: rgb(204, 195, 66);
}

.critical {
  background-color: rgba(160, 48, 28, 0.308);
  color: rgb(206, 63, 38);
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .pagination {
    flex-wrap: wrap;
  }
  .pagination button {
    margin: 10px 10px;
  }

  .totalStatsSkeleton .col-6 {
    margin: 20px auto;
  }

  .moreStats .card {
    height: 130px;
    width: 158px;
    margin-bottom: 30px;
    text-align: center;
  }
}
