.main {
  padding-top: 100px;
  min-height: 100vh;
  height: auto;
}

.covidNews .card,
.vaccineNews .card,
.healthNews .card {
  margin: 15px auto;
}

.newsImg {
  text-align: center;
}

.newsImg img {
  height: auto;
  width: auto;
  max-width: 100%;
  margin: 10px auto;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.pagination button {
  margin: auto 10px;
}

.pagination span {
  margin: auto 10px;
}

.credits {
  margin: 20px auto;
}

.fa-chevron-left,
.fa-chevron-right {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: rgb(136, 136, 136) !important;
}
::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: rgba(49, 223, 107, 0.04);
  border-color: transparent;
  color: rgb(49, 223, 107) !important;
}

::ng-deep .p-tabview .p-tabview-nav .p-tabview-ink-bar {
  background-color: rgb(49, 223, 107) !important;
}

::ng-deep
  .p-tabview
  .p-tabview-nav
  li:not(.p-highlight):not(.p-disabled):hover
  .p-tabview-nav-link {
  background: rgba(49, 223, 107, 0.04);
  border-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 600px) {
  .pagination {
    flex-wrap: wrap;
  }
  .pagination button {
    margin: 10px 10px;
  }
}
