.material {
  @import "~ng-snotify/styles/material";
}
.inputTextColorD {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black !important;
  }

  .mat-focused .mat-form-field-label {
    color: black !important;
  }

  .mat-form-field-label,
  .mat-input-element {
    color: black !important;
  }

  ::-webkit-input-placeholder {
    /* Edge */
    color: black !important;
  }

  :-ms-input-placeholder {
    /* Internet Explorer */
    color: black !important;
  }

  ::placeholder {
    color: black !important;
  }
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: violet !important;
  }

  .mat-select-value-text {
    color: black !important;
  }
  .mat-select-arrow {
    color: black !important;
  }

  .mat-primary .mat-option .mat-selected:not(.mat-option-disabled) {
    color: black !important;
  }
}

.inputTextColorL {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
  }

  .mat-focused .mat-form-field-label {
    color: white !important;
  }

  .mat-form-field-label,
  .mat-input-element {
    color: white !important;
  }

  ::-webkit-input-placeholder {
    /* Edge */
    color: white !important;
  }

  :-ms-input-placeholder {
    /* Internet Explorer */
    color: white !important;
  }

  ::placeholder {
    color: white !important;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: orangered !important;
  }

  .mat-select-value-text {
    color: white !important;
  }

  .mat-select-arrow {
    color: white !important;
  }

  .mat-primary .mat-option .mat-selected:not(.mat-option-disabled) {
    color: white !important;
  }
}

.no-pad {
  .mat-form-field-wrapper {
    padding: 0 !important;
    margin: 0 !important;
  }
}
