<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <button (click)="topFunction()" id="myBtn" title="Go to top">
      <i class="fas fa-angle-up" aria-hidden="true"></i>
    </button>
    <!-- <a class="togglemode" (click)="mode()"><i class="fas fa-adjust"></i></a> -->
    <div
      class="top-panel"
      id="top-panel"
      [ngStyle]="{
        'background-color': brightness
          ? 'rgb(223, 223, 223)'
          : ' rgb(41, 42, 45)'
      }"
    >
      <div class="container myname">
        <div class="row">
          <div class="col-sm-6 nametag">
            <h3
              class="n1"
              id="top-panel-nametag"
              *ngIf="!brightness"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              > krishnakantsalkar@prototype:~<span class="one">$</span>
            </h3>
            <h3
              class="n2"
              id="top-panel-nametag"
              *ngIf="brightness"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(129,129,129)' }"
            >
              > krishnakantsalkar@prototype:~<span class="two">$</span>
            </h3>
          </div>
          <div class="col-sm-6 links" id="links">
            <a
              routerLink="/Home"
              [ngClass]="{ aLight: brightness, aDark: !brightness }"
            >
              Home</a
            >

            <a
              routerLink="/About"
              [ngClass]="{ aLight: brightness, aDark: !brightness }"
              >About</a
            >
            <a
              routerLink="/Support"
              [ngClass]="{ aLight: brightness, aDark: !brightness }"
              >Support</a
            >
          </div>
        </div>
      </div>
      <div></div>
    </div>
    <div
      class="content"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    ></div>

    <div
      class="main"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    >
      <div class="container">
        <!-- add a loading... animation -->

        <div class="loading" *ngIf="!data">
          <h4 *ngIf="!brightness" class="loadinganimDark">Loading...</h4>
          <h4 *ngIf="brightness" class="loadinganimLight">Loading...</h4>
        </div>

        <!-- switch to edit post -->
        <button
          *ngIf="checkUser"
          class="btn btn-info"
          style="margin-bottom: 10px"
          (click)="switchToEdit()"
        >
          Edit
        </button>

        <!-- delete post button -->
        <button
          *ngIf="checkUser"
          class="btn btn-danger"
          style="margin-bottom: 10px; margin-left: 10px"
          (click)="deletePostById()"
        >
          Delete
        </button>

        <a
          class="shareenv"
          *ngIf="blogURL"
          data-aos="fade-up"
          data-aos-delay="300"
          data-aos-duration="1000"
          href="mailto:someone@example.com?subject=Heyy!%20Check%20out%20this%20Post%20!!&amp;body=%20{{
            blogURL
          }}"
          ><img
            class="shareenvImg1"
            src="https://img.icons8.com/fluent/48/000000/gmail.png"
            height="50"
            width="55"
          />
          <img
            class="shareenvImg2"
            src="https://img.icons8.com/fluent/48/000000/gmail.png"
            height="44"
            width="40"
          />
        </a>

        <a
          class="share"
          *ngIf="blogURL"
          data-aos="fade-up"
          data-aos-delay="300"
          data-aos-duration="1000"
          href="https://www.facebook.com/sharer/sharer.php?u={{ blogURL }}"
          target="_blank"
          ><i class="fab fa-facebook-square fb"></i
        ></a>

        <a
          class="share"
          *ngIf="blogURL"
          data-aos="fade-up"
          data-aos-delay="300"
          data-aos-duration="1000"
          href="https://telegram.me/share/url?url={{ blogURL }}"
          target="_blank"
          ><i class="fab fa-telegram tg"></i
        ></a>
        <br />
        <br />

        <!-- blog post -->
        <div
          class="container"
          data-aos="fade-up"
          data-aos-delay="300"
          data-aos-duration="1000"
          *ngIf="!switchtoedit"
        >
          <div class="header">
            <div class="blogimg" *ngIf="data">
              <img *ngIf="data.postImage" [src]="data.postImage" />
            </div>
            <a
              class="float-right btn btn-warning"
              *ngIf="data"
              routerLink="/Blog/page/1"
            >
              <i class="fas fa-arrow-circle-left"></i> Blog
            </a>

            <!-- post edited or not -->

            <h2
              *ngIf="data"
              [ngStyle]="{ color: brightness ? 'black' : 'rgb(160,160,160)' }"
            >
              {{ data.postTitle }}
            </h2>
            <h6 *ngIf="data">
              <span *ngIf="data.edited == true"
                ><i class="fas fa-pencil-alt"></i> edited.</span
              >
            </h6>
          </div>
          <hr
            [ngStyle]="{
              'background-color': brightness ? 'black' : 'rgb(160,160,160)'
            }"
            *ngIf="data"
          />
          <div class="body">
            <div *ngIf="data">
              <div
                class="card"
                [ngStyle]="{
                  'background-color': brightness
                    ? 'rgb(223, 223, 223)'
                    : ' rgb(32, 33, 33)'
                }"
              >
                <div class="card-body">
                  <!-- blogpost -->

                  <pre
                    [ngStyle]="{
                      color: brightness ? 'black' : 'rgb(160,160,160)'
                    }"
                    >{{ data.post }}</pre
                  >
                  <br />

                  <!-- post link buttons -->
                  <div class="linkbtns" *ngIf="url || url2 || url3 || url4">
                    <br />
                    <h6>Reference Links:</h6>
                    <a
                      *ngIf="url"
                      class="float-left btn btn-dark"
                      [href]="getLink(url)"
                      target="_blank"
                    >
                      Link &nbsp; : {{ url }}
                    </a>
                    <a
                      *ngIf="url2"
                      class="url2 float-left btn btn-dark"
                      [href]="getLink(url2)"
                      target="_blank"
                    >
                      Link &nbsp; : {{ url2 }}
                    </a>
                    <a
                      *ngIf="url3"
                      class="url3 float-left btn btn-dark"
                      [href]="getLink(url3)"
                      target="_blank"
                    >
                      Link &nbsp; : {{ url3 }}
                    </a>
                    <a
                      *ngIf="url4"
                      class="url4 float-left btn btn-dark"
                      [href]="getLink(url4)"
                      target="_blank"
                    >
                      Link &nbsp; : {{ url4 }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3
            *ngIf="checkUser"
            [ngStyle]="{ color: brightness ? 'black' : 'rgb(160,160,160)' }"
          >
            Admin: {{ adminName }} 😎
          </h3>
        </div>
      </div>

      <!-- edit post menu -->
      <div class="container">
        <div class="editpostmenu" *ngIf="switchtoedit">
          <div class="container">
            <div class="header">
              <h3
                [ngStyle]="{ color: brightness ? 'black' : 'rgb(160,160,160)' }"
              >
                <i class="fas fa-edit"></i> Edit post
              </h3>
            </div>
            <article class="card-body">
              <form
                [formGroup]="newEdit"
                (ngSubmit)="editPostById(newEdit.value)"
              >
                <div class="form-group">
                  <h6
                    [ngStyle]="{
                      color: brightness ? 'black' : 'rgb(160,160,160)'
                    }"
                  >
                    Title: {{ data.postTitle }}
                  </h6>
                  <div class="form-row">
                    <label>Post Title</label>

                    <input
                      type="text"
                      class="form-control"
                      placeholder="Title"
                      formControlName="postTitle"
                    />
                    <p
                      [ngStyle]="{
                        color: brightness ? 'black' : 'rgb(160,160,160)'
                      }"
                    >
                      {{ data.postTitle.value }}
                    </p>
                  </div>
                  <br />
                  <pre
                    [ngStyle]="{
                      color: brightness ? 'black' : 'rgb(160,160,160)'
                    }"
                  >
Post: {{ data.post }}</pre
                  >
                  <div class="form-row">
                    <label>Post Content</label>
                    <textarea
                      type="text"
                      class="form-control"
                      placeholder="Content"
                      formControlName="post"
                    ></textarea>
                  </div>
                  <br />
                  <h6
                    [ngStyle]="{
                      color: brightness ? 'black' : 'rgb(160,160,160)'
                    }"
                  >
                    current: {{ data.postLink }}
                  </h6>
                  <div class="form-row">
                    <label>Post Link</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Link"
                      formControlName="postLink"
                    />
                  </div>
                </div>
                <button
                  type="reset"
                  class="btn btn-primary cancel"
                  style="margin-right: 10px"
                  (click)="switchToEdit()"
                >
                  Cancel
                </button>
                <button type="submit" class="btn btn-success">Submit</button>
              </form>
            </article>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer area -->
    <app-footer *ngIf="data"></app-footer>
  </body>
</html>
