.loadinganimDark {
  color: violet;
  animation: cursor 1s infinite;
}
.loadinganimLight {
  color: red;
  animation: cursor1 1s infinite;
}

@keyframes cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: violet;
    text-shadow: 0px 0px 15px;
  }
}

@keyframes cursor1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: red;
    text-shadow: 0px 0px 15px rgb(243, 50, 82);
  }
}

.togglemode {
  color: #818181;
  padding-top: 20px;
  font-size: 25px;
  position: fixed;
  right: 20px;
  z-index: 1;
  top: 4px;
}

div.content {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 42, 45);
}

.togglemode:hover {
  color: white;
}

div.links a:hover {
  background-color: tomato;
}

@media only screen and (max-width: 600px) {
  div.motto h5 {
    font-size: 14px;
  }
}

div.main {
  padding-top: 100px;
  background-color: rgb(41, 42, 45);
  padding-bottom: 100px;
}

div.card-body {
  color: black;
}

div.header a {
  margin-right: 5px;
}

.blogimg {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.blogimg img {
  border-radius: 8px;
}

div.blogimg img {
  /* align-items: center; */
  height: 400px;
}

#myBtn {
  position: fixed;
  bottom: -50px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 2px 10px;
  border-radius: 4px;
  transition: 0.6s ease-in;
}

#myBtn:hover {
  background-color: #555;
}

.linkbtns a {
  max-width: 53px;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  margin: 8px;
}
.linkbtns a:hover {
  max-width: 100%;
}

/* sharing buttons  */
div.sharingBtns {
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 10;
  opacity: 0.7;
  transition: 0.2s ease-in;
}
div.sharingBtns:hover,
div.sharingBtns2:hover {
  opacity: 1;
}
div.sharingBtns a,
div.sharingBtns2 a {
  display: block;
  color: white;
  line-height: 40px;
  font-size: 17px;
  text-align: center;
  transition: 0.2s ease-in;
  border-radius: 2px;
}
div.sharingBtns .fbShare a,
div.sharingBtns2 .fbShare a {
  background-color: #314a83;
  height: 40px;
  width: 40px;
}
div.sharingBtns .twitterShare a,
div.sharingBtns2 .twitterShare a {
  background-color: #0092cc;
  height: 40px;
  width: 40px;
}
div.sharingBtns .mailShare a,
div.sharingBtns2 .mailShare a {
  background-color: rgb(245, 23, 23);
  height: 40px;
  width: 40px;
}

div.sharingBtns .linkedInShare a,
div.sharingBtns2 .linkedInShare a {
  background-color: #0f699b;
  height: 40px;
  width: 40px;
}
div.sharingBtns .redditShare a,
div.sharingBtns2 .redditShare a {
  background-color: #ff471e;
  height: 40px;
  width: 40px;
}
div.sharingBtns .tgShare a,
div.sharingBtns2 .tgShare a {
  background-color: #0088cc;
  height: 40px;
  width: 40px;
}

div.sharingBtns .fbShare:hover a {
  /* width: 50px; */
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .twitterShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .mailShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .linkedInShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .redditShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
div.sharingBtns .tgShare:hover a {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 40px;
}
/* shadow-piercer css method */
markdown ::ng-deep img {
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

div.sharingBtns2 {
  display: none;
  opacity: 0.7;
  transition: 0.2s ease-in;
}
div.sharingBtns2 a {
  margin: auto 5px;
}

.blogPostInfoBar {
  padding: 12px 12px 2px;
  margin: 0 -8px 5px;
  border-radius: 5px;
}

.blogPostInfoBar .postAuthorName {
  text-align: right;
}

/* like/dislike custom method css */
.likeDislike i {
  margin: 2px 10px;
  font-size: 20px;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.like1 {
  color: red;
  opacity: 1;
}
.dislike1 {
  color: initial;
  opacity: 0.4;
}

.like2 {
  color: initial;
  opacity: 0.4;
}
.dislike2 {
  color: red;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  div.card-header h2 {
    font-size: 25px;
  }

  .body pre {
    white-space: pre-wrap;
    /* word-break: break-all; */
  }
  div.blogimg img {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  div.main {
    padding-top: 125px;
  }

  /* shadow-piercer css method */
  markdown ::ng-deep img {
    width: auto;
    max-width: 100%;
    object-fit: contain;
  }

  /* share btns mobile css */
  div.sharingBtns {
    top: 35%;
  }
  div.sharingBtns a {
    line-height: 30px;
    font-size: 12px;
  }
  div.sharingBtns .fbShare a {
    background-color: #314a83;
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .twitterShare a {
    background-color: #0092cc;
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .mailShare a {
    background-color: rgb(245, 23, 23);
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .linkedInShare a {
    background-color: #0f699b;
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .redditShare a {
    background-color: #ff471e;
    height: 30px;
    width: 30px;
  }
  div.sharingBtns .tgShare a {
    background-color: #0088cc;
    height: 30px;
    width: 30px;
  }

  div.sharingBtns .fbShare:hover a {
    /* width: 50px; */
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .twitterShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .mailShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .linkedInShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .redditShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns .tgShare:hover a {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  div.sharingBtns2 {
    display: flex;
    justify-content: center;
  }
  div.sharingBtns {
    display: none;
  }

  .blogPostInfoBar h6 {
    font-size: 13px;
  }

  .blogPostInfoBar .postauthorName {
    text-align: left;
  }

  /* like dislike */
  .like0 {
    float: left;
  }
  .dislike0 {
    float: right;
  }

  .like1 {
    float: left;
  }
  .dislike1 {
    float: right;
  }

  .like2 {
    float: left;
  }
  .dislike2 {
    float: right;
  }
}
