<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- toasts -->
    <p-toast key="clipboard" position="top-right"></p-toast>

    <!-- background color -->
    <div
      class="content"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    ></div>

    <div
      class="main"
      [ngStyle]="{
        'background-color': brightness ? 'white' : ' rgb(41, 42, 45)'
      }"
    >
      <div class="container">
        <!-- switch to edit post -->
        <button
          *ngIf="checkUser"
          class="btn btn-info"
          style="margin-bottom: 10px"
          (click)="switchToEdit()"
        >
          Edit
        </button>

        <!-- delete post button -->
        <button
          *ngIf="checkUser"
          class="btn btn-danger"
          style="margin-bottom: 10px; margin-left: 10px"
          (click)="deletePostById()"
        >
          Delete
        </button>

        <br />
        <br />

        <!-- social sharing buttons (new) -->

        <div class="sharingBtns" *ngIf="data">
          <div class="fbShare">
            <a
              class="fbLink"
              href="https://www.facebook.com/sharer.php?u={{ blogURL }}"
              target="_blank"
            >
              <i class="fab fa-facebook-f"></i
            ></a>
          </div>
          <div class="twitterShare">
            <a
              href="https://www.twitter.com/share?text={{
                data.postTitle
              }}&url={{ blogURL }}"
              target="_blank"
            >
              <i class="fab fa-twitter"></i
            ></a>
          </div>
          <div class="mailShare">
            <a
              href="mailto:someone@example.com?subject=Heyy!%20Check%20out%20this%20Post%20!!&amp;body=%20{{
                blogURL
              }}"
              target="_blank"
            >
              <i class="fas fa-at"></i
            ></a>
          </div>

          <div class="linkedInShare">
            <a
              href="https://www.linkedin.com/shareArticle?mini=true&url={{
                blogURL
              }}"
              target="_blank"
            >
              <i class="fab fa-linkedin-in"></i
            ></a>
          </div>
          <div class="redditShare">
            <a
              href="https://www.reddit.com/submit?url={{ blogURL }}"
              target="_blank"
              ><i class="fab fa-reddit-alien"></i
            ></a>
          </div>
          <div class="tgShare">
            <a
              href="https://telegram.me/share/url?url={{ blogURL }}"
              target="_blank"
            >
              <i class="fab fa-telegram-plane"></i
            ></a>
          </div>
        </div>

        <!-- blog post -->

        <!-- Skeleton Loading animation -->

        <div
          class="customSkeleton"
          *ngIf="!data"
          [ngStyle]="{
            'background-color': brightness ? '#dc3545' : ' rgb(32, 33, 33)',
            color: brightness ? 'black' : 'rgb(160,160,160)'
          }"
        >
          <p-skeleton width="100%" height="400px"></p-skeleton>
          <br />
          <div class="floatItems">
            <div class="float-left">
              <p-skeleton width="18rem" height="3rem"></p-skeleton>
            </div>
            <div class="float-right">
              <p-skeleton width="4rem" height="3rem"></p-skeleton>
            </div>
          </div>
          <br />

          <p-skeleton width="100%" height="2rem"></p-skeleton>
          <br />
          <p-skeleton width="100%" height="700px"></p-skeleton>

          <br />
          <div class="row">
            <div class="col-sm-6">
              <p-skeleton width="100%" height="150px"></p-skeleton>
            </div>
            <div class="col-sm-6">
              <p-skeleton width="100%" height="150px"></p-skeleton>
            </div>
          </div>
        </div>

        <div
          class="blgpst"
          data-aos="fade-up"
          data-aos-delay="300"
          data-aos-duration="1000"
          *ngIf="!switchtoedit && data"
        >
          <div class="header">
            <div class="blogimg">
              <img *ngIf="data.postImage" [src]="data.postImage" />
            </div>
            <hr
              *ngIf="data"
              [ngStyle]="{
                'border-bottom': brightness
                  ? '1px groove red'
                  : '1px groove violet'
              }"
              style="margin: 10px auto; width: 70%"
            />
            <div class="row">
              <h2
                class="col-8 col-sm-8"
                *ngIf="data"
                [ngStyle]="{ color: brightness ? 'black' : 'rgb(160,160,160)' }"
              >
                #{{ data.postNumber }}: {{ data.postTitle }}
              </h2>
              <div class="col-4 col-sm-4 returnBtn" style="text-align: right">
                <a class="btn btn-warning" *ngIf="data" routerLink="/Blog/1">
                  <i class="fas fa-arrow-circle-left"></i> Blog
                </a>
              </div>
            </div>
            <div
              *ngIf="data"
              class="blogPostInfoBar"
              [ngStyle]="{
                'background-color': brightness
                  ? 'rgb(223, 223, 223)'
                  : ' rgb(32, 33, 33)',
                color: brightness ? 'black' : 'rgb(160,160,160)'
              }"
            >
              <div class="row">
                <div
                  class="col-1 col-sm-1 blogpostIcon"
                  style="
                    text-align: center;
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                  "
                  [ngStyle]="{
                    color: brightness ? 'red' : 'violet'
                  }"
                >
                  <i
                    class="far fa-file-alt"
                    style="font-size: 20px; cursor: pointer"
                    (click)="copyShareLink()"
                    pTooltip="copy post link"
                    tooltipPosition="top"
                  ></i>
                </div>

                <h6
                  class="col-4 col-sm-5 text-muted"
                  *ngIf="data"
                  style="float: left"
                  [ngStyle]="{
                    color: brightness ? 'black' : 'rgb(160,160,160)'
                  }"
                >
                  <i
                    class="fas fa-clock"
                    [ngStyle]="{
                      color: brightness ? 'red' : 'violet'
                    }"
                  ></i>
                  {{ data.postDate | date: "full" }}
                </h6>
                <!-- post edited or not -->
                <h6 *ngIf="data" class="col-2 col-sm-2">
                  <span
                    *ngIf="data.edited == true"
                    [ngStyle]="{
                      color: brightness ? 'black' : 'rgb(129,129,129)'
                    }"
                    ><i
                      class="fas fa-pencil-alt"
                      [ngStyle]="{
                        color: brightness ? 'red' : 'violet'
                      }"
                    ></i>
                    edited.</span
                  >
                </h6>
                <h6 class="col-3 col-sm-2">
                  <div class="likeDislike" *ngIf="likeSet == 0">
                    <i
                      class="fas fa-thumbs-up fa-fw like0"
                      id="like"
                      (click)="like()"
                    ></i>
                    <i
                      class="fas fa-thumbs-down dislike0"
                      id="dislike"
                      (click)="dislike()"
                    ></i>
                  </div>

                  <div class="likeDislike" *ngIf="likeSet == 1">
                    <i
                      class="fas fa-thumbs-up fa-fw like1"
                      id="like"
                      (click)="like()"
                    ></i>
                    <i
                      class="fas fa-thumbs-down dislike1"
                      id="dislike"
                      (click)="dislike()"
                    ></i>
                  </div>
                  <div class="likeDislike" *ngIf="likeSet == 2">
                    <i
                      class="fas fa-thumbs-up fa-fw like2"
                      id="like"
                      (click)="like()"
                    ></i>
                    <i
                      class="fas fa-thumbs-down dislike2"
                      id="dislike"
                      (click)="dislike()"
                    ></i>
                  </div>
                </h6>

                <h6
                  class="col-2 col-sm-2 postAuthorName"
                  *ngIf="data && data.postAuthor"
                  [ngStyle]="{
                    color: brightness ? 'black' : 'rgb(160,160,160)'
                  }"
                >
                  <i class="fas fa-code fa-fw"></i>
                  <span>
                    <a
                      href="https://krishnakantsalkar.in/About#developer"
                      target="_blank"
                      [ngStyle]="{ color: brightness ? 'red' : 'violet' }"
                      style="text-decoration: none"
                    >
                      {{ data.postAuthor }}</a
                    ></span
                  >
                </h6>
              </div>
            </div>
          </div>
          <!-- <br /> -->
          <!-- <hr
            [ngStyle]="{
              'background-color': brightness ? 'black' : 'rgb(160,160,160)'
            }"
            *ngIf="data"
          /> -->
          <div class="body">
            <div *ngIf="data">
              <div
                class="card"
                [ngStyle]="{
                  'background-color': brightness
                    ? 'rgb(245, 245, 245)'
                    : ' rgb(32, 33, 33)'
                }"
              >
                <div class="card-body">
                  <!-- blogpost -->

                  <markdown
                    *ngIf="data.postNumber <= 22"
                    [ngStyle]="{
                      color: brightness ? 'black' : 'white'
                    }"
                    class="variable-binding"
                    [data]="markdown"
                    emoji
                  ></markdown>
                  <!-- <div
                    [innerHtml]="markdown"
                    [ngStyle]="{
                      color: brightness ? 'black' : 'white'
                    }"
                  ></div> -->
                  <quill-view
                    class="quillContent"
                    *ngIf="data.postNumber > 22"
                    [ngStyle]="{
                      'background-color': brightness
                        ? 'rgb(245, 245, 245)'
                        : ' rgb(32, 33, 33)',
                      color: brightness ? 'black' : 'white'
                    }"
                    [content]="markdown"
                    theme="snow"
                  ></quill-view>

                  <br />

                  <!-- post link buttons -->
                  <div class="linkbtns" *ngIf="data.postLinks">
                    <br />
                    <h6
                      [ngStyle]="{
                        color: brightness ? 'black' : 'rgb(160,160,160)'
                      }"
                    >
                      Reference Links:
                    </h6>
                    <div class="links" *ngFor="let link of data.postLinks">
                      <a
                        class="float-left my-2 w-100"
                        href="{{ link }}"
                        target="_blank"
                      >
                        {{ link }}
                      </a>
                    </div>

                    <!-- <a
                      *ngIf="url2 && url2.length > 0"
                      class="url2 float-left btn btn-dark"
                      [href]="getLink(url2)"
                      target="_blank"
                    >
                      Link &nbsp; : {{ url2 }}
                    </a>
                    <a
                      *ngIf="url3 && url3.length > 0"
                      class="url3 float-left btn btn-dark"
                      [href]="getLink(url3)"
                      target="_blank"
                    >
                      Link &nbsp; : {{ url3 }}
                    </a>
                    <a
                      *ngIf="url4 && url4.length > 0"
                      class="url4 float-left btn btn-dark"
                      [href]="getLink(url4)"
                      target="_blank"
                    >
                      Link &nbsp; : {{ url4 }}
                    </a> -->
                  </div>
                  <br />
                  <br />
                  <div class="editedTimeStamp" *ngIf="data && data.editedDate">
                    <h6 *ngIf="data.editedDate.length > 0" class="text-muted">
                      <i class="fas fa-pencil-alt"></i> Last Edited on:
                      {{ data.editedDate }}
                    </h6>
                    <br />
                  </div>
                  <br />
                </div>
              </div>
              <br />
              <!-- social sharing buttons (new) -->

              <div class="sharingBtns2" *ngIf="data">
                <div class="fbShare">
                  <a
                    class="fbLink"
                    href="https://www.facebook.com/sharer.php?u={{ blogURL }}"
                    target="_blank"
                  >
                    <i class="fab fa-facebook-f"></i
                  ></a>
                </div>
                <div class="twitterShare">
                  <a
                    href="https://www.twitter.com/share?text={{
                      data.postTitle
                    }}&url={{ blogURL }}"
                    target="_blank"
                  >
                    <i class="fab fa-twitter"></i
                  ></a>
                </div>
                <div class="mailShare">
                  <a
                    href="mailto:someone@example.com?subject=Heyy!%20Check%20out%20this%20Post%20!!&amp;body=%20{{
                      blogURL
                    }}"
                    target="_blank"
                  >
                    <i class="fas fa-at"></i
                  ></a>
                </div>

                <div class="linkedInShare">
                  <a
                    href="https://www.linkedin.com/shareArticle?mini=true&url={{
                      blogURL
                    }}"
                    target="_blank"
                  >
                    <i class="fab fa-linkedin-in"></i
                  ></a>
                </div>
                <div class="redditShare">
                  <a
                    href="https://www.reddit.com/submit?url={{ blogURL }}"
                    target="_blank"
                    ><i class="fab fa-reddit-alien"></i
                  ></a>
                </div>
                <div class="tgShare">
                  <a
                    href="https://telegram.me/share/url?url={{ blogURL }}"
                    target="_blank"
                  >
                    <i class="fab fa-telegram-plane"></i
                  ></a>
                </div>
              </div>

              <br />
              <!-- next and previous post navigation -->
              <div class="nextPrevNav">
                <div class="row">
                  <div class="col-6 col-sm-6">
                    <div
                      class="card"
                      *ngIf="prevPostData"
                      [ngStyle]="{
                        'background-color': brightness
                          ? 'rgb(223, 223, 223)'
                          : ' rgb(32, 33, 33)'
                      }"
                      style="cursor: pointer"
                      (click)="
                        navigate(
                          prevPostData.postNumber,
                          prevPostData.postTitle,
                          prevPostData._id
                        )
                      "
                    >
                      <div class="card-body">
                        <h5
                          [ngStyle]="{
                            color: brightness ? 'black' : 'rgb(129,129,129)'
                          }"
                        >
                          <i class="fas fa-arrow-left"></i> Previous,
                          <span
                            [ngStyle]="{
                              color: brightness ? 'red' : 'violet'
                            }"
                            >{{ prevPostData.postTitle }}
                          </span>
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6">
                    <div
                      class="card"
                      *ngIf="nextPostData"
                      [ngStyle]="{
                        'background-color': brightness
                          ? 'rgb(223, 223, 223)'
                          : ' rgb(32, 33, 33)'
                      }"
                      style="cursor: pointer"
                      (click)="
                        navigate(
                          nextPostData.postNumber,
                          nextPostData.postTitle,
                          nextPostData._id
                        )
                      "
                    >
                      <div class="card-body">
                        <h5
                          [ngStyle]="{
                            color: brightness ? 'black' : 'rgb(129,129,129)'
                          }"
                        >
                          <span
                            [ngStyle]="{
                              color: brightness ? 'red' : 'violet'
                            }"
                            >{{ nextPostData.postTitle }}</span
                          >
                          Next <i class="fas fa-arrow-right"></i>
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br />

              <!-- disqus comments -->
              <disqus [identifier]="pageId"></disqus>
            </div>
          </div>
          <h3
            *ngIf="checkUser"
            [ngStyle]="{ color: brightness ? 'black' : 'rgb(160,160,160)' }"
          >
            Admin: {{ adminName }} 😎
          </h3>
        </div>
      </div>

      <!-- edit post menu -->
      <div class="container">
        <div class="editpostmenu" *ngIf="switchtoedit">
          <div class="container">
            <div class="header">
              <h3
                [ngStyle]="{ color: brightness ? 'black' : 'rgb(160,160,160)' }"
              >
                <i class="fas fa-edit"></i> Edit post
              </h3>
            </div>
            <article class="card-body">
              <form
                [formGroup]="newEdit"
                (ngSubmit)="editPostById(newEdit.value)"
              >
                <div class="form-group">
                  <h6
                    [ngStyle]="{
                      color: brightness ? 'black' : 'rgb(160,160,160)'
                    }"
                  >
                    Title: {{ data.postTitle }}
                  </h6>
                  <div class="form-row">
                    <label>Post Title</label>

                    <input
                      type="text"
                      class="form-control"
                      placeholder="Title"
                      formControlName="postTitle"
                    />
                    <p
                      [ngStyle]="{
                        color: brightness ? 'black' : 'rgb(160,160,160)'
                      }"
                    >
                      {{ data.postTitle.value }}
                    </p>
                  </div>
                  <br />
                  <pre
                    [ngStyle]="{
                      color: brightness ? 'black' : 'rgb(160,160,160)'
                    }"
                  >
Post: {{ data.post }}</pre
                  >
                  <div class="form-row">
                    <label>Post Content</label>
                    <textarea
                      type="text"
                      class="form-control"
                      placeholder="Content"
                      formControlName="post"
                      id="postContentMd"
                    ></textarea>
                  </div>
                  <br />
                  <h6
                    [ngStyle]="{
                      color: brightness ? 'black' : 'rgb(160,160,160)'
                    }"
                  >
                    current: {{ data.postLink }}
                  </h6>
                  <div class="form-row">
                    <label>Post Link</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Link"
                      formControlName="postLink"
                    />
                  </div>
                </div>
                <button
                  type="reset"
                  class="btn btn-primary cancel"
                  style="margin-right: 10px"
                  (click)="switchToEdit()"
                >
                  Cancel
                </button>
                <button type="submit" class="btn btn-success">Submit</button>
              </form>
              <hr />
              <br />

              <h3>
                Post Markdown Preview:
                <button class="btn btn-dark" (click)="getPostPreview()">
                  show
                </button>
              </h3>
              <br />

              <!-- markdown preview -->
              <markdown
                *ngIf="previewMarkdown"
                class="variable-binding"
                [data]="previewMarkdown"
                emoji
              ></markdown>
            </article>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer area -->
    <app-footer></app-footer>
  </body>
</html>
