<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body
    [ngStyle]="{
      'background-color': brightness
        ? 'rgb(243, 243, 243)'
        : ' rgb(33, 35, 35)',
      color: brightness ? 'black' : 'white'
    }"
  >
    <div class="container">
      <div class="disclaimerCard">
        <div
          class="card"
          [ngStyle]="{
            'background-color': brightness
              ? 'rgb(243, 243, 243)'
              : ' rgb(41, 42, 45)',
            color: brightness ? 'black' : 'white'
          }"
        >
          <div class="card-header">
            <h3>Disclaimer</h3>
          </div>
          <div class="card-body">
            <p>
              If you require any more information or have any questions about
              our site's disclaimer, please feel free to contact us by email at
              <strong
                style="
                  padding: 10px;

                  border-radius: 7px;
                  display: inline-block;
                "
                [ngStyle]="{
                  'background-color': brightness
                    ? '#d4edda'
                    : ' rgb(59, 60, 60)',
                  color: brightness ? 'black' : 'white'
                }"
                >dev@krishnakantsalkar.in</strong
              >
            </p>

            <h2>Disclaimers for www.krishnakantsalkar.in</h2>

            <p>
              All the information on this website - www.krishnakantsalkar.in -
              is published in good faith and for general information purpose
              only. www.krishnakantsalkar.in does not make any warranties about
              the completeness, reliability and accuracy of this information.
              Any action you take upon the information you find on this website
              (www.krishnakantsalkar.in), is strictly at your own risk.
              www.krishnakantsalkar.in will not be liable for any losses and/or
              damages in connection with the use of our website.
            </p>

            <p>
              From our website, you can visit other websites by following
              hyperlinks to such external sites. While we strive to provide only
              quality links to useful and ethical websites, we have no control
              over the content and nature of these sites. These links to other
              websites do not imply a recommendation for all the content found
              on these sites. Site owners and content may change without notice
              and may occur before we have the opportunity to remove a link
              which may have gone 'bad'.
            </p>

            <p>
              Please be also aware that when you leave our website, other sites
              may have different privacy policies and terms which are beyond our
              control. Please be sure to check the Privacy Policies of these
              sites as well as their "Terms of Service" before engaging in any
              business or uploading any information.
            </p>

            <h2>Consent</h2>

            <p>
              By using our website, you hereby consent to our disclaimer and
              agree to its terms.
            </p>

            <h2>Update</h2>

            <p>
              Should we update, amend or make any changes to this document,
              those changes will be prominently posted here.
            </p>
          </div>
          <div class="card-footer">
            <h6>
              <p>
                Our Disclaimer was generated with the help of the
                <a href="https://www.disclaimergenerator.net/"
                  >Disclaimer Generator</a
                >.
              </p>
            </h6>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <app-footer></app-footer>
  </body>
</html>
