.disclaimerCard {
  margin: 60px auto 0px;
  padding-bottom: 60px;
}

.disclaimerCard .header {
  text-align: center;
  margin-bottom: 60px;
}

.container {
  padding-top: 100px;
}

@media (max-width: 767px) {
  .disclaimerCard {
    word-break: break-word !important;
  }
  .disclaimerIntro {
    font-size: 24px !important;
  }
}
